<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>prdtInsp.html</title>
</head>
<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">제품검사관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 품질관리</li>
				<li class="breadcrumb-item active">> 제품검사관리</li>
			</ol>
			<!-- 탭 메뉴 -->
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-insp-tab" data-bs-toggle="tab" data-bs-target="#nav-insp" type="button"
						role="tab" aria-controls="nav-insp" aria-selected="true">제품검사 등록</button>
					<button class="nav-link" id="nav-info-tab" data-bs-toggle="tab" data-bs-target="#nav-info"
						type="button" role="tab" aria-controls="nav-info" aria-selected="false">제품검사 조회</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<!-- 검사등록 탭 -->
				<div class="tab-pane fade show active" id="nav-insp" role="tabpanel" aria-labelledby="nav-insp-tab">
					<!-- 내용 -->
					<div class="card mb-4">
            <div class="card-body">
            	<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="newBtn"><i class="fas fa-file"></i> 새자료</button>
								<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
								<!--/* <button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button> */-->
								<br> <br>
							</div>
							<form id="dataForm" name="dataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>주문번호 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="orderNo" name="orderNo" style="width: 250px" maxlength="20"
												placeholder="주문서를 조회해주세요" readonly />
												<!-- Button trigger modal -->
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalBtn"><i class="fas fa-search"></i></button>
												</td>
											<th>완제품코드 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsCd" name="edctsCd" style="width: 250px" maxlength="20" readonly /></td>
											<th>완제품명 </th>
											<td><input class="form-control" type="text" id="edctsNm" name="edctsNm" style="width: 250px" maxlength="50" readonly /></td>
										</tr>
										<tr>
											<th>완제품LOT <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsLotNo" name="edctsLotNo" style="width: 250px" maxlength="50" readonly /></td>
											<th>검사수량</th>
											<td><input class="form-control" type="text" id="inspCnt" name="inspCnt" style="width: 250px" maxlength="50" readonly /></td>
											<th></th>
											<td></td>
										</tr>
										<tr>
											<th>검사일자</th>
											<td><input class="form-control" type="date" id="inspDt" name="inspDt" style="width: 250px" maxlength="50" /></td>
											<th>검사담당자</th>
											<td><input type="text" id="inspPsch" name="inspPsch" class="form-control" maxlength="50" style="width: 250px" /></td>
											<th>최종판정 <strong class="blue">*</strong></th>
											<td><select class="dataTable-selector" name="inspJm" id="inspJm" style="width: 250px">
													<option selected value="">==선택==</option>  
													<option value="적합">적합</option>
													<option value="적합">부적합</option></td>
										</tr>
									</tbody>
								</table>
							</form>
            </div>
        	</div>
					<!-- 주문서 Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-xl">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">주문서 목록</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					      	<label for="" autofocus="autofocus">거래처명</label> <input type="text" class="form-control"
									id="modalSearch" name="modalSearch" style="width: 200px">
									<button class="btn btn-primary" id="modalSearchBtn"><i class="fas fa-search"></i> 검색</button>
									<br><br>
					        <div id="modalGrid"></div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					        <button type="button" class="btn btn-primary" id="modalSelBtn">확인</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- 모달 끝 -->
        	<div class="card mb-4">
            <div class="card-body">
            	<div id="grid"></div>
            </div>
        	</div>
				</div>
				<!-- 검사조회 탭 -->
				<div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
					<!-- 내용 -->
					<div class="card mb-4">
            <div class="card-body">
            	<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> 조회</button>
            		<button class="btn btn-primary" id="resetBtn"><i class="fas fa-file"></i> 초기화</button>
            		<button class="btn btn-primary" id="excelBtn"><i class="fas fa-download"></i> Excel</button>
								<br> <br>
							</div>
							<form id="dataForm2" name="dataForm2" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>검사일자 <strong class="blue">*</strong></th>
											<td colspan="3">
												<input class="form-control" type="date" id="startDt" name="startDt" style="width: 250px" maxlength="20" /> &nbsp; ~ &nbsp;
												<input class="form-control" type="date" id="endDt" name="endDt" style="width: 250px" maxlength="20" /></td>
											<th><td></td></th>
										</tr>
										<tr>
											<th>완제품LOT <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" list="browserdata" id="edctsLotNo" name="edctsLotNo" style="width: 250px" maxlength="50" autocomplete="off" />
													<datalist id="browserdata" style="width: 250px">
													<option th:each="lot : ${lots}" th:value="${lot.edctsLotNo}" th:text="${lot.edctsLotNo}"></option>
													</datalist>
											</td>
											<th><td></td></th>
											<th><td></td></th>	
										</tr>
									</tbody>
								</table>
							</form>
            </div>
        	</div>
        	<div class="card mb-4">
            <div class="card-body">
            	<div id="grid2"></div>
            </div>
        	</div>
				</div><!-- end nav-tabContent -->
				<!-- 성적서 모달 -->
				<div class="modal fade" id="inspModal" tabindex="-1" aria-labelledby="inspModalLabel" aria-hidden="true">
				  <div class="modal-dialog modal-xl">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="inspModalLabel">검사상세조회</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				      </div>
				      <div class="modal-body">
				      	<form action="prdtInspPdf" method="post">
				      	<label for="inspModalNo" autofocus="autofocus">LOT </label>  <input type="text" class="form-control" id="inspModalNo" name="param" style="width: 200px" readonly />
								<button class="btn btn-primary" id="pdfBtn"><i class="fas fa-download"></i> 성적서</button>
								</form>
								<br><br>
				        <div id="inspModalGrid"></div>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
				        <button type="button" class="btn btn-primary" id="inspModalSelBtn">확인</button>
				      </div>
				    </div>
				  </div>
				</div><!-- 성적서 모달 end -->
			</div>
		</div>
		
		<script>
		 const grid = new tui.Grid({
		     el: document.getElementById('grid'),
		     scrollX: false,
		     bodyHeight: 250,
		     rowHeaders: ['checkbox'],
		     columns: [{
		         header: '검사코드',
		         name: 'inspCd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사명',
		         name: 'inspNm',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사기준',
		         name: 'inspSd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사결과',
		         name: 'inspRsltDtl',
		         align: 'center',
		         editor: 'text',
		         validation: {
		             required: true
		         },
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '결과판정',
		         name: 'inspJmDtl',
		         align: 'center',
		         validation: {
		             required: true
		         },
		         editor: {
		             type: 'select',
		             options: {
		               listItems: [
		                 { text: '적합', value: '적합' },
		                 { text: '부적합', value: '부적합' },
		               ]
		             }
		           },
		         sortable: true,
		         sortingType: 'desc'
		     }]
		 });
		
		//날짜 오늘날짜로 셋팅
		//$('#inspDt').valueAsDate = new Date();
		document.getElementById('inspDt').valueAsDate = new Date();
		
		//생산완료 주문서 모달 그리드
    const modalGrid = new tui.Grid({
      el: document.getElementById('modalGrid'),
      scrollX: false,
      bodyHeight: 300,
      rowHeight: 35,
      rowHeaders: ['checkbox'],
      header: {
        height: 40
      },
      columns: [
        {
          header: '주문번호',
          name: 'orderNo'
        },
        {
          header: '거래처',
          name: 'vendNm'
        },
        {
          header: '제품코드',
          name: 'edctsCd'
        },
        {
	      header: '제품명',
	      name: 'prdtNm'
	     },
	     {
			  header: '주문수량',
			  name: 'orderCnt'
		  }]
    });
	
		//모달창 버튼 클릭
		$('#modalBtn').click( ev => {
			$.ajax({
		    url: "prdtInspOrder",
		    method: "POST",
		    dataType: "JSON",
		    success: function (result) {
		    	setTimeout(function () {
		    		modalGrid.refreshLayout()
		    		}, 300);
		    	modalGrid.resetData(result);
		    }
			})
		})
		
		//체크된 셀 하이라이팅
		modalGrid.on('check', (ev) => {
			 modalGrid.addRowClassName(ev.rowKey, 'highlight2');
		 });
		
		modalGrid.on('uncheck', (ev) => {
			modalGrid.removeRowClassName(ev.rowKey, 'highlight2');
		 });
		 
		//주문서 모달 확인버튼
		$('#modalSelBtn').click(ev => {
			var inspSelect = modalGrid.getCheckedRows()[0]
			insertModalGrid(inspSelect);
		})
		
		//주문서 모달 더블클릭
		modalGrid.on('dblclick', (ev) => {
			var orderGetRow = modalGrid.getRow(ev.rowKey);
			insertModalGrid(orderGetRow);
		})
		
		//주문서 모달 폼에 출력
		function insertModalGrid(row) {
			$('#orderNo').val(modalGrid.getValue(row.rowKey, "orderNo"));
			$('#edctsCd').val(modalGrid.getValue(row.rowKey, "edctsCd"));
			$('#edctsNm').val(modalGrid.getValue(row.rowKey, "prdtNm"));
			$('#edctsLotNo').val(modalGrid.getValue(row.rowKey, "edctsLotNo"));
			$('#inspCnt').val(modalGrid.getValue(row.rowKey, "orderCnt"));
			$('#exampleModal').modal('hide');
			
			//검사항목 로드 
	 		$.ajax({
		    url: "getInspCode",
		    method: "POST",
		    dataType: "JSON",
		    success: function (result) {
		    	setTimeout(function () {
		    		grid.refreshLayout()
		    		}, 300);
		    	grid.resetData(result);
		    }
			});
		}
		
		//체크
	 grid.on('editingStart', ev => {
			grid.check(ev.rowKey);
			grid.setValue(ev.rowKey, "edctsLotNo", $('#edctsLotNo').val());
	 })
		
		//초기화버튼
		$('#newBtn').click(ev => {
			$('#dataForm')[0].reset();
			grid.clear();
		})
		
		//전체 삭제
		/* $('#delBtn').click(ev => {
		  $.ajax({
			 	url: "delVend",
			  method: "POST",
	      data: $('#dataForm').serialize(),
	      dataType: 'json',
			    success: function (result) {
			    	toastr.success('정상적으로 삭제되었습니다.');
			    	grid.resetData(result);
			    }
			})
 		}); */
 		
 		
 		//form 데이터 obj로 만들기
 		$.fn.serializeObject = function() {
    var obj = null;
    try {
        if ( this[0].tagName && this[0].tagName.toUpperCase() == "FORM" ) {
            var arr = this.serializeArray();
            if ( arr ) {
                obj = {};
                jQuery.each(arr, function() {
                    obj[this.name] = this.value;
                });            
            }
        }
    }
    catch(e) {alert(e.message);}
    finally  {}
    return obj;
		};

		var datas = grid.getCheckedRows();
		datas.unshift($('#dataForm').serializeObject());
 		
 		//저장
 		$('#saveBtn').click(ev => {
 			if ($('#inspJm').val() == '') {
 				toastr.warning('최종판정은 필수 값입니다.');
 			} else { 			
	 			$.ajax({
				 	url: "savePrdtInsp",
				  method: "POST",
		      data: JSON.stringify(datas),
		      dataType: 'json',
		      contentType: 'application/json',
				    success: function (result) {
				    	toastr.success('정상적으로 저장되었습니다.');
				    	grid.resetData(result);
				    }
				});
 			}
 		})
 		
 		
 		//조회 그리드
 		const grid2 = new tui.Grid({
	     el: document.getElementById('grid2'),
	     scrollX: false,
	     bodyHeight: 300,
	     rowHeaders: ['rowNum'],
	     columns: [{
	         header: '완제품LOT번호',
	         name: 'edctsLotNo',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }, {
	         header: '제품코드',
	         name: 'edctsCd',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }, {
	         header: '제품명',
	         name: 'prdtNm',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }, {
	         header: '최종판정',
	         name: 'inspJm',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }, {
	         header: '검사날짜',
	         name: 'inspDt',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }, {
	         header: '검사자',
	         name: 'inspPsch',
	         align: 'center',
	         sortable: true,
	         sortingType: 'desc'
	     }]
		 });
		 
		  //레이아웃 재배치
		 $('#nav-info-tab').click(ev => {
			 setTimeout(function () {
		   		grid2.refreshLayout()
		   }, 200);
		 });
		 $('#nav-insp-tab').click(ev => {
			 setTimeout(function () {
		   		grid.refreshLayout()
		   }, 200);
		 });
		 
		 //조회결과 로드
		 $('#searchBtn').click( ev => {
			 $.ajax({
			    url: "getPrdtInsp",
			    method: "POST",
			    data : $('#dataForm2').serialize(),
			    dataType: "JSON",
			    success: function (result) {
			    	setTimeout(function () {
			    		grid.refreshLayout()
			    		}, 300);
			    	grid2.resetData(result);
			    }
				})	 
		 });
		 
		 //성적서 모달 그리드
 		const inspModalGrid = new tui.Grid({
	     el: document.getElementById('inspModalGrid'),
		     scrollX: false,
		     bodyHeight: 250,
		     rowHeaders: ['rowNum'],
		     columns: [{
		         header: '검사코드',
		         name: 'inspCd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사명',
		         name: 'inspNm',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사기준',
		         name: 'inspSd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사결과',
		         name: 'inspRsltDtl',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '결과판정',
		         name: 'inspJmDtl',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }]
		 });
		 
		 //조회 초기화버튼
		$('#resetBtn').click(ev => {
			$('#dataForm2')[0].reset();
			grid2.clear();
		})
		
		grid2.on('click', ev => {
		 	var edctsLotNo = grid2.getValue(ev.rowKey, "edctsLotNo")
		 	$('#inspModal').modal('show');
		 	$('#inspModalNo').val(edctsLotNo);
		 	$.ajax({
			    url: "getPrdtInspDtl",
			    method: "POST",
			    data : {edctsLotNo : edctsLotNo},
			    dataType: "JSON",
			    success: function (result) {
			    	setTimeout(function () {
			    		inspModalGrid.refreshLayout()
			    		}, 300);
			    	inspModalGrid.resetData(result);
			    }
				})
		 });
		 
		 $('#excelBtn').click(ev => {
		 	var f = document.getElementById('dataForm2')
		 		f.action = "prdtInspExel"
		 		f.submit();
		 })
		</script>
	</th:block>
</body>
</html>