<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>ccds.html</title>
</head>
<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">제품검사관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 품질관리</li>
				<li class="breadcrumb-item active">> 제품검사관리</li>
			</ol>
			<!-- 탭 메뉴 -->
			<nav>
				<div class="nav nav-tabs" id="nav-tab" role="tablist">
					<button class="nav-link active" id="nav-codes-tab" data-bs-toggle="tab" data-bs-target="#nav-codes" type="button"
						role="tab" aria-controls="nav-codes" aria-selected="true">제품검사 등록</button>
					<button class="nav-link" id="nav-cdInfo-tab" data-bs-toggle="tab" data-bs-target="#nav-cdInfo"
						type="button" role="tab" aria-controls="nav-cdInfo" aria-selected="false">제품검사 조회</button>
				</div>
			</nav>
			<div class="tab-content" id="nav-tabContent">
				<!-- 검사등록 탭 -->
				<div class="tab-pane fade show active" id="nav-codes" role="tabpanel" aria-labelledby="nav-codes-tab">
					<!-- 내용 -->
					<div class="card mb-4">
            <div class="card-body">
            	<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="newBtn"><i class="fas fa-file"></i> 새자료</button>
								<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
								<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
								<br> <br>
							</div>
							<form id="dataForm" name="dataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>주문코드 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="orderCd" name="orderCd" style="width: 250px" maxlength="20"
												placeholder="주문서를 조회해주세요" readonly />
												<!-- Button trigger modal -->
												<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="modalBtn"><i class="fas fa-search"></i></button>
												</td>
											<th>완제품코드 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsCd" name="edctsCd" style="width: 250px" maxlength="20" readonly /></td>
											<th>완제품명 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsNm" name="edctsNm" style="width: 250px" maxlength="50" readonly /></td>
										</tr>
										<tr>
											<th>완제품LOT <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsLotNo" name="edctsLotNo" style="width: 250px" maxlength="50" readonly /></td>
											<th>검사일자</th>
											<td><input class="form-control" type="date" id="inspDt" name="inspDt" style="width: 250px" maxlength="50" /></td>
											<th>검사담당자</th>
											<td><input type="text" id="inspPsch" name="inspPsch" class="form-control" maxlength="50" style="width: 250px" /></td>
										</tr>
									</tbody>
								</table>
							</form>
            </div>
        	</div>
					<!-- 주문서 Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					  <div class="modal-dialog modal-xl">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">주문서 목록</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					      	<label for="" autofocus="autofocus">거래처명</label> <input type="text" class="form-control"
									id="modalSearch" name="modalSearch" style="width: 200px">
									<button class="btn btn-primary" id="modalSearchBtn"><i class="fas fa-search"></i> 검색</button>
									<br><br>
					        <div id="modalGrid"></div>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					        <button type="button" class="btn btn-primary" id="modalSelBtn">확인</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- 모달 끝 -->
        	<div class="card mb-4">
            <div class="card-body">
            	<div id="grid"></div>
            </div>
        	</div>
				</div>
				<!-- 검사조회 탭 -->
				<div class="tab-pane fade" id="nav-cdInfo" role="tabpanel" aria-labelledby="nav-cdInfo-tab">
					<!-- 내용 -->
					<div class="card mb-4">
            <div class="card-body">
            	<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> 조회</button>
								<button class="btn btn-primary" id="newBtn"><i class="fas fa-file"></i> 새자료</button>
								<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
								<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
								<br> <br>
							</div>
							<form id="dataForm" name="dataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 90px">
										<col>
										<col style="width: 90px">
										<col>
										<col style="width: 90px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>검사일자 <strong class="blue">*</strong></th>
											<td colspan="5">
												<input class="form-control" type="date" id="vendCd" name="vendCd" style="width: 250px" maxlength="20" /> ~
												<input class="form-control" type="date" id="vendCd" name="vendCd" style="width: 250px" maxlength="20" /></td>
										</tr>
										<tr>
											<th>LOT</th>
											<td><input class="form-control" type="text" id="bizno" name="bizno" style="width: 250px" maxlength="50" /></td>
											<th>제품명</th>
											<td><input class="form-control" type="text" id="telno" name="telno" style="width: 250px" maxlength="50" /></td>
											<th>제품명</th>
											<td><input class="form-control" type="text" id="telno" name="telno" style="width: 250px" maxlength="50" /></td>
										</tr>
									</tbody>
								</table>
							</form>
            </div>
        	</div>
        	<div class="card mb-4">
            <div class="card-body">
            	<h1>검사조회 그리드 영역</h1> 
            </div>
        	</div>
				</div><!-- end nav-tabContent -->
			</div>
		</div>
		<script>
		
		 const grid = new tui.Grid({
		     el: document.getElementById('grid'),
		     scrollX: false,
		     bodyHeight: 300,
		     rowHeaders: ['checkbox'],
		     columns: [{
		         header: '검사코드',
		         name: 'inspCd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사명',
		         name: 'inspNm',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사기준',
		         name: 'inspSd',
		         align: 'center',
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '검사결과',
		         name: 'inspRsltDtl',
		         align: 'center',
		         editor: 'text',
		         validation: {
		             required: true
		         },
		         sortable: true,
		         sortingType: 'desc'
		     }, {
		         header: '결과판정',
		         name: 'inspJm',
		         align: 'center',
		         validation: {
		             required: true
		         },
		         editor: {
		             type: 'select',
		             options: {
		               listItems: [
		                 { text: '적합', value: '적합' },
		                 { text: '부적합', value: '부적합' },
		               ]
		             }
		           },
		         sortable: true,
		         sortingType: 'desc'
		     }]
		 });
		
		//날짜 오늘날짜로 셋팅
		//$('#inspDt').valueAsDate = new Date();
		document.getElementById('inspDt').valueAsDate = new Date();
		
		//생산완료 주문서 모달 그리드
    const modalGrid = new tui.Grid({
      el: document.getElementById('modalGrid'),
      scrollX: false,
      bodyHeight: 300,
      rowHeight: 35,
      rowHeaders: ['checkbox'],
      header: {
        height: 40
      },
      columns: [
        {
          header: '주문번호',
          name: 'orderNo'
        },
        {
          header: '거래처',
          name: 'vendNm'
        },
        {
          header: '제품코드',
          name: 'edctsCd'
        },
        {
	      header: '제품명',
	      name: 'prdtNm'
	     },
	     {
			  header: '주문수량',
			  name: 'orderCnt'
		  }]
    });
	
		//모달창 버튼 클릭
		$('#modalBtn').click( ev => {
			$.ajax({
		    url: "prdtInspOrder",
		    method: "POST",
		    dataType: "JSON",
		    success: function (result) {
		    	setTimeout(function () {
		    		modalGrid.refreshLayout()
		    		}, 300);
		    	modalGrid.resetData(result);
		    }
			})
		})
		
		//체크된 셀 하이라이팅
		modalGrid.on('check', (ev) => {
			 modalGrid.addRowClassName(ev.rowKey, 'highlight2');
		 });
		
		modalGrid.on('uncheck', (ev) => {
			modalGrid.removeRowClassName(ev.rowKey, 'highlight2');
		 });
		 
		//주문서 모달 확인버튼
		$('#modalSelBtn').click(ev => {
			var inspSelect = modalGrid.getCheckedRows()[0]
			insertModalGrid(inspSelect);
		})
		
		//주문서 모달 더블클릭
		modalGrid.on('dblclick', (ev) => {
			var orderGetRow = modalGrid.getRow(ev.rowKey);
			insertModalGrid(orderGetRow);
		})
		
		//주문서 모달 그리드에 출력
		function insertModalGrid(row) {
			$('#orderCd').val(modalGrid.getValue(row.rowKey, "orderNo"));
			$('#edctsCd').val(modalGrid.getValue(row.rowKey, "edctsCd"));
			$('#edctsNm').val(modalGrid.getValue(row.rowKey, "prdtNm"));
			$('#exampleModal').modal('hide');
			//검사항목 로드 
	 		$.ajax({
		    url: "getInspCode",
		    method: "POST",
		    dataType: "JSON",
		    success: function (result) {
		    	setTimeout(function () {
		    		grid.refreshLayout()
		    		}, 300);
		    	grid.resetData(result);
		    }
			});
		}
		
		//초기화버튼
		$('#newBtn').click(ev => {
			$('#dataForm')[0].reset();
			grid.clear();
		})
		
		//전체 삭제
		$('#delBtn').click(ev => {
		  $.ajax({
			 	url: "delVend",
			  method: "POST",
	      data: $('#dataForm').serialize(),
	      dataType: 'json',
			    success: function (result) {
			    	toastr.success('정상적으로 삭제되었습니다.');
			    	grid.resetData(result);
			    }
			})
 		});
 		
 		//수정&저장
		</script>
	</th:block>
</body>
</html>