<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.indica.mapper.IndicaMapper">
<select id="planListModal" resultType="com.rezzo.mes.prod.indica.service.IndicaVO">
SELECT DISTINCT D.EDCTS_CD,D.PLAN_CD, P.PAPRD_DT, D.LINE_CD, D.ORDER_CNT, D.INDICA_CNT, PRDT_NM, PREF_RANK, WK_FR_DT,BOM_CD
FROM PLAN_DTL D 
JOIN PLAN P
ON P.PLAN_CD = D.PLAN_CD
JOIN EDCTS E
ON D.EDCTS_CD = E.EDCTS_CD
JOIN BOM B
ON B.EDCTS_CD = E.EDCTS_CD 
WHERE P.NOW_ST = '미진행'
</select>

<select id="getRsc" resultType="com.rezzo.mes.prod.indica.service.IndicaVO">
SELECT B.PRCS_CD, B.RSC_CD, L.LOT_CD, L.LOT_RMN_CNT, L.HOLD_CNT, B.USE_CNT
FROM  BOM B
JOIN  RSC_LOT L
ON B.RSC_CD = L.RSC_CD
WHERE B.EDCTS_CD = #{edctsCd}
</select>

<insert id="indicaDtlInsert" parameterType="com.rezzo.mes.prod.indica.service.IndicaVO">
INSERT INTO INDICA_DTL 
VALUES ( 
		#{indicaDt}, 
		#{planCd}, 
		#{orderCnt}, 
		#{wkFrDt}, 
		#{lineCd},
		#{linePsch},
		#{indicaCnt},
		#{edctsCd},
		#{bomCd}
		
		)
</insert>
<insert id="indicaInsert" parameterType="com.rezzo.mes.prod.indica.service.IndicaVO">
INSERT INTO INDICA
VALUES (
		#{indicaDt},
		#{planCd},
		#{prefRank},
		'미지시'
)
</insert>

<update id="updatePlan">
UPDATE PLAN
SET NOW_ST='진행'
WHERE PLAN_CD=#{planCd}
</update>


<select id="getIndicaList" resultType="com.rezzo.mes.prod.indica.service.IndicaVO">
	SELECT D.LINE_CD, D.EDCTS_CD, D.INDICA_CNT, D.ORDER_CNT, D.WK_FR_DT, E.PRDT_NM, I.INDICA_DT
	FROM INDICA_DTL D
	JOIN EDCTS E
	ON D.EDCTS_CD = E.EDCTS_CD
	JOIN INDICA I 
	ON I.INDICA_DT = D.INDICA_DT
	<![CDATA[
	WHERE I.INDICA_DT >= #{indicaDt}
	  AND I.INDICA_DT <= #{indicaDt2}
	]]>
	 <choose>
    <when test='nowSt.equals("전체")'>
     AND (I.NOW_ST = '미지시'
        or I.NOW_ST = '지시')
    </when>
    <otherwise>
     AND I.NOW_ST = #{nowSt}
    </otherwise>
  </choose>
	AND E.PRDT_NM = #{prdtNm}
</select>

<delete id="deleteIndica" parameterType="com.rezzo.mes.prod.indica.service.IndicaVO" >
DELETE FROM INDICA
WHERE INDICA_DT = #{indicaDt3}
</delete>

<delete id="deleteIndicaDtl" parameterType="com.rezzo.mes.prod.indica.service.IndicaVO">
DELETE FROM INDICA_DTL
WHERE INDICA_DT = #{indicaDt3}
</delete>
</mapper>