<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.plan.mapper.PlanMapper">

<select id="orderListModal" resultType="com.rezzo.mes.prod.plan.service.PlanVO">
	SELECT *
	FROM ORDER_SHEET
	WHERE PROG_APPE='접수완료'
</select>

<select id="getIndex" resultType="PlanVO">
SELECT NVL(LPAD(MAX(SUBSTR(PLAN_CD, 12))+1, 3, '0'), 0) as "index"
	FROM PLAN
	WHERE PLAN_DT = #{planDt}
</select>
 
<select id="getPrcsFlow" resultType="PlanVO" >
	SELECT B.PRCS_CD, P.PRCS_NM, B.EDCTS_CD
	FROM BOM B
	JOIN PRCS P
	ON B.PRCS_CD = P.PRCS_CD
	WHERE EDCTS_CD = #{edctsCd}
</select>

<select id="getRscInfo" resultType="com.rezzo.mes.prod.plan.service.PlanVO">
	SELECT R.RSC_CD, R.LOT_CD, R.LOT_RMN_CNT, B.USE_CNT, B.PRCS_CD
	FROM RSC_LOT R
	JOIN BOM B
	ON R.RSC_CD = B.RSC_CD
	WHERE EDCTS_CD = #{edctsCd}
</select> 

<insert id="grid1Insert" parameterType="PlanVO">
	insert into plan (plan_cd,
					  paprd_Dt,	
					  now_st,
					  plan_dt,
					  order_no	
					)
	values (#{planCd},
			#{paprdDt},
			'미진행',
			#{planDt},
			#{orderNo}
			)
</insert>
 
<insert id="grid2Insert" parameterType="PlanVO">
	insert into plan_dtl 
	values (#{planDt},
			#{lineCd},
			#{edctsCd},
			#{orderCnt},
			#{indicaCnt},
			#{planCd},
			#{wkToDt},
			#{wkFrDt},
			#{prefRank}
			)
</insert>

<insert id="grid5Update" parameterType="PlanVO">
	UPDATE RSC_LOT 
	SET HOLD_CNT=#{holdCnt} 
	WHERE LOT_CD = #{lotCd}
</insert>

<update id="orderUpdate" parameterType="com.rezzo.mes.prod.plan.service.PlanVO">
UPDATE ORDER_SHEET 
SET PROG_APPE='계획완료'
WHERE ORDER_NO = #{orderNo}
</update>

</mapper>