<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.pdtl.mapper.PlanSrhMapper">

<select id="getList" resultType="com.rezzo.mes.prod.pdtl.service.PlanSrhVO">
	SELECT P.PLAN_CD, P.LINE_CD, P.EDCTS_CD, P.ORDER_CNT, P.INDICA_CNT, P.WK_FR_DT, E.PRDT_NM, N.NOW_ST
	FROM PLAN_DTL P
	JOIN EDCTS E
	ON P.EDCTS_CD = E.EDCTS_CD
	JOIN PLAN N
	ON N.PLAN_CD = P.PLAN_CD
	<if test="planDt != null and planDt2 != null">
	<![CDATA[
	WHERE P.PLAN_DT >= #{planDt}
	  AND P.PLAN_DT <= #{planDt2}
	]]>
	</if>
	<if test="nowSt != null">
	 <choose>
    <when test='nowSt.equals("전체")'>
     AND (N.NOW_ST = '미진행'
        or N.NOW_ST = '진행')
    </when>
    <otherwise>
     AND N.NOW_ST = #{nowSt}
    </otherwise>
  </choose>
  </if>
   <if test="prdtNm != null">
	AND E.PRDT_NM LIKE '%'||#{prdtNm}||'%'
	</if>
</select>

<delete id="deletePlan" parameterType="com.rezzo.mes.prod.pdtl.service.PlanSrhVO" >
DELETE FROM PLAN
WHERE PLAN_CD = #{planCd}
AND NOW_ST != '진행'
</delete>

<delete id="deletePlanDtl" parameterType="com.rezzo.mes.prod.pdtl.service.PlanSrhVO">
DELETE FROM PLAN_DTL
WHERE PLAN_CD = #{planCd}
</delete>

<delete id="deleteHolding" parameterType="com.rezzo.mes.prod.pdtl.service.PlanSrhVO">
DELETE FROM HOLDING
WHERE PLAN_CD = #{planCd}
</delete>

</mapper>