<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.prcs.mapper.PrcsMapper">

<!-- 공정조회 -->
<select id="prcsList" resultType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	SELECT * 
	FROM PRCS
</select>

<!-- 공정검색 -->
<select id="prcsFind" resultType="com.rezzo.mes.prod.prcs.service.PrcsVO" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	SELECT * 
	FROM PRCS 
	<where>
		<if test="prcsFg != null">
			AND PRCS_FG = #{prcsFg}
		</if>
	</where>
</select>

<!-- 공정등록 -->
<insert id="prcsInsert" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	INSERT INTO PRCS  (prcs_cd, 
						prcs_nm, 
						prcs_fg, 
						prcs_ctnt)
	VALUES (#{prcsCd}, 
			#{prcsNm}, 
			#{prcsFg}, 
			#{prcsCtnt})
</insert>	

<!-- 공정삭제 -->
<delete id="prcsDelete" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	DELETE FROM PRCS
	WHERE PRCS_CD = #{prcsCd}

</delete>
</mapper>