<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.prcs.mapper.PrcsMapper">

<!-- 공정조회 -->
<select id="prcsList" resultType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	SELECT * 
	FROM PRCS
</select>

<!-- 공정검색 -->
<select id="prcsFind" resultType="com.rezzo.mes.prod.prcs.service.PrcsVO" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	SELECT * 
	FROM PRCS 
	WHERE 1=1
	<if test="prcsNm != null">
	AND PRCS_NM = #{prcsNm}
	</if>
</select>

<!-- 공정등록 -->
<update id="prcsInsert" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	MERGE INTO PRCS p
		USING DUAL ON (p.PRCS_CD = #{prcsCd})
	WHEN MATCHED THEN
		UPDATE 
		SET p.PRCS_CD = #{prcsCd},
			p.PRCS_NM = #{prcsNm},
			p.PRCS_FG = #{prcsFg},
			p.PRCS_CTNT = #{prcsCtnt}
	WHEN NOT MATCHED THEN
		INSERT (p.PRCS_CD, 
			   p.PRCS_NM, 
			   p.PRCS_FG, 
			   p.PRCS_CTNT)
		VALUES (#{prcsCd}, 
				#{prcsNm}, 
				#{prcsFg}, 
				#{prcsCtnt})  
		<!-- 
		INSERT into prcs (PRCS_CD, 
			   PRCS_NM, 
			   PRCS_FG, 
			   PRCS_CTNT)
		VALUES (#{prcsCd}, 
				#{prcsNm}, 
				#{prcsFg}, 
				#{prcsCtnt}) -->			 	
</update>	

<!-- 공정삭제 -->
<delete id="prcsDelete" parameterType="com.rezzo.mes.prod.prcs.service.PrcsVO">
	DELETE FROM PRCS
	WHERE PRCS_CD = #{prcsCd}

</delete>
</mapper>