<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.prog.mapper.ProgMapper">
<select id="indicaListModal" resultType="com.rezzo.mes.prod.prog.service.ProgVO">
	SELECT D.LINE_CD, D.EDCTS_CD, D.INDICA_CNT, D.ORDER_CNT, D.WK_FR_DT, E.PRDT_NM, I.INDICA_DT, I.PREF_RANK, I.PLAN_CD, P.ORDER_NO,D.WK_FR_DT
	FROM INDICA_DTL D
	JOIN EDCTS E
	ON D.EDCTS_CD = E.EDCTS_CD
	JOIN INDICA I 
	ON I.INDICA_DT = D.INDICA_DT
	JOIN PLAN P
	ON I.PLAN_CD = P.PLAN_CD
	WHERE I.NOW_ST = '미지시'
</select>
<select id="getPrcsProg" resultType="com.rezzo.mes.prod.prog.service.ProgVO" >
	SELECT B.PRCS_CD, P.PRCS_NM, E.EQM_CD, E.EQM_NM
	FROM BOM B
	JOIN PRCS P
	ON B.PRCS_CD = P.PRCS_CD
	JOIN EQM E
	ON P.PRCS_CD = E.PRCS_CD
	WHERE EDCTS_CD = #{edctsCd}
	ORDER BY B.BOM_SQ
</select>
<insert id="insertEqmCd">
	INSERT INTO DUM VALUES (#{eqmCd}, NULL, NULL, 'Y', #{seqNo})
</insert>
<select id="selectEqm" resultType="com.rezzo.mes.prod.prog.service.ProgVO">
	SELECT * FROM DUM WHERE EQM_CD = #{eqmCd}
</select>
<update id="updateOrderStatus" parameterType="com.rezzo.mes.prod.prog.service.ProgVO">
	UPDATE ORDER_SHEET SET PROG_APPE = '생산완료' WHERE ORDER_NO =#{orderNo}
</update>
<!-- 설비 켜기 -->
<update id="updateEqm1" parameterType="com.rezzo.mes.prod.prog.service.ProgVO">
	UPDATE EQM SET USE_YN = 'Y' WHERE LINE_CD =#{lineCd}
</update>
<!-- 설비 끄기 -->
<update id="updateEqm2" parameterType="com.rezzo.mes.prod.prog.service.ProgVO">
	UPDATE EQM SET USE_YN = 'N' WHERE LINE_CD =#{lineCd}
</update>
<insert id="insertProgPrcs" parameterType="com.rezzo.mes.prod.prog.service.ProgVO">
	INSERT INTO PRCS_PROG VALUES (
				#{indicaDt},
				#{lineCd},
				#{prcsCd},
				#{wkFrTm},
				#{wkToTm},
				#{prcsPsch},
				#{inferCnt},
				#{prodCnt},
				#{prefRank},
				#{indicaCnt},
				#{planCd}
				)
</insert>

<insert id="insertInfer" parameterType="com.rezzo.mes.prod.prog.service.ProgVO">
<!-- 외포장 불량인 경우만 고려하면 됨 -->
<!-- case : prcsCd = OPK001 and inferCnt > 0 -->
<!-- CCDS_DTL 테이블에서 WHERE CCD = 'PNF' 를 랜덤으로 -->

	INSERT INTO PRCS_PROG_INFER VALUES (
								#{inferCnt},
								(select ccd_dtl from 
    									(select * from ccds_dtl where ccd='PNF' order by DBMS_RANDOM.RANDOM)
								where rownum = 1),
								#{indicaDt},
								#{prcsCd},
								#{planCd}
										)
</insert> 
 
<insert id="insertEdctsInfo" parameterType="com.rezzo.mes.prod.prog.service.ProgVO" statementType="CALLABLE">
<![CDATA[{call PROC_PROD_INSERT(#{edctsCd},#{prodCnt})}]]>
</insert>

<update id="schedule" statementType="CALLABLE">
<![CDATA[{call proc_prod_mng
			(#{param1}, 
			#{param2}
			)
			}]]>
</update>

<update id="updateIndica">
UPDATE INDICA 
SET NOW_ST = '지시'
WHERE PLAN_CD = #{planCd} 
</update>

<select id="getHolding" resultType="com.rezzo.mes.resour.oust.service.RscOustVO">
select rsc_cd, rsc_lot_cd, OUST_CNT
from holding 
where plan_cd = #{planCd}
</select>

<select id="getProgPrcs" resultType="com.rezzo.mes.prod.prog.service.ProgVO">
select p.*, e.eqm_cd, e.eqm_nm 
from prcs_prog p
join eqm e
on e.prcs_cd = p.prcs_cd
where wk_fr_dt between #{wkFrDt} and #{wkFrDt2}
<if test="prcsCd != null">
and prcs_cd = #{prcsCd}
</if>
<if test="inferCd != null">
and infer_cd = #{inferCd}
</if>
</select>

</mapper>	