<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.prod.prog.mapper.ProgMapper">
<select id="indicaListModal" resultType="com.rezzo.mes.prod.prog.service.ProgVO">
	SELECT D.LINE_CD, D.EDCTS_CD, D.INDICA_CNT, D.ORDER_CNT, D.WK_FR_DT, E.PRDT_NM, I.INDICA_DT, I.PREF_RANK,I.PLAN_CD
	FROM INDICA_DTL D
	JOIN EDCTS E
	ON D.EDCTS_CD = E.EDCTS_CD
	JOIN INDICA I 
	ON I.INDICA_DT = D.INDICA_DT
	WHERE NOW_ST = '미지시'
</select>
<select id="getPrcsProg" resultType="com.rezzo.mes.prod.prog.service.ProgVO" >
	SELECT B.PRCS_CD, P.PRCS_NM, E.EQM_CD, E.EQM_NM
	FROM BOM B
	JOIN PRCS P
	ON B.PRCS_CD = P.PRCS_CD
	JOIN EQM E
	ON P.PRCS_CD = E.PRCS_CD
	WHERE EDCTS_CD = #{edctsCd}
	ORDER BY B.BOM_SQ
</select>
<insert id="insertEqmCd">
	INSERT INTO DUM VALUES (#{eqmCd}, NULL, NULL, NULL)
</insert>
<select id="selectEqm" resultType="com.rezzo.mes.prod.prog.service.ProgVO">
	SELECT * FROM DUM WHERE EQM_CD = #{eqmCd}
</select>

</mapper>	