<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
			background: #eee
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}
	</style>
</head>

<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<h1 class="mt-4">설비관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">설비</li>
			</ol>
		</div>
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<div class="row">
				<div class="col-7 ">

					<div class="card mr-4">

						<div class="card-header">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table me-1"></i> 설비목록
							</div>
						</div>
						<div class="card-body">
							<div>

								<form action="eqmSelect" method="get">
									<label for="" autofocus="autofocus">설비명</label>
									<input type="text" id="keyword" name="keyword" placeholder="설비명"></input>
									<input type="button" data-bs-toggle="modal" class="btn-dark btn-primary btn-sm" id="modalBtn"
										data-bs-target="#exampleModal" value="설비검색"></input>
									<button type="button" onclick="eqmSelect()" class="btn-dark btn-primary btn-sm">조회</button>
								</form>
							</div>


							<br>
							<div id="grid"></div>
						</div>
					</div>


				</div>
				<div class="col-5 ms-auto">
					<div class="card mb-4">
						<div class="card-header">
							<i class="fas fa-tachometer-alt"></i> 설비등록
						</div>

						<div class="card-body">

							<form id="frm" action="eqmInsert" method="post" enctype="multipart/form-data">
								<input type="file" id="eqmImg" name="eqmImg">
								<div class="row">
									<div class="col-6">
										<div class="mb-3">
											<label class="form-label">설비명</label> <input type="text" class="form-control" id="eqmNm"
												name="eqmNm" style="width: 180px">
										</div>
										<div class="mb-3">
											<label class="form-label">설비코드</label> <input type="text" class="form-control" id="eqmCd"
												name="eqmCd" style="width: 180px">
										</div>
										<div class="mb-3">
											<label class="form-label">공정코드</label> <input type="text" class="form-control" id="prcsCd"
												name="prcsCd" style="width: 180px">
										</div>
										<div class="mb-4">
											<label for="email" class="form-label">공정명</label> <input type="text" class="form-control"
												id="prcsNm" name="prcsNm" style="width: 180px">
										</div>
										<div class="mb-4">
											<label for="email" class="form-label">설비입고날짜</label> <input type="text" class="form-control"
												id="eqmIstDt" name="eqmIstDt" style="width: 180px">
										</div>
									</div>
									<br>
									<div class="col-5">

										<div class="mb-4">
											<label for="" class="form-label">온도</label>
											<div class="row">
												<input type="text" class="form-control" id="minTemp" name="minTemp" style="width: 50px">&nbsp; -
												&nbsp; <input type="text" class="form-control" id="maxTemp" name="maxTemp" style="width: 50px">
												&nbsp;°C
											</div>
											<br> <label>사용여부</label>
											<div class="form-check form-check-inline" style="margin-bottom: 3px">
												<input class="form-check-input" type="radio" name="useYN" value="Y"> <label
													class="form-check-label">사용</label> <input class="form-check-input" type="radio" name="useYN"
													value="N"> <label class="form-check-label">미사용</label>
											</div>
											<br> <br>
											<div class="mb-4">
												<label for="email" class="form-label">점검주기(일)</label> <input type="text" class="form-control"
													id="check" style="width: 150px">
											</div>
											<div class="mb-4">
												<label for="form-select" class="form-label">라인코드</label> <select class="form-select"
													aria-label="Default select example" style="width: 180px">
													<!-- <th:block th:each="option : ${}"> -->
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="linelist">
							<button class="c_btn" form="">등록</button>
							<button class="c_btn" form="">수정</button>
							<button class="c_btn" form="">삭제</button>
							<button type="reset" class="c_btn">취소</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">설비명 검색</h5>
						<br> <br>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div><br>
					<div class="ms-3">
						<form action="eqmSelect" method="get">
							<label style="width:60px" for="eqmName">설비명</label>
							<input type="text" id="keyword2" name="keyword2" placeholder="설비명"></input>
							<button type="button" onclick="eqmSelect2()" class="c_btn btn-dark btn-primary btn-sm">검색</button>
						</form>
					</div>
					<div id="modGrid" class="modal-body"></div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>




		<br>

		<script>
			// 메인화면 그리드 검색
			function eqmSelect() {
				let keyword = $("#keyword").val();

				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				})
			}

			// 모달 그리드 검색
			function eqmSelect2() {
				let keyword = $("#keyword2").val();

				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						modGrid.resetData(result);	
					}
				})
			}


			// 메인화면 그리드
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid.resetData(result);
					console.log(result);
				}
			});
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				bodyHeight: 500,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'center',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center'
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'center'
				}, {
					header: '사용여부',
					name: 'useYn',
					align: 'center'
				}, {
					header: '최소온도',
					name: 'minTemp',
					align: 'center'
				}, {
					header: '최대온도',
					name: 'maxTemp',
					align: 'center'
				}, {
					header: '점검주기',
					name: 'chckPred',
					align: 'center'
				}, {
					header: '라인코드',
					name: 'lineCd',
					align: 'center'
				}]
			});


			//모달 그리드
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					modGrid.resetData(result);
					console.log(result);
				}
			});

			const modGrid = new tui.Grid({
				el: document.getElementById('modGrid'),
				scrollX: false,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'center',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center',
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'center',
				}, {
					header: '사용여부',
					name: 'useYn',
					align: 'center',
				}]
			})

			modalBtn.addEventListener('click', function () {
				setTimeout(function () {
					modGrid.refreshLayout()
				}, 300);
			});
		</script>
	</th:block>
</body>

</html>