<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.eqm.mapper.EqmMapper">

	<select id="eqmList"
		resultType="com.rezzo.mes.equip.eqm.service.EqmVO">
		select * from eqm
	</select>
	
	<select id="eqmSelect" resultType="com.rezzo.mes.equip.eqm.service.EqmVO">
		select * from eqm
		where eqm_nm Like '%'||#{keyword}||'%'
	</select>

	<insert id="eqmInsert" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
	
		insert into eqm
		values(
		(select eqm_cd('EQM', LPAD(NVL(SUBSTR(MAX(eqm_cd),4),0)+1,2,0)) FROM eqm), 
		#{lineCd},#{prcsCd}, #{eqmNm}, #{eqmIstDt}, #{minTemp},
		#{maxTemp}, #{chckPred}, #{useYn},#{prcsNm}, #{eqmFg})
		
	</insert>


</mapper>
