<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.eqm.mapper.EqmMapper">

    
	<select id="eqmList"
		resultType="com.rezzo.mes.equip.eqm.service.EqmVO">
		select * from eqm
	</select>
	
	<select id="eqmSelect" resultType="com.rezzo.mes.equip.eqm.service.EqmVO">
		select * from eqm e join eqm_img i
		on e.eqm_cd = i.eqm_cd
		where e.eqm_nm Like '%'||#{keyword}||'%'
	</select>

	<insert id="eqmInsert" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
		insert into eqm (eqm_cd, line_cd, prcs_cd, eqm_nm, eqm_ist_dt, min_temp,
		max_temp, chck_perd, use_yn, prcs_nm, eqm_fg)
		values (<![CDATA[cre_code(#{eqmFg})]]>,
		#{lineCd}, #{prcsCd}, #{eqmNm}, #{eqmIstDt}, #{minTemp}, 
		#{maxTemp}, #{chckPerd}, #{useYn}, #{prcsNm},#{eqmFg})
	
	</insert>
	
	<insert id="eqmImgInsert" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
		insert into eqm_img (eqm_cd, prcs_cd, img_path, eqm_img)
		values(<![CDATA[cre_code2(#{eqmFg})]]>, #{prcsCd}, #{imgPath}, #{eqmImg})
	</insert>
	
	<update id="eqmUpdate" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
			update eqm
			set 
			line_cd = #{lineCd}, 
			prcs_cd = #{prcsCd}, 
			eqm_nm = #{eqmNm}, 
			eqm_ist_dt = #{eqmIstDt}, 
			min_temp = #{minTemp},
			max_temp = #{maxTemp}, 
			chck_perd = #{chckPerd}, 
			use_yn = #{useYn}, 
			prcs_nm = #{prcsNm},
			eqm_fg = #{eqmFg}
			where eqm_cd = #{eqmCd}
	</update>
	
	<update id = "eqmImgUpdate" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
		update eqm_img
			set prcs_cd = #{prcsCd},
				img_path = #{imgPath},
				eqm_img = #{eqmImg}
			where eqm_cd = #{eqmCd}
	</update>
	

	<delete id="eqmDelete" parameterType="com.rezzo.mes.equip.eqm.service.EqmVO">
		DECLARE
		BEGIN
		delete from eqm
		where eqm_cd = #{eqmCd};
		
		delete from eqm_img
		where eqm_cd = #{eqmCd};
		
		END;
		
	</delete>

</mapper>
