<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.chck.mapper.EqmChckMapper">



<select id="eqmChckList" resultType="com.rezzo.mes.equip.chck.service.EqmChckVO">
	select * 
	from eqm e 
	inner join eqm_chck o 
	on e.eqm_cd = o.eqm_cd
</select>

<select id="eqmChckSave" statementType="CALLABLE">
{call eqm_opr_sav(#{chckCd},#{eqmCd},#{eqmNm},#{chckFg},#{chckDt},#{jdgmnt},#{dispoMatter},#{dispoCtnt},#{chckPsch})}
</select>

<delete id="eqmChckDelete" parameterType="com.rezzo.mes.equip.chck.service.EqmChckVO">
	delete from eqm_chck
	where chck_cd = #{chckCd}
</delete>

<select id="eqmChckSearch" resultType="com.rezzo.mes.equip.chck.service.EqmChckVO">
select e.prcs_cd, e.eqm_ist_dt, e.chck_perd, e.use_yn, e.prcs_nm, c.chck_cd, c.eqm_cd, c.eqm_nm, c.chck_fg, c.chck_dt, c.jdgmnt, c.dispo_matter, c.dispo_ctnt, c.chck_psch
	from eqm e
	inner join eqm_chck c
	on e.eqm_cd = c.eqm_cd
	where 1=1
	<if test="stDt != null"><![CDATA[ AND c.chck_dt >= #{stDt}]]></if>
	<if test="toDt != null"><![CDATA[ AND c.chck_dt < #{toDt}]]></if>
	<if test="eqmNm != null"> and e.eqm_nm like '%'||#{eqmNm}||'%'</if>
</select>

</mapper>