<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.line.mapper.EqmLineMapper">

	<select id="eqmLineList" resultType="com.rezzo.mes.equip.line.service.EqmLineVO">
		select * from eqm_line
	</select>
	
	<select id="eqmLineSelectList" resultType="com.rezzo.mes.equip.line.service.EqmLineVO">
		select * from eqm_line
	</select>
	
	<delete id="eqmLineDelete" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		delete from eqm_line
		where line_cd = #{lineCd} 
	</delete>
<!-- 
 	<insert id="eqmLineInsert" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		insert into eqm_line(line_cd, uph_cnt, eqm_psch, use_yn, line_nm)
		values (<![CDATA[CRE_LINE_CD('LNE')]]>, #{uphCnt}, #{eqmPsch}, #{useYn}, #{lineNm})
		
	</insert>
	 -->
	<update id="eqmLineUpdate" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		MERGE INTO eqm_line e
			USING dual ON (e.line_cd = #{lineCd})
		WHEN MATCHED THEN
			update set
			uph_cnt = #{uphCnt},
			eqm_psch = #{eqmPsch},
			use_Yn = #{useYn},
			line_nm = #{lineNm}
			where line_cd = #{lineCd}
		WHEN NOT MATCHED THEN
			insert (line_cd, uph_cnt, eqm_psch, use_yn, line_nm)
			values (<![CDATA[CRE_LINE_CD('LNE')]]>, #{uphCnt}, #{eqmPsch}, #{useYn}, #{lineNm})
	</update>
	

</mapper>
