<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.line.mapper.EqmLineMapper">

	<select id="eqmLineList" resultType="com.rezzo.mes.equip.line.service.EqmLineVO">
		select * from eqm_line
	</select>
	
	<delete id="eqmLineDelete" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		delete from eqm_line
		where line_cd = #{lineCd} 
	</delete>

 	<insert id="eqmLineInsert" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		insert into eqm_line
		values (#{lineCd}, #{uphCnt}, #{eqmPsch}, #{useYn})
		
	</insert>
	
	<update id="eqmLineUpdate" parameterType="com.rezzo.mes.equip.line.service.EqmLineVO">
		update eqm_line set
		line_cd = #{lineCd},
		uph_cnt = #{uphCnt},
		eqm_psch = #{eqmPsch},
		use_Yn = #{useYn}
		where line_cd = #{lineCd} 
	</update>
	

</mapper>
