<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.equip.opr.mapper.EqmOprMapper">


	
	<resultMap type="HashMap" id="eqmMap">
		<id column="eqm_cd" property="tEqmCd"/>
		<id column="line_cd" property="tLineCd"/>
		<id column="prcs_cd" property="tPrcsCd"/>
		<id column="eqm_nm" property="tEqmNm"/>
		<id column="use_yn" property="tUseYn"/>
		<id column="fr_dt" property="tFrDt"/>
		<id column="to_dt" property="tToDt"/>
		<id column="eqm_psch" property="tEqmPsch"/>
		<id column="opert_ctnt" property="tOpertCtnt"/>
		<id column="nopr_cd" property="noprCd"/>
	</resultMap>
	
	<resultMap type="HashMap" id="eqmSMap">
		<id column="eqm_cd" property="eqmCd"/>
		<id column="line_cd" property="lineCd"/>
		<id column="prcs_cd" property="prcsCd"/>
		<id column="eqm_nm" property="eqmNm"/>
		<id column="eqm_ist_dt" property="eqmIstDt"/>
		<id column="min_temp" property="minTemp"/>
		<id column="max_temp" property="maxTemp"/>
		<id column="chck_perd" property="chckPerd"/>
		<id column="use_yn" property="useYN"/>
		<id column="prcs_nm" property="prcsNm"/>
	</resultMap>
	
	<select id = "eqmOprInsert" statementType="CALLABLE">
			{call opr_ins(#{frmEqmCd}, #{frDt}, #{toDt},#{frmPsch},#{opertCtnt},#{frmUseYN})}
	</select>
		
	<select id = "OprList" resultMap="eqmMap">
			select 
			e.eqm_cd, e.line_cd, e.prcs_cd,  
			e.eqm_nm, e.use_yn, to_char(o.fr_dt, 'yyyy-mm-dd') as "fr_dt", to_char(o.to_dt, 'yyyy-mm-dd') as "to_dt", o.eqm_psch, 
			o.opert_ctnt, o.nopr_cd
			from eqm e 
			join eqm_opr o 
			on e.eqm_cd = o.eqm_cd
	</select>
	
	<select id = "OprKeyList" resultMap="eqmMap">
			select 
			e.eqm_cd, e.line_cd, e.prcs_cd, 
			e.eqm_nm, e.use_yn, to_char(o.fr_dt, 'yyyy-mm-dd') as "fr_dt", to_char(o.to_dt, 'yyyy-mm-dd') as "to_dt", o.eqm_psch, 
			o.opert_ctnt, o.nopr_cd
			from eqm e 
			join eqm_opr o 
			on e.eqm_cd = o.eqm_cd
			where 1=1
			<if test="frDt != null"><![CDATA[ AND fr_dt <= #{frDt}]]></if>
			<if test="toDt != null"><![CDATA[ AND to_dt >= #{toDt}]]></if>
			<if test="eqmNm != null and eqmNm !=''">and e.eqm_nm Like '%'||#{eqmNm}||'%'</if>
			<if test="eqmCd != null and eqmCd !=''">and e.eqm_cd = #{eqmCd}</if>
	</select>
	
	<select id = "OprGetList" resultMap="eqmSMap">
			select eqm_cd, eqm_nm, prcs_cd, prcs_nm, use_yn from eqm
			WHERE 1=1
			<if test="frmUseYN != null and frmUseYN != ''"> and use_yn=#{keyword}</if>
	</select>
	
		<resultMap type="HashMap" id="eqmSelectMap">
		<id column="eqm_cd" property="eqmCd"/>
		<id column="line_cd" property="lineCd"/>
		<id column="prcs_cd" property="prcsCd"/>
		<id column="eqm_nm" property="eqmNm"/>
		<id column="use_yn" property="useYn"/>
		<id column="fr_dt" property="frDt"/>
		<id column="to_dt" property="toDt"/>
		<id column="eqm_psch" property="eqmPsch"/>
		<id column="opert_ctnt" property="opertCtnt"/>
		<id column="nopr_cd" property="noprCd"/>
	</resultMap>
	
	<select id = "OprSelectList" resultMap="eqmSelectMap">
			select 
			e.eqm_cd, e.line_cd, e.prcs_cd, 
			e.eqm_nm, e.use_yn, to_char(o.fr_dt, 'yyyy-mm-dd') as "fr_dt", to_char(o.to_dt, 'yyyy-mm-dd') as "to_dt", o.eqm_psch, 
			o.opert_ctnt, o.nopr_cd
			from eqm e 
			join eqm_opr o 
			on e.eqm_cd = o.eqm_cd
			WHERE o.nopr_cd = #{keyword}
	</select>
	
	<delete id="OprDelete" parameterType="com.rezzo.mes.equip.opr.service.EqmOprVO">
		DELETE eqm_opr
		where nopr_cd = #{noprCd}
	</delete>

	
	<update id="oprUpdate" parameterType="com.rezzo.mes.equip.opr.service.EqmOprVO">
		update eqm_opr
		set eqm_psch = #{frmPsch},
				fr_dt = #{frDt},
				to_dt = #{toDt},
				opert_ctnt = #{opertCtnt}
		where nopr_cd = #{noprCd}
	</update>
	
	<select id = "getOprListMap" resultMap="eqmMap">
        	select 
			e.eqm_cd as "설비코드", e.line_cd as "라인코드", e.prcs_cd as "공정코드",
			e.eqm_nm as "설비명", to_char(o.fr_dt, 'yyyy-mm-dd') as "시작일", to_char(o.to_dt, 'yyyy-mm-dd') as "종료일", o.eqm_psch as "담당자", 
			o.opert_ctnt as "작업내용", o.nopr_cd as "비가동코드"
			from eqm e 
			join eqm_opr o 
			on e.eqm_cd = o.eqm_cd
			where 1=1
			<if test="frDt != null"><![CDATA[ AND fr_dt <= to_date(#{fr_dt}-1)]]></if>
			<if test="toDt != null"><![CDATA[ AND to_dt <= to_date(#{toDt}+1)]]></if>
			<if test="eqmNm != null and eqmNm !=''">and e.eqm_nm Like '%'||#{eqmNm}||'%'</if>
			<if test="eqmCd != null and eqmCd !=''">and e.eqm_cd = #{eqmCd}</if>
	</select>
	
	


</mapper>