<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mex.equip.opr.mapper.EqmOprMapper">

<!-- 
	<insert id="eqmOprInsert" resultType="com.rezzo.mes.equip.opr.service.EqmOprVO">
		
	</insert>

 -->
</mapper>