<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.qc.insp.mapper.PrdtInspMapper">
	
	<select id="getInspCode" resultType="PrdtInspVO">
		SELECT CCD_DTL AS INSP_CD, CCD_DTL_NM AS INSP_NM, CCD_DTL_DESCT AS INSP_SD
		FROM CCDS_DTL
		WHERE CCD = 'PQC'
		ORDER BY CCD
	</select>
	
	<select id="prdtInspOrder" resultType="OrderVO">
		SELECT p.EDCTS_LOT_NO, o.ORDER_NO, o.VEND_NM, o.EDCTS_CD, o.PRDT_NM, o.ORDER_CNT, o.PAPRD_DT
		FROM PRDT_INSP p, ORDER_SHEET o
		WHERE p.EDCTS_CD = o.EDCTS_CD
		AND o.PROG_APPE = '생산완료'
 	</select>
 	
 	<delete id="delPrdtInsp" parameterType="PrdtInspVO">
 		DELETE FROM PRDT_INSP 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 		
 		DELETE FROM PRDT_INSP_DTL 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 	</delete>
 	
 	<insert id="savePrdtInsp" parameterType="prdtInspVO">
		INSERT INTO PRDT_INSP (EDCTS_LOT_NO, ORDER_NO, EDCTS_CD, INSP_PSCH, INSP_DT, INSP_CNT, INSP_JM)
		VALUES (#{edctsLotNo}, #{orderNo}, #{edctsCd}, #{inspPsch}, #{inspDt}, #{inspCnt}, #{inspJm})
	</insert>
	
	<insert id="savePrdtInspDtl" parameterType="prdtInspVO">
		INSERT INTO PRDT_INSP_DTL (EDCTS_LOT_NO, INSP_CD, INSP_NM, INSP_SD, INSP_RSLT_DTL, INSP_JM_DTL)
		VALUES (#{edctsLotNo}, #{inspCd}, #{inspNm}, #{inspSd}, #{inspRsltDtl}, #{inspJmDtl})
	</insert>

	<select id="getPrdtInsp" resultType="PrdtInspVO">
		SELECT *
		FROM PRDT_INSP
		WHERE 1=1
		<if test="edctsLotNo != null and edctsLotNo !=''">and EDCTS_LOT_NO LIKE '%'||#{edctsLotNo}||'%'</if>
		<if test="startDt != null and startDt !=''"><![CDATA[and INSP_DT <= #{wrhousCd}||'%']]></if>
		<if test="endDt != null and endDt !=''"><![CDATA[and INSP_DT >= #{wrhousCd}||'%']]></if>
		ORDER BY EDCTS_LOT_NO
	</select>
</mapper>