<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.qc.insp.mapper.PrdtInspMapper">
	
	<select id="getInspCode" resultType="PrdtInspVO">
		SELECT CCD_DTL AS INSP_CD, CCD_DTL_NM AS INSP_NM, CCD_DTL_DESCT AS INSP_SD
		FROM CCDS_DTL
		WHERE CCD = 'PQC'
		ORDER BY CCD
	</select>
	
	<select id="prdtInspOrder" resultType="OrderVO">
 		SELECT ORDER_NO, VEND_NM, EDCTS_CD, PRDT_NM, ORDER_CNT, PAPRD_DT
		FROM ORDER_SHEET
		WHERE PROG_APPE = '생산완료'
 	</select>
 	
 	<delete id="delPrdtInsp" parameterType="PrdtInspVO">
 		DELETE FROM PRDT_INSP 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 		
 		DELETE FROM PRDT_INSP_DTL 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 	</delete>

</mapper>