<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.qc.insp.mapper.PrdtInspMapper">
	
	<select id="getInspCode" resultType="PrdtInspVO">
		SELECT CCD_DTL AS INSP_CD, CCD_DTL_NM AS INSP_NM, CCD_DTL_DESCT AS INSP_SD
		FROM CCDS_DTL
		WHERE CCD = 'PQC'
		ORDER BY CCD
	</select>
	
	<select id="prdtInspOrder" resultType="OrderVO">
		SELECT p.EDCTS_LOT_NO, o.ORDER_NO, o.VEND_NM, o.EDCTS_CD, o.PRDT_NM, o.ORDER_CNT, o.PAPRD_DT, o.PROG_APPE
		FROM PRDT_INSP p, ORDER_SHEET o
		WHERE p.EDCTS_CD = o.EDCTS_CD
		AND o.PROG_APPE = '생산완료'
		AND p.INSP_JM IS NULL
 	</select>
 	
 	<delete id="delPrdtInsp" parameterType="PrdtInspVO">
 		DELETE FROM PRDT_INSP 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 		
 		DELETE FROM PRDT_INSP_DTL 
 		WHERE EDCTS_LOT_NO = #{edctsLotNo}
 	</delete>
 	
 	<insert id="savePrdtInsp" parameterType="prdtInspVO" statementType="CALLABLE">
		<![CDATA[{call prdt_insp_save(#{edctsLotNo}, #{orderNo}, #{edctsCd}, #{inspPsch}, #{inspDt}, #{inspCnt}, #{inspJm})}]]>
	</insert>
	
	<insert id="savePrdtInspDtl" parameterType="prdtInspVO">
		INSERT INTO PRDT_INSP_DTL (EDCTS_LOT_NO, INSP_CD, INSP_NM, INSP_SD, INSP_RSLT_DTL, INSP_JM_DTL)
		VALUES (#{edctsLotNo}, #{inspCd}, #{inspNm}, #{inspSd}, #{inspRsltDtl}, #{inspJmDtl})
	</insert>

	<select id="getPrdtInsp" resultType="PrdtInspVO">
		SELECT p.*, e.PRDT_NM
		FROM PRDT_INSP p, EDCTS e
		WHERE p.EDCTS_CD = e.EDCTS_CD
		AND INSP_JM IS NOT NULL
		<if test="edctsLotNo != null and edctsLotNo !=''">and EDCTS_LOT_NO LIKE '%'||#{edctsLotNo}||'%'</if>
		<if test="startDt != null"><![CDATA[and INSP_DT >= #{startDt}]]></if>
		<if test="endDt != null"><![CDATA[and INSP_DT <= #{endDt}]]></if>
		ORDER BY EDCTS_LOT_NO
	</select>
	
	<select id="getPrdtInspDtl" resultType="PrdtInspVO">
		SELECT *
		FROM PRDT_INSP_DTL
		WHERE EDCTS_LOT_NO = #{edctsLotNo}
	</select>
	
	<select id="getPrdtInspListMap" resultType="map">
		SELECT p.EDCTS_LOT_NO "LOT번호", p.EDCTS_CD "제품코드", e.PRDT_NM "제품명", p.INSP_JM "최종판정", TO_CHAR(p.INSP_DT, 'YYYY-MM-DD') "검사날짜", p.INSP_PSCH "검사자"
		FROM PRDT_INSP p, EDCTS e
		WHERE p.EDCTS_CD = e.EDCTS_CD
		AND INSP_JM IS NOT NULL
		<if test="edctsLotNo != null and edctsLotNo !=''">and EDCTS_LOT_NO LIKE '%'||#{edctsLotNo}||'%'</if>
		<if test="startDt != null"><![CDATA[and INSP_DT >= #{startDt}]]></if>
		<if test="endDt != null"><![CDATA[and INSP_DT <= #{endDt}]]></if>
		ORDER BY EDCTS_LOT_NO
	</select>
</mapper>