<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
a {
	text-decoration: none;
}

body {
	font-size: 14px;
	color: #333;
}

li {
	list-style: none;
}

.card-header .tab {
	display: flex;
	justify-content: space-between;
}

.card-header .tab li a {
	font-size: 15px;
	color: #333;
	font-weight: 500;
}

/* 탭버튼 눌렀을시 글자 색상변경 */
.card-header .tab li.on a {
	font-weight: bold;
	color: crimson;
}
/* 탭박스 영역 기본 옵션은 디스플레이 숨김 */
.card-body .tabBox {
	display: none;
}
/* 탭버튼이 눌러졌을시 관련된 탭박스 활성화 */
.card-body .tabBox.on {
	display: block;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do">홈</a></li>
			<li class="breadcrumb-item">> 주문서관리</li>
			<li class="breadcrumb-item active">> 주문서 조회/등록</li>
		</ol>
		
		<div class="card mb-4">
      <div id="cont" style="padding-bottom:0px">
         <section id="r_section">
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-tachometer-alt"></i> 주문서 조회
                  </div>
	<div class="card-body">
                     <form>
                      <div class="r_input">
                        <div class="mb-3">
                           <label for="no" class="form-label">진행상황</label>&nbsp;
                           <input type="radio" id="ing" name="ing"/>진행
                           <input type="radio" id="complete" name="complete"/>완료
                           <input type="radio" id="every" name="every"/>전체
                        </div>
                        <div class="mb-3">
                           <label for="inputPassword2" class="form-label">거래처명</label>
    						<input type="password" class="form-control" id="inputPassword2">
                            <button class="btn btn-primary" id="openCompany" data-bs-toggle="modal" data-bs-target="#comModal" form="">검색</button>
                        </div>
                        <div class="mb-3">
                           <label for="email" class="form-label">제품명</label> 
                           <input type="text" class="form-control" id="product" name="product">
                           <button class="btn btn-primary" id="openProduct" data-bs-toggle="modal" data-bs-target="#proModal" form="">검색</button>
                        </div>
                        <div class="mb-4">
                           <label for="email" class="form-label">주문일자</label> 
                           <input type="date" id=""> - <input type="date" id="">
                        </div>
                       </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
      </div>
       <div class="linelist">
   		<button class="btn btn-primary" id="orderRegister" data-bs-toggle="modal" data-bs-target="#addModal">주문서 등록</button>
   		<button class="btn btn-primary">주문서 조회</button>
   </div>
   </div>
   <div id="grid"></div>
   
   <!-- 제품명 모달 -->
	    <div class="modal fade" id="proModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="proGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>
 	
  <!-- 거래처 모달 -->
  <div class="modal fade" id="comModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="comGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>
    
    <!-- 거래처 모달 -->
  <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">주문서 등록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="comGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>
   
   <script>
   /* 그리드 */
		
   		/*초기페이지 - 주문서 전체 목록 보여주기*/
		$.ajax({
			url : "order",
			method : "get",
			datatype : "json",
			success : function(list) {
				grid.resetData(list);
				console.log(list);
			}
		})
		
	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	        {
	          header: '주문번호',
	          name: 'orderNo'
	        },
	        {
	          header: '거래처',
	          name: 'vendNm'
	        },
	        {
	          header: '주문일자',
	          name: 'orderDt'
	        },
	        {
		       header: '납기일자',
		       name: 'paprdDt'
		        },
		    {
			    header: '진행상황',
			    name: 'progAppe'
			     },
		    {
				 header: '완제품코드',
				 name: 'edctsCd'
				  },
			{
				  header: '제품명',
				  name: 'prdtNm'
				   },
			{
				   header: '주문수량',
				   name: 'orderCnt'
				    }	   
			        
	      ],
	    });
   		
		 // 제품명 모달 그리드    
	    const proGrid = new tui.Grid({
	        el: document.getElementById('proGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '검사번호',
	                name: 'inspCd',
	                width: 100
	            },
	            {
	                header: '검사일자',
	                name: 'inspDt',
	                width: 100
	            },
	            {
	                header: '업체명',
	                name: 'vend',
	                width: 100
	            },
	            {
	                header: '수량',
	                name: 'cnt',
	                width: 100
	            }
	        ],
	        data: [
	            {
	                inspCd: '12-33',
	                inspDt: '13-23',
	                vend: '13-23',
	                cnt: '15-23'
	            }
	        ]
	    });
		 
	 // 거래처 모달 그리드    
	    const comGrid = new tui.Grid({
	        el: document.getElementById('comGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '검사번호',
	                name: 'inspCd',
	                width: 100
	            },
	            {
	                header: '검사일자',
	                name: 'inspDt',
	                width: 100
	            },
	            {
	                header: '업체명',
	                name: 'vend',
	                width: 100
	            },
	            {
	                header: '수량',
	                name: 'cnt',
	                width: 100
	            }
	        ],
	        data: [
	            {
	                inspCd: '12-33',
	                inspDt: '13-23',
	                vend: '13-23',
	                cnt: '15-23'
	            }
	        ]
	    });
   
	   </script>
</th:block>

   
</body>
</html>
