<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>주문서 관리</title>
<style>
	.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do">홈</a></li>
			<li class="breadcrumb-item">> 주문서관리</li>
			<li class="breadcrumb-item active">> 주문서 조회/등록</li>
		</ol>
		
		<div class="card mb-4">
      <div id="cont" style="padding-bottom:0px">
         <section id="r_section">
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-tachometer-alt"></i> 주문서 조회
                  </div>
				<div class="card-body" id="vendModal">
                     <form name="searchFrm" id="searchFrm">
                      <div class="r_input">
                        <div class="mb-3">
                           <!-- <label for="no" class="form-label">진행상황</label>&nbsp;
                           
                           <input type="radio" id="progAppe" name="progAppe" value="진행"/>진행
                           <input type="radio" id="progAppe" name="progAppe" value="완료"/>완료
                           <input type="radio" id="progAppe" name="progAppe" value="전체"/>전체 -->
                           
                        </div>
                        <div class="mb-3">
                           <label for="vendNm" class="form-label">거래처명</label>
    						<input type="text" class="form-control" id="vendNm" name="vendNm">
                            <button type="button" class="btn btn-primary" id="openCompany" data-bs-toggle="modal" data-bs-target="#comModal"><i class="fas fa-search"></i></button>	
                        </div>
                        <div class="mb-3">
                           <label for="prdtNm" class="form-label">제품명</label> 
                           <input type="text" class="form-control" id="prdtNm" name="prdtNm">
                           <button type="button" class="btn btn-primary" id="openProduct" data-bs-toggle="modal" data-bs-target="#proModal"><i class="fas fa-search"></i></button>	
                        </div>
                        <div class="mb-4">
                           <label for="email" class="form-label">주문일자</label> 
                           <input type="date" id="start" name="start"> - <input type="date" id="end" name="end">
                        </div>
                       </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
      </div>
       <div class="linelist">
   		<button class="btn btn-primary" id="addBtn"><i class="fas fa-plus"></i> 추가</button>
   		<button class="btn btn-primary" id="okBtn"><i class="fas fa-save"></i> 저장</button>
   		<button class="btn btn-primary" id="delBtn"><i class="fas fa-minus"></i> 삭제</button>
   		<button class="btn btn-primary" id="ordrBtn"><i class="fas fa-search"></i> 검색</button>
   </div>
   </div>
   
   <div class="card mb-4">
   	<div class="card-body">
   		<div id="grid"></div>   		
   	</div>
   </div>
   
   <!-- 제품코드 모달(등록) -->
   <div class="modal fade" id="edctsCdModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="CdModal"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
   
   <!-- 제품명 모달 -->
	    <div class="modal fade" id="proModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="proGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
 	
 	<!-- 거래처 모달(등록)-->
  <div class="modal fade" id="vendGridModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="vendGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
  <!-- 거래처 모달(조회)-->
  <div class="modal fade" id="comModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="comGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    
    
    
    <script>
   /* 그리드 */
		//초기페이지 - 주문서 전체 목록 보여주기-주문일자가 현재 날짜인 주문서만 보이기


		$(function() {
			search();
			comList();
			proList();
		})
		
		//거래처 목록 모달창으로 가져오기
		function comList() {
			$("#openCompany").on("click",function(comlist) {
				 setTimeout(function () {
					comGrid.refreshLayout()
				}, 300);
				$.ajax({
					url:"comSearch",
					method:"get",
					datatype:"json",
					success:function(comlist) {
						comGrid.resetData(comlist);
					}
				})
			})
		}
		
		//제품명 목록 모달창으로 가져오기
		function proList() {
			$("#openProduct").on("click",function(prolist) {
			setTimeout(function () {
					proGrid.refreshLayout()
				}, 300);
				$.ajax({
					url:"proSearch",
					method:"get",
					datatype:"json",
					success:function(prolist) {
						proGrid.resetData(prolist);
					}
				})
			})
		}
		
		
		
		
	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['checkbox'],
	      header: {
	        height: 40
	      },
	      columns: [
	        {
	          header: '주문번호',
	          name: 'orderNo',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '거래처코드',
	          name: 'vendCd',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '거래처',
	          name: 'vendNm',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '주문일자',
	          name: 'orderDt',
	          editor: 'datePicker',
	          align:'center'
	        },
	        {
			    header: '진행상황',
			    name: 'progAppe',
			    align:'center',
			    defaultValue: '접수완료'
              },
	        {
		       header: '납기일자',
		       name: 'paprdDt',
		       editor: 'datePicker',
		       align:'center'
		        },
		        {
		       header: '제품명',
		       name: 'prdtNm',
		       editor: 'text',
		       align:'center'
		        },
			{
			    header: '주문수량',
	          name: 'orderCnt',
	          editor: 'text',
	          align:'center'
			},	
		  ]   
	    });
   		
		 // 제품명 모달 그리드(조회)    
	    const proGrid = new tui.Grid({
	        el: document.getElementById('proGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '완제품코드',
	                name: 'edctsCd',
	                width: 200,
	                align:'center'
	            },
	            {
	                header: '제품명',
	                name: 'prdtNm',
	                width: 200,
	                align:'center'
	            }
	        ]
	    });
	    
	    // 제품코드 모달 그리드(등록)    
	    const CdModal = new tui.Grid({
	        el: document.getElementById('CdModal'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '완제품코드',
	                name: 'edctsCd',
	                width: 200,
	                align:'center'
	            },
	            {
	                header: '제품명',
	                name: 'prdtNm',
	                width: 200,
	                align:'center'
	            }
	        ]
	    });
		 
	 // 거래처 모달 그리드(조회)
	    const comGrid = new tui.Grid({
	        el: document.getElementById('comGrid'),
	        scrollX: false,
	        scrollY: false,
	       	rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '거래처코드',
	                name: 'vendCd',
	                width: 100,
	                align:'center'
	            },
	            {
	                header: '거래처명',
	                name: 'vendNm',
	                width: 100,
	                align:'center'
	            },
	            {
	                header: '사업자등록번호',
	                name: 'bizNo',
	                width: 110,
	                align:'center'
	            },
	            {
	                header: '전화번호',
	                name: 'telNo',
	                width: 100,
	                align:'center'
	            }
	        ]
	    });
	    
	    // 거래처 모달 그리드(등록)    
	     const vendGrid = new tui.Grid({
      	el: document.getElementById('vendGrid'),
      	//scrollX: false,
      	rowHeaders: ['checkbox'],
      	columns: [
        {
          header: '거래처코드',
          name: 'vendCd'
        },
        {
          header: '거래처명',
          name: 'vendNm'
        },
        {
          header: '사업자등록번호',
          name: 'bizNo'
        },
        {
          header: '전화번호',
          name: 'telNo'
        }
      	]
   		});
   
   		//행추가 버튼
   			let vendRowKey = null;
		   $('#addBtn').click(ev => {
		   	var row = grid.getRowCount();
		   				grid.appendRow();
		   				console.log(row);				   			
		   	//주문서 추가시 주문번호 자동 생성 ex.ORS202207151
		   	let orderDt =$("input[name=start]").val();
		   	$.ajax({
		   		url:"getordrNo",
		   		dataType:"json",
		   		method:"get",
		   		data:{"orderDt":orderDt},
		   		error:console.log("error"),
		   		success:function(makeno) {
		   			var no = makeno.index;
		   			var rcode = orderDt.replaceAll("-","");
		   			var result = "ORS" + rcode + no;
		   			console.log(result);
		   			console.log(row);
		   			console.log(no);
		   			grid.setValue(row,'orderNo',result);
		   			
		   		}
		   	})
		   	//거래처코드 칸 클릭 -> 거래처 목록 모달창 띄우기
		   		grid.on("click",(e) => {
		   			const { columnName } = e;
		   			vendRowKey = e.rowKey;
		   			if(columnName == 'vendCd') {
		   				$("#vendGridModal").modal('show');
		   				$.ajax({
		   					url:"comSearch",
							method:"get",
							datatype:"json",
							success:function(vendlist) {
							setTimeout(function () {
								vendGrid.refreshLayout()
								}, 300);
								vendGrid.resetData(vendlist);
							}
		   					
		   				})
		   			}
		   		})
		   		//거래처 목록 모달창에서 거래처 선택 -> 추가된 행 거래처명,코드에 값 들어가기
		   		vendGrid.on("click",ev => {
		   			let row = vendGrid.getCheckedRowKeys(ev);
		   			console.log(row);
		   			let nmInfo = vendGrid.getValue(row,'vendNm');
		   			console.log(nmInfo);
		   			let cdInfo = vendGrid.getValue(row,'vendCd');
		   			console.log(cdInfo);
		   			grid.setValue(vendRowKey, 'vendNm', nmInfo);
		   			grid.setValue(vendRowKey, 'vendCd', cdInfo);
		   		})
		   	});
			
			//제품코드 칸 클릭 -> 제품코드 모달창 띄우기
			grid.on("click",(e) => {
				const {columnName} = e;
				edctsCdRowKey = e.rowKey;
				if(columnName == 'edctsCd') {
					$("#edctsCdModal").modal("show");
					$.ajax({
						url:"proSearch",
						dataType:"json",
						method:"get",
						success:function(edctsCdList) {
							setTimeout(function() {
								CdModal.refreshLayout();
							},300);
							CdModal.resetData(edctsCdList);
						}
					})
				}
			})
			//제품코드 모달창에서 제품코드 선택 -> 추가된 행 제품명,코드에 값 들어가기
			CdModal.on("click", ev => {
				let row = CdModal.getCheckedRowKeys(ev);
				let cdInfo = CdModal.getValue(row,'edctsCd');
				console.log(cdInfo);
				let nmInfo = CdModal.getValue(row,'prdtNm');
				console.log(nmInfo);
				grid.setValue(edctsCdRowKey, 'edctsCd', cdInfo);
				grid.setValue(edctsCdRowKey, 'prdtNm', nmInfo)
			})
		   
		   //더블클릭 하면 체크박스 체크
		   grid.on('editingFinish', (ev) => {
    					var rowKey = ev.rowKey;
    					grid.check(rowKey);
					});
		   
		
		//체크박스 선택시 거래처명 가져오기
		comGrid.on('click', e => {
			let rowInfo = comGrid.getCheckedRows(e)
			console.log(rowInfo);
			vendNm.value =  rowInfo[0].vendNm;
		})
		
		//체크박스 선택시 제품명 가져오기
		proGrid.on('click', e => {
			let rowInfo = proGrid.getCheckedRows(e)
			prdtNm.value = rowInfo[0].prdtNm;
		})
		
		//조건별 주문서 조회
		let ordrBtn = document.getElementById("ordrBtn");
		ordrBtn.addEventListener('click', function(e) {
			search();
		})
		
		function search() {
			var searchData = $("#searchFrm").serialize();
			
			$.ajax({
				url:"findOrdr",
				dataType:"json",
				method:"post",
				data: searchData,
				success:function(result) {
					grid.resetData(result);
				}
			})
		};
		
		//주문서 삭제
		let delBtn = document.getElementById("delBtn");
		delBtn.addEventListener('click',function(e) {
			var data = grid.getCheckedRows();
			var searchData = $("#searchFrm").serialize();
			
			$.ajax({
				url:"deleteOrdr",
				method:"delete",
				dataType:"json",
				data:JSON.stringify(data),
				contentType:"application/json",
				success:function(result) {
					search();
				}
			})
		})
		

		//주문서 수정입력
		var okBtn = document.getElementById('okBtn');
		okBtn.addEventListener('click',function(result) {
			var data = grid.getCheckedRows();
			$.ajax({
				url:"saveOrdr",
				method:"post",
				dataType:"json",
				data:JSON.stringify(data),
				contentType:"application/json",
				success:function(result) {
					grid.resetData(result);
				}
			})
			})
			
			
		//Date start & Date end 오늘 날짜로 설정
		document.getElementById("start").valueAsDate = new Date();
		document.getElementById("end").valueAsDate = new Date();
	   </script>
  
	</div>
</th:block>

   
</body>
</html>
