<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
a {
	text-decoration: none;
}

body {
	font-size: 14px;
	color: #333;
}

li {
	list-style: none;
}

.card-header .tab {
	display: flex;
	justify-content: space-between;
}

.card-header .tab li a {
	font-size: 15px;
	color: #333;
	font-weight: 500;
}

/* 탭버튼 눌렀을시 글자 색상변경 */
.card-header .tab li.on a {
	font-weight: bold;
	color: crimson;
}
/* 탭박스 영역 기본 옵션은 디스플레이 숨김 */
.card-body .tabBox {
	display: none;
}
/* 탭버튼이 눌러졌을시 관련된 탭박스 활성화 */
.card-body .tabBox.on {
	display: block;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do">홈</a></li>
			<li class="breadcrumb-item">> 주문서관리</li>
			<li class="breadcrumb-item active">> 주문서 조회/등록</li>
		</ol>
		
		<section>
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-table me-1"></i> 조건별 조회
                  </div>
                  <div class="card-body">
                     
                     <form>
                        <div class="mb-3">
                           <label for="frDate">제품명</label> 
                           <input
                              type="text" id="nmae" name="name">
                              <input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#proModal" value="검색"></input>
                        </div>
                        <div class="mb-3">
                           <label for="all">출고일자</label> 
                            <input type="date" id="frDate" name="frDate" style="width: 200px">-<input type="date" id="toDate" name="toDate" style="width: 200px">
                        </div>
                        <div class="mb-3">
                           <label for="name">거래처</label> <input
                              type="text" id="nmae" name="name">
                        	<input type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#comModal" value="검색"></input>
                        </div>
     					<div class="linelist">
                        <button class="btn btn-primary" form="">조회</button>
                     </div>
              	
                     </form>
                  </div>
               </div>
            </div>
         </section>
   
   <div id='grid'></div>
   
    <!-- 제품명 모달 -->
	    <div class="modal fade" id="proModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="proGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>
 	
  <!-- 거래처 모달 -->
  <div class="modal fade" id="comModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">거래처 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="comGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>
   
   <script>
   const gridData = [];
	
   		//출고 목록 그리드
	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	        {
	          header: '거래처',
	          name: 'c1'
	        },
	        {
	          header: '완제품LOT번호',
	          defaultValue: 2,
	          name: 'c2'
	        },
	        {
	          header: '제품코드',
	          name: 'c3'
	        },
	        {
		      header: '제품명',
		      name: 'c3'
		    },
		    {
		      header: '주문코드',
		      name: 'c3'
		    },
		    {
		      header: '출고일자',
		      name: 'c3'
		     },
		     {
		       header: '출고량',
		       name: 'c3'
		      }
	      ],
	      data: gridData
	    });
   		
	 // 제품명 모달 그리드    
    const proGrid = new tui.Grid({
        el: document.getElementById('proGrid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '검사번호',
                name: 'inspCd',
                width: 100
            },
            {
                header: '검사일자',
                name: 'inspDt',
                width: 100
            },
            {
                header: '업체명',
                name: 'vend',
                width: 100
            },
            {
                header: '수량',
                name: 'cnt',
                width: 100
            }
        ],
        data: [
            {
                inspCd: '12-33',
                inspDt: '13-23',
                vend: '13-23',
                cnt: '15-23'
            }
        ]
    });
	 
 // 거래처 모달 그리드    
    const comGrid = new tui.Grid({
        el: document.getElementById('comGrid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '검사번호',
                name: 'inspCd',
                width: 100
            },
            {
                header: '검사일자',
                name: 'inspDt',
                width: 100
            },
            {
                header: '업체명',
                name: 'vend',
                width: 100
            },
            {
                header: '수량',
                name: 'cnt',
                width: 100
            }
        ],
        data: [
            {
                inspCd: '12-33',
                inspDt: '13-23',
                vend: '13-23',
                cnt: '15-23'
            }
        ]
    });
	   
   </script> 
</th:block>
</body>
</html>
