<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>제품출고 조회</title>
<style>
	.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do">홈</a></li>
			<li class="breadcrumb-item">> 제품 출고 관리</li>
			<li class="breadcrumb-item active">> 제품 출고 조회</li>
		</ol>
		
		<div class="card mb-4">
      <div id="cont" style="padding-bottom:0px">
         <section id="r_section">
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-tachometer-alt"></i> 제품 출고 조회
                  </div>
				<div class="card-body" id="vendModal">
                     <form name="searchFrm" id="searchFrm">
                      <div class="r_input">
                        <div class="mb-3">
                           <label for="edctsIstNo" class="form-label">제품명</label>
    						<input type="text" class="form-control" id="prdtNm" name="prdtNm" style="width:150px;">
                        </div>
                        <div class="mb-3">
                           <label for="edctsCd" class="form-label">거래처</label>
    						<input type="text" class="form-control" id="vendNm" name="vendNm" style="width:150px;">
                        </div>
                        <div class="mb-3">
                           <label for="edctsLotNo" class="form-label">출고일자</label>
    						<input type="date" id="oustStart" name="oustStart" class="form-control" style="width:150px"> - <input type="date" id="oustEnd" name="oustEnd"><br>
    						<!-- 모달버튼 -->
   						<button type="button" class="btn btn-primary" id="dtSearchBtn" style="margin-top:20px;"><i class="fas fa-search"></i>검색</button>   							
                        </div>                        
                        </div>
                       </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div id="grid"></div>
         </div>
     <script>
     
     $(function() {
     	getOustList();
     })
     
     	const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	    	{
	          header: '출고번호',
	          name: 'edctsOustNo',
	          align:'center'
	    	},
	        {
	          header: '거래처',
	          name: 'vendNm',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '완제품LOT번호',
	          name: 'edctsLotNo',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '제품명',
	          name: 'prdtNm',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '주문번호',
	          name: 'orderNo',
	          editor: 'datePicker',
	          align:'center'
	        },
	        {
	          header: '출고일자',
	          name: 'edctsOustDt',
	          editor: 'datePicker',
	          align:'center'
	        },
	        {
	          header: '출고수량',
	          name: 'edctsOustCnt',
	          editor: 'datePicker',
	          align:'center'
	        }
		  ]   
	    });
	    
		function getOustList() {
			var searchList = $("#searchFrm").serialize();
	    	$.ajax({
	    		url:"optionSearch",
	    		method:"post",
	    		dataType:"json",
	    		data:searchList,
	    		success:function(result) {
	    			grid.resetData(result);
	    		}
	    	})
		}
		
	    //조회버튼 클릭 -> 조건별 조회
	    $("#dtSearchBtn").on("click",function(e) {
	    	getOustList();	    	
	    });
	    
	    //제품출고조회 출고일자 기본값을 현재날짜로 설정
	    document.getElementById("oustStart").valueAsDate = new Date();
	    document.getElementById("oustEnd").valueAsDate = new Date();
     </script>
     
</body>
</html>