<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>완제품LOT번호별 재고조회</title>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
			<li class="breadcrumb-item">> 영업관리</li>
			<li class="breadcrumb-item active">> 완제품LOT번호별 재고조회</li>
		</ol>
<!-- 본문내용 끝 -->

	<div class="card mb-4">
      <div id="cont" style="padding-bottom:0px">
            <div class="col">
				<div class="card-body">
                     <form name="searchFrm" id="searchFrm" method="post">
                     <table class="table" style="vertical-align : middle">
                     	<colgroup>
                     		<col style="width: 150px;">
	                     	<col>
	                     	<col style="width: 150px;">
	                     	<col>
                     	</colgroup>
                     	<tbody>
                     	<!-- 조회버튼 -->
    						<button type="button" class="btn btn-primary" id="searchBtn" style="float:right;margin-bottom: 15px;margin-left: 10px;"><i class="fas fa-search"></i>조회</button>
    						<button class="btn btn-primary" id="ReBtn" style="float:right;"><i class="fas fa-search"></i> 새자료</button>	
                     		<tr>
                     			<th>제품명</th>
                     			<td><input type="text" class="form-control" id="prdtNm" name="prdtNm" style="width:150px;">
    								<!-- 모달버튼 -->
    								<button type="button" class="btn btn-primary" id="prdtSearchBtn" data-bs-toggle="modal" data-bs-target="#proModal"><i class="fas fa-search"></i></button></td>
    							<th></th>
					   			<td></td>	
                     		</tr>
                     		<tr>
                     			<th>완제품LOT번호</th>
                     			<td><input type="text" class="form-control" id="edctsLotNo" name="edctsLotNo" list="lotdata" style="width:150px" autocomplete="off"/>
    								<datalist id="lotdata">
    									<option th:each="lotNos : ${lotNo}" th:value="${lotNos.edctsLotNo}" th:text="${lotNos.edctsLotNo}"></option>
    								</datalist>
    							</td>
    							<th></th>
					   			<td></td>
                     		</tr>
                     	</tbody>
                     </table>	
                      </form>
                        </div>
                       </div>
                    
                  </div>
               </div>
         <div id="grid" class="card mb-4"></div>
         
          <!-- 제품명 모달 -->
	    <div class="modal fade" id="proModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="proGrid"></div>
                </div>
                <div class="modal-footer">
                	<button type="button" id="confirmBtn" class="btn btn-primary" data-bs-dismiss="modal">확인</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 제품명 모달 끝 -->
<script>
     	const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	      	{
	          header: '완제품LOT번호',
	          name: 'edctsLotNo',
	          align:'center'
	    	},
	    	{
	          header: '제품코드',
	          name: 'edctsCd',
	          align:'center'
	    	},
	        {
	          header: '제품명',
	          name: 'prdtNm',
	          align:'left'
	        },
	        {
	          header: '단위',
	          name: 'unit',
	          align:'left'
	        },
	        {
	          header: '규격',
	          name: 'spec',
	          align:'left'
	        },
	        {
	          header: '재고수량',
	          name: 'lotCnt',
	          align:'right'
	        }
		  ]   
	    });
     	
     	 // 제품코드 모달 그리드(조회)    
	    const proGrid = new tui.Grid({
	        el: document.getElementById('proGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '제품코드',
	                name: 'edctsCd',
	                align:'center'
	            },
	            {
	                header: '제품명',
	                name: 'prdtNm',
	                align:'left'
	            }
	        ]
	    });
     	 
     	 $(function() {
     	 	getStcAllList();
     	 })
     	 
     	 //제품명 조회 모달
     	 $("#prdtSearchBtn").on("click",function(list){
     		 setTimeout(function () {
					proGrid.refreshLayout()
				}, 300);
     		 $.ajax({
     			 url:"getPrdtNm",
     			 method:"get",
     			 dataType:"json",
     			 success:function(list) {
     				 proGrid.resetData(list);
     			 }
     		 })
     	 })
     	 //제품명 모달창에서 체크박스 선택 -> 제품명 폼에 출력
	    proGrid.on("click", e => {
	    	var proInfo = proGrid.getCheckedRows(e);
	    	console.log(proInfo);
	    	prdtNm.value = proInfo[0].prdtNm;
	    })
	    //모달 그리드 더블클릭시 제품명 가져오기
		 proGrid.on('dblclick', (ev) => {
    					var rowKey = ev.rowKey;
    					console.log(rowKey);
    					proGrid.check(rowKey);
    					var rowKeyData = proGrid.getCheckedRows(ev);
    					console.log(rowKeyData);
    					prdtNm.value = rowKeyData[0].prdtNm;
    					$("#proModal").modal('hide');
					});
	    
	    function getStcAllList() {
	    	$.ajax({
	    		url:"getStcAllList",
	    		method:"get",
	    		dataType:"json",
	    		success:function(result) {
	    			grid.resetData(result);
	    		}
	    	})
	    }
	    
	    //완제품 재고 조건별 조회
	    $("#searchBtn").on("click",function() {
	    	var searchOption = $("#searchFrm").serialize();
	    	if($("#prdtNm").val() == '' && $("#edctsLotNo").val() == '') {
	    		toastr.error('제품명 혹은 완제품LOT번호를 입력해주세요');
	    	}else {
	    		$.ajax({
	    		url:"getLotStcList",
	    		method:"post",
	    		dataType:"json",
	    		data:searchOption,
	    		success:function(result) {
	    			grid.resetData(result);
	    		}
	    	})
	    	}
	    })
	    
	    //새자료 버튼 클릭 -> 폼 input 비우기
		$("#ReBtn").on("click",function() {
			$("#searchFrm").each(function() {
				this.reset();
			})
		})
	    	   
</script>
</body>
</html>