<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<style>
	.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4" style="margin-left: 20px;">제품출고등록</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item" style="margin-left: 25px;"><a href="/"><i class="fas fa-home"></i></a></li>
			<li class="breadcrumb-item">> 영업관리</li>
			<li class="breadcrumb-item active">> 제품출고등록</li>
		</ol>
<!-- 본문내용 끝 -->

<!-- 주문서,출고 등록 그리드 -->
<div id="cont">
	<div class="container-fluid px-4">
		<div class="card mb-4">	 
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card mb-4" style="margin-right: 10px;">
					<div class="card-header">
						<i class="fas fa-chart-bar me-1"></i> 진행중 주문서 현황
					</div>
					<div class="card-body">
						<div id="grid"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card mb-4">
					<div class="card-header">
						<i class="fas fa-chart-pie me-1"></i> 출고 등록 현황
						
					</div>
					<div class="card-body">
						<div id="grid2"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
<!-- 주문서,출고 등록 그리드 끝 -->

<!--검사완료 완제품 재고 모달-->
  <div class="modal fade" id="StcGridModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">완제품 재고</h5>
                    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="StcGrid"></div>
                </div>
                <div class="modal-footer">
                	주문수량<input type="text" id="orderCntOut" name="orderCntOut" class="form-control" style="width: 150px" disabled>
                	<input type="text" id="edctsOustCntOut" class="form-control" placeholder="출고수량 입력" style="width: 150px">
                    <button class="btn btn-primary" id="addBtn"><i class="fas fa-save"></i> 등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
<!--검사완료 완제품 재고 모달 끝-->
<script>

		$(function() {
			findOrder();
			findOust();
		})

		//생산완료 주문서 현황 그리드
	    const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	        {
	          header: '주문번호',
	          name: 'orderNo',
	          align:'center'
	        },
	        {
	          header: '거래처',
	          name: 'vendNm',
	          align:'left'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd',
	          align:'center'
	        },
	        {
		      header: '제품명',
		      name: 'prdtNm',
		      align:'left'
		        },
		    {
			  header: '주문수량',
			  name: 'orderCnt',
			  align:'right'
			}
	      ]
	    });
	    
		//출고 등록 현황 그리드
	    const grid2 = new tui.Grid({
	        el: document.getElementById('grid2'),
	        scrollX: false,
	        bodyHeight: 300,
	        rowHeight: 35,
	        rowHeaders: ['rowNum'],
	        columns: [
	          {
	            header: '제품코드',
	            name: 'edctsCd',
	            align:'center'
	          },
	          {
	            header: '완제품LOT번호',
	            name: 'edctsLotNo',
	            align:'center'
	          },
	          {
	            header: '출고일자',
	            name: 'edctsOustDt',
	            align:'center'
	          },
	          {
	            header: '출고수량',
	            name: 'edctsOustCnt',
	            align:'right'
	          }
	        ]
	      });
	      
	      //완제품 재고 현황 모달
	      const StcGrid = new tui.Grid({
	        el:document.getElementById('StcGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	        	{
	                header: '제품코드',
	                name: 'edctsCd',
	                align:'center'
	            },
	            {
	                header: '완제품LOT번호',
	                name: 'edctsLotNo',
	                align:'center'
	            },
	            {
	                header: '제품명',
	                name: 'prdtNm',
	                align:'left'
	            },
	            {
	                header: '완제품 재고량',
	                name: 'lotCnt',
	                align:'right'
	            }
	        ]
	    });
	      
	  //진행중 주문서 현황 목록 불러오기
	  function findOrder() {
	  	$.ajax({
	  		url:"findOrder",
	  		method:"get",
	  		dataType:"json",
	  		success:function(list) {
	  			grid.resetData(list);
	  		}
	  	})
	  }
	  
	  //출고현황 목록 불러오기
	  function findOust() {
	  	$.ajax({
	  		url:"findOust",
	  		method:"get",
	  		dataType:"json",
	  		success:function(result) {
	  			grid2.resetData(result);
	  		} 
	  	})
	  }
	  
	  //진행중 주문서 주문번호 칸 클릭 -> 완제품 재고 목록 모달 띄우기
	  let orderNo = '';
	  grid.on("click", (e) => {
	  	const { columnName } = e;
	  	OustRowKey = e.rowKey;
	  	if(columnName == 'orderNo') {
		  	
		  	orderNo = grid.getValue(OustRowKey, 'orderNo');
		  	console.log(orderNo);
	  		let edctsCd = grid.getValue(OustRowKey,'edctsCd');
	  		let orderCnt = grid.getValue(OustRowKey, 'orderCnt');

	  		$("#StcGridModal").modal('show');
	  			$.ajax({
	  			url:"salesStcList",
	  			dataType:"json",
	  			method:"post",
	  			data:{"edctsCd":edctsCd},
	  			success:function(result) {
	  				setTimeout(function () {
						StcGrid.refreshLayout()
						}, 300);
						console.log(edctsCd);
	  				StcGrid.resetData(result);
	  				//$("input[name=rderCntOut]").val(orderCnt);
	  				$("#orderCntOut").val(orderCnt);
	  			}
	  		})
	  	}
	  });
	  
	  //더블클릭 하면 체크박스 체크
	  StcGrid.on('dblclick', (e) => {
    				var rowKey = e.rowKey;
    				StcGrid.check(rowKey);
				});
	  
	   grid.on("click",(e) => {
	   	const {columnName} = e;
	   	ordrRowKey = e.rowKey;
	   	console.log(ordrRowKey);
	   	if(columnName == 'orderNo') {
	   		edctsCd = grid.getValue(ordrRowKey,'edctsCd');
	   		orderNo = grid.getValue(ordrRowKey,'orderNo');
	   		console.log(orderNo);
	   		}
	   	})
	   	
	  
	  //완제품 재고 목록 모달에서 출고량 입력하여 완제품 출고 테이블에 저장
		$("#addBtn").click(ev => {
			if( StcGrid.getCheckedRows().length == 0){
				toastr.warning('출고할 제품을 선택해주세요');
			}else if($("#edctsOustCntOut").val() == '') {
				toastr.warning('출고수량을 선택해주세요');
			} else{
				//var edctsLotNo = StcGrid[0].edctsLotNo;
				//console.log(edctsLotNo);
				//var edctsOustCnt = StcGrid[0].edctsOustCnt;
				//console.log(edctsOustCnt);
				console.log(edctsCd)
				var edctsOustCnt = $("#edctsOustCntOut").val();
				console.log(edctsOustCnt);
				var edctsRow = StcGrid.getCheckedRows();
				console.log(edctsRow);
				var edctsLotNo = edctsRow[0].edctsLotNo;
				console.log(edctsLotNo);
						$.ajax({
					url:"saveSalesOust",
					method:"post",
					dataType:"json",
					data:{"edctsCd":edctsCd,"edctsLotNo":edctsLotNo,"edctsOustCnt":edctsOustCnt,"orderNo":orderNo},
					success:function(list) {
						grid2.resetData(list);
						$("#StcGridModal").modal('hide');
					}
				})
				$.ajax({
				url:"updateProg",
				method:"put",
				dataType:"json",
				data:{"orderNo":orderNo},
				success:function(result) {
					findOrder();
					toastr.success('출고등록되었습니다');
					}
				})
			}
		})
	  	
</script>
</body>
</html>