<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>제품출고 조회</title>
<style>
	.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<div class="container-fluid px-4">
		<h1 class="mt-4">영업관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do">홈</a></li>
			<li class="breadcrumb-item">> 제품 출고 관리</li>
			<li class="breadcrumb-item active">> 제품 출고 조회</li>
		</ol>
		
		<div class="card mb-4">
      <div id="cont" style="padding-bottom:0px">
         <section id="r_section">
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-tachometer-alt"></i> 제품 출고 조회
                  </div>
				<div class="card-body" id="vendModal">
                     <form name="searchFrm" id="searchFrm">
                      <div class="r_input">
                        <div class="mb-3">
                           <label for="edctsIstNo" class="form-label">제품명</label>
    						<input type="text" class="form-control" id="prdtNm" name="prdtNm">
    						<!-- 모달버튼 -->
    						<button type="button" class="btn btn-primary" id="prdtSearchBtn" data-bs-toggle="modal" data-bs-target="#proModal"><i class="fas fa-search"></i></button>	
                        </div>
                        <div class="mb-3">
                           <label for="edctsCd" class="form-label">거래처</label>
    						<input type="text" class="form-control" id="vendNm" name="vendNm">
    						<!-- 모달버튼 -->
    						<button type="button" class="btn btn-primary" id="comSearchBtn" data-bs-toggle="modal" data-bs-target="#comModal"><i class="fas fa-search"></i></button>	
                        </div>
                        <div class="mb-3">
                           <label for="edctsLotNo" class="form-label">출고일자</label>
    						<input type="date" id="oustStart" name="oustStart"> - <input type="date" id="oustEnd" name="oustEnd">
    						<!-- 모달버튼 -->
    						<button type="button" class="btn btn-primary" id="dtSearchBtn"><i class="fas fa-search"></i></button>	
                        </div>
                        
                        </div>
                       </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div id="grid"></div>
          
          <!-- 제품명 모달 -->
	    <div class="modal fade" id="proModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="proGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 제품명 모달 끝 -->
    
     <!-- 거레처명 모달 -->
	    <div class="modal fade" id="comModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">제품 목록</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                	<div id="comGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="c_btn" data-bs-dismiss="modal">닫기</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 거래처명 모달 끝 -->
         </div>
     <script>
     	const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      scrollX: false,
	      bodyHeight: 300,
	      rowHeight: 35,
	      rowHeaders: ['rowNum'],
	      header: {
	        height: 40
	      },
	      columns: [
	    	{
	          header: '출고번호',
	          name: 'edctsOustNo',
	          width: 100,
	          align:'center'
	    	},
	        {
	          header: '거래처',
	          name: 'vendNm',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '완제품LOT번호',
	          name: 'edctsLotNo',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '제품명',
	          name: 'prdtNm',
	          editor: 'text',
	          align:'center'
	        },
	        {
	          header: '주문번호',
	          name: 'orderNo',
	          editor: 'datePicker',
	          align:'center'
	        },
	        {
	          header: '출고일자',
	          name: 'edctsOustDt',
	          editor: 'datePicker',
	          align:'center'
	        },
	        {
	          header: '출고수량',
	          name: 'edctsOustCnt',
	          editor: 'datePicker',
	          align:'center'
	        }
		  ]   
	    });
	    
	    // 제품명 모달 그리드(조회)    
	    const proGrid = new tui.Grid({
	        el: document.getElementById('proGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '제품명',
	                name: 'prdtNm',
	                width: 200,
	                align:'center'
	            }
	        ]
	    });
	    
	 // 거래처명 모달 그리드(조회)    
	    const comGrid = new tui.Grid({
	        el: document.getElementById('comGrid'),
	        scrollX: false,
	        scrollY: false,
	        rowHeaders: ['checkbox'],
	        columns: [
	            {
	                header: '거래처코드',
	                name: 'vendCd',
	                width: 100,
	                align:'center'
	            },
	            {
	                header: '거래처',
	                name: 'vendNm',
	                width: 100,
	                align:'center'
	            },
	            {
	                header: '사업자등록번호',
	                name: 'bizNo',
	                width: 100,
	                align:'center'
	            },
	            {
	                header: '전화번호',
	                name: 'telNo',
	                width: 100,
	                align:'center'
	            },
	            
	        ]
	    });
	    
	    //제품명 목록 모달창으로 가져오기
	    $("#prdtSearchBtn").on("click",function(list) {
	    	setTimeout(function () {
					proGrid.refreshLayout()
				}, 300);
				$.ajax({
					url:"getProd",
					method:"get",
					dataType:"json",
					success:function(list) {
						proGrid.resetData(list);
				}
			})
	    })
	    //제품명 모달창에서 체크박스 선택 -> 제품명 폼에 출력
	    proGrid.on("click", e => {
	    	var proInfo = proGrid.getCheckedRows(e);
	    	console.log(proInfo);
	    	prdtNm.value = proInfo[0].prdtNm;
	    })
	    
	    //거래처명 목록 모달창으로 가져오기
	    $("#comSearchBtn").on("click",function(result) {
	    	setTimeout(function () {
				proGrid.refreshLayout()
			}, 300);
	    	$.ajax({
	    		url:"comSearch",
	    		method:"get",
	    		dataType:"json",
	    		success:function(result){
	    			comGrid.resetData(result);
	    		}
	    	})
	    })
	    //거래처명 모달창에서 체크박스 선택 -> 거래처명 폼에 출력
	    comGrid.on("click",e => {
	    	var comInfo = comGrid.getCheckedRows(e);
	    	vendNm.value = comInfo[0].vendNm;
	    })

	    //조회버튼 클릭 -> 조건별 조회
	    $("#dtSearchBtn").on("click",function(e) {
	    	//var oustStart = $('input[name=oustStart]').val();
	    	//var oustEnd = $('input[name=oustEnd]').val();
	    	var searchList = $("#searchFrm").serialize();
	    	$.ajax({
	    		url:"optionSearch",
	    		method:"get",
	    		dataType:"json",
	    		data:searchList,
	    		success:function(result) {
	    			grid.resetData(result);
	    		}
	    	})
	    });
     </script>
     
</body>
</html>