<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}

</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main"> 
 <!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">생산지시조회</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 생산지시조회</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
   <div id="container">
     <section>
            <div class="col">
               <div class="card mb-4">
                  
                  <div class="card-body">
                     
                     <form>
                        <div class="mb-3">
                           <label for="frDate">지시일자</label> 
                           <input type="date"  class="form-control" id="start-input" name="start-input" style="width: 150px"> - <input type="date" class="form-control" id="end-input" name="end-input" style="width: 150px">
                        </div>
                        <div class="mb-3">
                           <label for="all">지시상태</label> 
                            <label><input class="form-check-input" type="radio" name="status" value="전체">전체</label>
                            <label><input class="form-check-input" type="radio" name="status" value="지시">지시</label>
                            <label><input class="form-check-input" type="radio" name="status" value="미지시">미지시</label>
                        </div>
                        <div class="mb-3">
                           <label for="name">제품명</label> 
                           <input type="text" style="width: 150px" class="form-control" id="name" name="name">
                        </div>
     					<div class="linelist">
                        <button type="button" class="btn btn-primary" id="sBtn">조회</button>
                     </div>
              	
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <div class="card mb-4">
			<div class="card-body">
          <div class="linelist">
              <button type="button" class="btn btn-primary" id="dBtn">삭제</button>
           </div>
           <br><br>
   <div id='grid'></div>
   </div> 
   </div>
   </div>
   <script>
   const gridData = [];

   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: false,
	      rowHeaders: ['checkbox'],
	      columns: [
	      	{
	          header: '지시일자',
	          name: 'indicaDt',
	          align: 'center'
	        },
	        {
	          header: '라인코드',
	          name: 'lineCd',
	          align: 'center'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd',
	          align: 'center'
	        },
	        {
	          header: '지시수량',
	          name: 'indicaCnt',
	          align: 'center'
	        },
	        {
	          header: '필요수량',
	          name: 'orderCnt',
	          align: 'center'
	        },
	        {
	          header: '작업시작일',
	          name: 'wkFrDt',
	          align: 'center'
	        }
	      ]
	    });
	    
    /* 조회하기  */
   $("#sBtn").on("click", function(){
	   let indicaDt = $("#start-input").val();
	   let indicaDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
	  
	   $.ajax({
		 url : 'getIndicaList',
		 method : 'POST',
		 data : {"indicaDt" : indicaDt, "indicaDt2" : indicaDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
		 success : function(result) {
		 	console.log(result)
			 grid.resetData(result)
		 }
	   })
   })
   
   /* 지시삭제하기 */
   $("#dBtn").on("click", function() {
   		// 조회 ajax에서 쓰는 거 
   	   let indicaDt = $("#start-input").val();
	   let indicaDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
	   // 삭제 ajax에서 쓰는 거
	   let indicaDt3 = grid.getData()[0].indicaDt;
	       	   
	   $.ajax({
	   		url : 'deleteIndica',
	   		method : 'GET',
	   		contentType:'application/text',
	   		data : {"indicaDt3" : indicaDt3},
	   		success : function(result){
	   			 $.ajax({
		 			url : 'getIndicaList',
					method : 'POST',
		 			data : {"indicaDt" : indicaDt, "indicaDt2" : indicaDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
		 			success : function(result) {
			 			grid.resetData(result)
		 			}
	   			 })
	   		} 
	   })
	  
   })
   
   
   </script> 

</th:block>
</body>
</html>