<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<style>

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
 <!-- 헤더부분 -->
   <div class="container-fluid px-4">
       <h1 class="mt-4">생산계획조회</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 생산계획조회</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
   <div id="container">
     <section>
            <div class="col">
               <div class="card mb-4">
                
                  <div class="card-body">
                     
                     <form>
                        <div class="mb-3">
                           <label for="frDate">계획일자</label> 
	                           <input class="form-control" type="date" id="start-input" name="start-input" style="width: 150px">
                           -
	                           <input class="form-control" type="date" id="end-input" name="end-input" style="width: 150px">
                        </div>
                        <div class="mb-3">
                           <label>지시상태</label> 
                            <label><input class="form-check-input" type="radio" name="status" value="전체"> 전체</label>
                            <label><input class="form-check-input" type="radio" name="status" value="진행"> 진행</label>
                            <label><input class="form-check-input"  type="radio" name="status" value="미진행"> 미진행</label>
                        </div>
                        <div class="mb-3">
                           <label for="name">제품이름</label> <input class="form-control"
                              type="text" id="name" name="name" style="width: 150px">
                        </div>
     					<div class="linelist">
                        <button type="button" class="btn btn-primary" id="sBtn"><i class="fas fa-search"></i> 조회</button>
                     	</div>
                     </form>
                   
                  </div>
               </div>
            </div>
         </section>
         <div class="card mb-4">
			<div class="card-body">
           <div class="linelist">
              <button type="button" class="btn btn-primary"  id="dBtn"><i class="fas fa-minus"></i> 삭제</button>
           </div>
           <br><br>
   		<div id='grid'></div> 
   	</div>
   	</div>
   	</div>
   <script>
   const gridData = [];
  
   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: true,
	      rowHeaders: ['checkbox'],
	      columns: [
	        {
	          header: '계획코드',
	          name: 'planCd'
	        },
	        {
	          header: '라인코드',
	          name: 'lineCd'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd'
	        },
	        {
	          header: '필요수량',
	          name: 'orderCnt'
	        },
	        {
	          header: '지시수량',
	          name: 'indicaCnt'
	        },
	        {
	          header: '작업시작일',
	          name: 'wkFrDt'
	        }
	      ]
	    });
   
   /* 조회하기  */
   $("#sBtn").on("click", function(){
	   let planDt = $("#start-input").val();
	   let planDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
	  
	   $.ajax({
		 url : 'getList',
		 method : 'POST',
		 data : {"planDt" : planDt, "planDt2" : planDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
		 success : function(result) {
			 grid.resetData(result)
		 }
	   })
   })
   
   /* 계획삭제하기 */
   $("#dBtn").on("click", function() {
   	   let planCd = grid.getCheckedRows()[0].planCd;	
   	   let planDt = $("#start-input").val();
	   let planDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
   	   console.log(planCd)
	   $.ajax({
	   		url : 'deletePlan',
	   		method : 'GET',
	   		contentType:'application/text',
	   		data : {"planCd" : planCd},
	   		success : function(result){
	   			 $.ajax({
		 			url : 'getList',
					method : 'POST',
		 			data : {"planDt" : planDt, "planDt2" : planDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
		 			success : function(result) {
			 			grid.resetData(result)
		 			}
	   			 })
	   		} 
	   })
   })
  
   </script>
</th:block>
</body>
</html>