<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <style>

        #container {
            width: 98%;
            margin: 0 auto;
        }

        .col {
            width: 100%
        }

        .linelist {
            float: right;
            margin: 0 20px 20px 0;

        }

        #pDate {
            float: left;
        }


        .tui-datepicker {
            z-index: 99;
        }
    </style>
</head>

<body>
    <!-- 본문내용 -->
    <th:block layout:fragment="main">
        <!-- 헤더부분 -->
        <div class="container-fluid px-4">
            <h1 class="mt-4">생산계획</h1>
            <ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 생산관리</li>
				<li class="breadcrumb-item active">> 생산계획</li>
	  		</ol>
        </div>
        <!-- 헤더부분 -->
        <div id="container">
         <div class="card mb-4">
			<div class="card-body">
            <div id="pDate">
                <!--<div class="tui-datepicker-input tui-datetime-input tui-has-focus">-->
	                <label>생산계획일자</label>
                    <input type="date" id="tui-date-picker-target" class="form-control" style="width: 150px">
                    <!--<span class="tui-ico-date"></span>-->
                	<!--<div id="tui-date-picker-container1" style="margin-top: -1px;"></div>-->
                <!--</div>-->
            </div>
            <div class="linelist">
                <button data-bs-toggle="modal" class="btn btn-primary" id="modalBtn" data-bs-target="#exampleModal"
                  ><i class="fas fa-search"></i> 주문서</button>
                <button class="btn btn-primary" id="regiBtn"><i class="fas fa-file"></i> 새계획</button>
                <button class="btn btn-primary"id="osBtn"><i class="fas fa-save"></i> 저장</button>
            	<button id="clearBtn" class="btn btn-primary" form=""><i class="fa-solid fa-broom"></i> 초기화</button>
            </div>
			</div>
			</div>
			<div class="card mb-4">
			<div class="card-body">
            <div id="grid"></div>
            </div>
            </div>
            <br>
            <div class="card mb-4">
			<div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <div id="grid2" style="width: 1000px;">제품</div>
                <div id="grid3" style="width: 500px;">제품공정확인</div>
            </div>
            </div>
            </div>
            <br>
            <div class="card mb-4">
			<div class="card-body">
            <div class="d-flex flex-row justify-content-between">
                <div id="grid4" style="width: 1000px;">사용가능자재</div>
                <div id="grid5" style="width: 500px;">자재확인</div>
            </div>
            </div>
            </div>


            <div id="tui-date-picker-container" style="margin-top: -1px;"></div>
            <br>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">주문서 조회</h5>
                        <br> <br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div><br>
                    <div id="modGrid" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="confirmBtn" class="btn btn-primary"
                            data-bs-dismiss="modal">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
     
        <script>
        //초기화
    	$("#clearBtn").on("click", function(){
	   		grid.clear()
	   		grid2.clear()
	   		grid3.clear()
	   		grid4.clear()
	   		grid5.clear()
	   	}) 
        
        //주문서 조회 버튼을 클릭했을 때
        
       	$("#modalBtn").on("click", function(e) {
       		//계획일자 인풋박스에 출력된 값의 타입= String 
   			 let planDt
   	         //let index
   	         let code
   			 planDt = $("#tui-date-picker-target").val();
       		
   			modGrid.on('dblclick', ev => {
   				modGrid.check(ev.rowKey);
 			})  
       			
   			//순번 받아오기 (계획일자 indicaDt를 넘겨주고 생산계획 테이블에 그 계획일자와 같은 날짜를 가진 행에서 max값을 리턴) 
        	$.ajax({
        		url: 'getIndex',
        		method: 'GET',
        		dataType: 'json',
        		contentType:'application/text',
        		data : {"planDt": planDt},
        		success: function (result) {
        			console.log(result.index);
        			if (result.index == "0") {
        				index = "001";
        			} else {
	        			index = result.index 
	        			
        			}
        			function makeCd() {
						return "PLN" + makeDate2(planDt) + index
       				}
        			code = makeCd()
        			
		        	$.ajax({
		                url: "orderListModal",
		                method: "GET",
		                dataType: "JSON",
		                success: function (result) {
		                    modGrid.resetData(result); 
		                    modGrid.on('click', e => {
								let result = modGrid.getCheckedRows(e);
								modGrid.setValue(e.rowKey, 'planCd', code)
							})
		                }
		            });
        		},
        		error : function(error) {        
             		console.log("error")   
        		}
        	})
        	
        
       	})
       	
       	      
    
			// 주문서 내용과 계획코드 메인 grid에 띄우기        
       		const gridData = [];
       		 $("#confirmBtn").on("click", function(e){
            	let result = modGrid.getCheckedRows();
            	grid.resetData(result);
            	grid2.resetData(result);
            })
            
            const grid = new tui.Grid({
                el: document.getElementById('grid'),
        		data : gridData,
                scrollX: false,
                scrollY: false,
                columns: [{
                        header: '계획코드',
                        name: 'planCd',
                        align: 'center'
                    },
                    {
                        header: '주문번호',
                        name: 'orderNo',
                        align: 'center'
                    },
                    {
                        header: '필요수량',
                        name: 'orderCnt',
                        editor : 'text',
                        align: 'right'
                    },
                    {
                        header: '납기일자',
                        name: 'paprdDt',
                        align: 'center'
                    }
                ]
            });
            
            $("#grid2").on("keyup", function(key){
            	// 지시수량은 주문수량*1.05를 초과할 수 없음
            	// 종료일자는 시작일자 이전일 수 없음
            	let oCnt = grid.getData()[0].orderCnt*1.05
            	let iCnt = grid2.getData()[0].indicaCnt
            	let wkFrDt = grid2.getData()[0].wkFrDt
            	let wkToDt = grid2.getData()[0].wkToDt
				let edctsCd            	
            	if(key.keyCode == 13) {
            		if(grid2.getData()[0].edctsCd == null) {
            			edctsCd= grid2.getData()[0].prdtNm
            		} else {
			           	edctsCd = grid2.getData()[0].edctsCd;
            		}
		           	// grid2에는 공정코드가 없음 
		           	// 제품 코드(String)를 보내고 그 제품코드에 해당하는 공정코드 리스트를 리턴받음
		           	$.ajax({
		           		url : 'getPrcsFlow',
		           		data : {"edctsCd" : edctsCd},
		           		method : 'POST',
		           		success : function(result) { //성공하면 result에 조건에 맞는 공정코드들이 담김 -> 배열 
		           									 //result에 담긴 값들을 grid3 prcsCd 칼럼에 넣기
		            		$.each(result, function(index, item) {
		            			item.lineCd = grid2.getData()[0].lineCd;
		            			item.planCd = grid2.getData()[0].planCd;
		            		}) 
		            		if(oCnt >= iCnt && wkToDt >= wkFrDt) {
		            			grid3.resetData(result)
		            			
		            			$.ajax({
		            				url : 'getRscInfo',
		            				data : {"edctsCd" : edctsCd},
		            				method : 'POST',
		            				success : function(res) {
		            					$.each(res, function(index, item) {
		            						item.planCd = grid.getData()[0].planCd;
		            						item.useCnt = item.useCnt * grid2.getData()[0].indicaCnt
		            					})
		            					grid4.resetData(res)
		            				}
		            			
		            			})
		            			
		            		} else if(oCnt < iCnt && wkToDt >= wkFrDt){
		            			toastr.error("생산 수량이 초과되었습니다.")
		            		} else if(oCnt >= iCnt && wkToDt < wkFrDt){
		            			toastr.error("종료일자가 시작일자보다 빠릅니다.")
		            		} else if(oCnt < iCnt &&  wkToDt < wkFrDt){
		            			toastr.error("생산 수량이 초과되었습니다.")
		            			toastr.error("종료일자가 시작일자보다 빠릅니다.")
		            		}
		           			
		           		}
		           	})
		        }
            	
            })
            
            const gridData2 = [];

            const grid2 = new tui.Grid({
                el: document.getElementById('grid2'),
                data: gridData2,
                scrollX: false,
                scrollY: false,
                columns: [
                    {
                        header: '제품명',
                        name: 'prdtNm',
                        align: 'left',
                        editor: {
                            type: 'select',
                            options: {
                                listItems: [{
                                        text: '유자차',
                                        value: 'RZP001'
                                    },
                                    {
                                        text: '자몽차',
                                        value: '자몽차'
                                    }
                                ]
                            }
                        }
                    },
                    {
                        header: '라인번호',
                        name: 'lineCd',
                        align: 'center',
                        editor: {
                            type: 'select',
                            options: {
                                listItems: [{
                                        text: 'LNE001',
                                        value: 'LNE001'
                                    },
                                    {
                                        text: 'LNE002',
                                        value: 'LNE001'
                                    },
                                    {
                                        text: 'LNE003',
                                        value: 'LNE003'
                                    }
                                ]
                            }
                        }
                    },
                    {
                        header: '시작일자',
                        name: 'wkFrDt',
                        editor: 'datePicker',
                        align: 'center'
                    },
                    {
                        header: '종료일자',
                        name: 'wkToDt',
                        editor: 'datePicker',
                        align: 'center'
                    },
                    {
                        header: '생산수량',
                        name: 'indicaCnt',
                        editor: 'text',
                        align: 'right'
                    },
                    {
                        header: '작업우선순위',
                        name: 'prefRank',
                        editor: 'text',
                        align: 'right'
                    },
                    {
                        header: '계획코드',
                        name: 'planCd',
                        align: 'center'
                    }
                ]
            });
			
		
            const gridData3 = [];

            const grid3 = new tui.Grid({
                el: document.getElementById('grid3'),
                data: gridData3,
                bodyHeight : 130,
                scrollX: false,
                scrollY: true,
                columns: [{
                        header: '제품코드',
                        name: 'edctsCd',
                        align: 'center'
                    },
                    {
                        header: '라인번호',
                        name: 'lineCd',
                        align: 'center'
                    },
                    {
                        header: '공정코드',
                        name: 'prcsCd',
                        align: 'center'
                    },
                    {
                        header: '계획코드',
                        name: 'planCd',
                        align: 'center'
                    }
                ]
            });

            const gridData4 = [];
          
            const grid4 = new tui.Grid({
                el: document.getElementById('grid4'),
                data: gridData4,
                bodyHeight : 169,
                scrollX: false,
                scrollY: true,
           		rowHeaders: ['checkbox'],
                columns: [{
                        header: '자재코드',
                        name: 'rscCd',
                        align: 'center'
                    },
                    {
                        header: '자재LOT',
                        name: 'rscLotCd',
                        align: 'center'
                    },
                    {
                        header: '사용가능수량',
                        name: 'lotRmnCnt',
                        align: 'right'
                    },
                    {
                        header: '출고수량',
                        name: 'holdCnt',
                        editor : 'text',
                        align: 'right'
                    },
                    {
                        header: '사용량',
                        name: 'useCnt',
                        align: 'right'
                    }
                ]
            });

            const gridData5 = [];
          
 		 	grid4.on('editingStart', ev => {
 				grid4.check(ev.rowKey);
 			})  	
 			
 			$("#grid4").on("keyup", function(key) {
           		if(key.keyCode == 13) {
	          		let data = grid4.getCheckedRows()
	          		console.log(data)
	          		if(data[0].holdCnt > data[0].lotRmnCnt && data[0].holdCnt == data[0].useCnt){
	          			toastr.error("자재 재고가 부족합니다")
	          		} else if (data[0].holdCnt > data[0].lotRmnCnt && data[0].holdCnt < data[0].useCnt) {
	          			toastr.error("출고 수량이 부족합니다")
	          		} 
	          		else {
		           		grid5.resetData(data)
	          		}
           		}
           	})
 			
            const grid5 = new tui.Grid({
                el: document.getElementById('grid5'),
                data: gridData5,
                bodyHeight : 169,
                scrollX: false,
                scrollY: true,
                columns: [{
                        header: '자재코드',
                        name: 'rscCd',
                        align: 'center'
                    },
                    {
                        header: '공정코드',
                        name: 'prcsCd',
                        align: 'center'
                    },
                    {
                        header: '출고수량',
                        name: 'holdCnt',
                        align: 'right'
                    },
                    {
                        header: '계획코드',
                        name: 'planCd',
                        align: 'center'
                    }
                ]
            });

            //var datepicker = new tui.DatePicker('#tui-date-picker-container1', {
            //    language: 'ko',
            //    date: new Date(),
            //   input: {
            //       element: '#tui-date-picker-target',
            //        format: 'yyyy-MM-dd'
            //   }
            //});
           

            const modGrid = new tui.Grid({
                el: document.getElementById('modGrid'),
                scrollX: false,
                scrollY: false,
                rowHeaders: ['checkbox'],
                columns: [{
                    header: '주문번호',
                    name: 'orderNo',
                    align: 'center',
                }, {
                    header: '거래처명',
                    name: 'vendNm',
                    align: 'left'
                }, {
                    header: '제품명',
                    name: 'prdtNm',
                    align: 'left',
                }]
            })

            modalBtn.addEventListener('click', function () {
                setTimeout(function () {
                    modGrid.refreshLayout()
                }, 300);
            });
            
             $("#osBtn").on("click", function(){
             	let iDt= $("#tui-date-picker-target").val();
             	console.log(iDt)
             	let gridData = grid.getData();
             	gridData[0].planDt = iDt
             	console.log(gridData[0].planDt = iDt)
             	
             	let grid2Data = grid2.getData()
             	grid2Data[0].planDt = iDt
             	
             	let grid5Data = grid5.getData()
             	$.each(grid5Data, function(index, item) {
		            	item.holdCnt = grid4.getCheckedRows()[index].holdCnt;
		         }) 
		         
		        let orderNo = grid.getData()[0].orderNo
             	
             	let arr = []
             	
             	arr.push(gridData[0])
             	arr.push(grid2Data[0])
             	
             	//console.log(JSON.stringify(arr))
            	
            	$.ajax({
            		url : 'plan12Insert',
            		method: 'POST',
            		contentType:'application/json',
            		data : JSON.stringify(arr)
            	})
            	
            	$.ajax({
            		url : 'grid5Update',
            		method: 'POST',
            		contentType:'application/json',
            		data : JSON.stringify(grid5Data)
            	}).done(function(){
            		toastr.success("저장되었습니다.")  
            		grid.clear()
			   		grid2.clear()
			   		grid3.clear()
			   		grid4.clear()
			   		grid5.clear()
            	})
            	
            	  
            	
            	$.ajax({
            		url : 'orderUpdate',
            		data : {"orderNo" : orderNo }
            	})
            	
            	
            })
            
            function makeDate(idt) {
           		let d1 = idt.slice(0,4); 
           		let d2 = idt.slice(4,6); 
           		let d3 = idt.slice(6,8); 
           		
           		return d1 + "-" + d2 + "-" + d3
           	}
             
            function makeDate2 (value) {
            	let v1 = value.slice(0,4);
            	let v2 = value.slice(5,7);
            	let v3 = value.slice(8,10);
            	
            	return v1 + v2 + v3
            	
            }
         	
            $("#regiBtn").on("click", function(e) {
            	grid.appendRow()
            	let planDt = $("#tui-date-picker-target").val();
            	$.ajax({
            		url: 'getIndex',
            		method: 'GET',
            		dataType: 'json',
            		contentType:'application/text',
            		data : {"planDt": planDt},
            		success: function (result) {
            			if (result.index == "0") {
        				index = "001";
        				} else {
	        			index = result.index 
        				}
            			function makeCd() {
    						return "PLN" + makeDate2(planDt) + index
           				}
            			code = makeCd()
            			console.log(code)
            			grid.setValue(0, 'planCd', code)
            		}
            	})
            })
            
            $("#grid").on("keyup", function(key) {
            	if(key.keyCode==13) {
            		grid2.appendRow()
            		grid2.setValue(0, 'planCd', code)
            	}
            })
            
            let hoverOption = {
		     row: {
			         hover: {
			             background: 'rgba(19,78,94,0.2)'
			         }
		     	}
			 }
		 	tui.Grid.applyTheme('default', hoverOption);
		 	
		 	 grid.on('dblclick', ev => {
		 		grid.check(ev.rowKey);
		 	})  	
	   	
		    grid.on('check', (ev) => {
		   		grid.addRowClassName(ev.rowKey, 'highlight2');
		 	});
		 	
		 	 grid.on('uncheck', (ev) => {
			   grid.removeRowClassName(ev.rowKey, 'highlight2');
			 });
			 
			
        </script>
    </th:block>
</body>

</html>