<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<style>

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
 <!-- 헤더부분 -->
   <div class="container-fluid px-4">
       <h1 class="mt-4">생산계획조회</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 생산계획조회</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
   <div id="container">
     <section>
          <div class="card mb-4">
            <div class="col">
                  <div class="card-body">
                  	 <div class="linelist">
                      <button type="button" class="btn btn-primary" id="sBtn"><i class="fas fa-search"></i> 조회</button>
                   	 </div>
                   	 <br>
                   	 <br>
                   	 <br>
                     <form>
                      <table class="table" style="vertical-align : middle;">
					   	<colgroup>
					   		<col style="width: 150px;">
                     		<col>
	                     	<col style="width: 150px;">
	                     	<col>
	                     	<col style="width: 150px;">
	                     	<col>
					   	</colgroup>
					   	<tbody>
					   		<tr>
                           		<th>계획일자</th> 
                           		<td>
	                           		<input class="form-control" type="date" id="start-input" name="start-input" style="width: 150px">
                           -
	                           <input class="form-control" type="date" id="end-input" name="end-input" style="width: 150px">
	                           </td>
	                           <th></th>
					   			<td></td>
					   			<th></th>
					   			<td></td>
					   		</tr>
					   		<tr>	
                           		<th>지시상태</th> 
                           		<td style="height : 55px">
                           			<input class="form-check-input" type="radio" name="status" value="전체"> 전체
                            		<input class="form-check-input" type="radio" name="status" value="진행"> 진행
                            		<input class="form-check-input"  type="radio" name="status" value="미진행"> 미진행
                           		</td>
                           		<th></th>
					   			<td></td>
					   			<th></th>
					   			<td></td>
                       		</tr>
                       		<tr>
                       			<th>제품이름</th>
                       			<td>
                           			<input class="form-control" type="text" id="name" name="name" style="width: 150px">
     							</td>
     							<th></th>
					   			<td></td>
					   			<th></th>
					   			<td></td>
				   			</tr>
			   			</tbody>
			   			</table>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <div class="card mb-4">
			<div class="card-body">
           <div class="linelist">
              <button type="button" class="btn btn-primary"  id="dBtn"><i class="fas fa-minus"></i> 취소</button>
           </div>
           <br><br><br>
   		<div id='grid'></div> 
   	</div>
   	</div>
   	</div>
   <script>
   const gridData = [];
  
   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: true,
	      rowHeaders: ['checkbox'],
	      columns: [
	        {
	          header: '계획코드',
	          name: 'planCd'
	        },
	        {
	          header: '라인코드',
	          name: 'lineCd'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd'
	        },
	        {
	          header: '필요수량',
	          name: 'orderCnt'
	        },
	        {
	          header: '지시수량',
	          name: 'indicaCnt'
	        },
	        {
	          header: '작업시작일',
	          name: 'wkFrDt'
	        }
	      ]
	    });
   
   /* 조회하기  */
   $("#sBtn").on("click", function(){
	   let planDt = $("#start-input").val();
	   let planDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
	  
	   $.ajax({
		 url : 'getList',
		 method : 'POST',
		 data : {"planDt" : planDt, "planDt2" : planDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
		 success : function(result) {
			 grid.resetData(result)
		 }
	   })
   })
   
	   grid.on('dblclick', ev => {
			grid.check(ev.rowKey);
		})  
   /* 계획삭제하기 */
   $("#dBtn").on("click", function() {
	   
   	   let planCd = grid.getCheckedRows()[0].planCd;	
   	   let planDt = $("#start-input").val();
	   let planDt2 = $("#end-input").val();
	   let nowSt = $("input[type=radio]:checked").val();
	   let prdtNm = $("#name").val();
	   let checkSt = grid.getCheckedRows()[0].nowSt
	   
	   if(checkSt == '미진행') {
		   $.ajax({
		   		url : 'deletePlan',
		   		method : 'GET',
		   		contentType:'application/text',
		   		data : {"planCd" : planCd},
		   		success : function(result){
		   			 $.ajax({
			 			url : 'getList',
						method : 'POST',
			 			data : {"planDt" : planDt, "planDt2" : planDt2, "nowSt" : nowSt, "prdtNm" : prdtNm},
			 			success : function(result) {
			 				toastr.error("삭제되었습니다.")
				 			grid.resetData(result)
			 			}
		   			 })
		   		} 
		   })
	   } else {
		   toastr.error("이미 진행 중인 계획입니다.")
	   }
   })
  
   </script>
</th:block>
</body>
</html>