<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}

</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">공정실적조회</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 공정실적조회</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
  <div id="container">
     <section>
            <div class="col">
               <div class="card mb-4">
                  
                  <div class="card-body">
                     
                     <form>
                     	<div class="mb-3">
                           <label for="wkFrDt">생산일자</label> 
                           <input type="date" class="form-control" id="wkFrDt" name="wkFrDt" style="width: 150px"> - <input type="date" id="wkFrDt2" name="wkFrDt2" class="form-control" style="width: 150px">
                        </div>
                        <div class="mb-3">
                           <label for="prcsCd">공정구분</label> 
                           <select id="prcsCd" class="dataTable-selector">
               					<option selected value="">--선택--</option>
               					<option th:each="code : ${ccds['PRC']}" th:value="${code.ccdDtlNm}" th:text="${code.ccdDtl}"></option>
               				</select>
                        </div>
                        <div class="mb-3">
                           <label for="inferCd">불량코드</label> 
                           <select id="inferCd" class="dataTable-selector">
               					<option selected value="">--선택--</option>
               					<option th:each="code : ${ccds['PNF']}" th:value="${code.ccdDtlNm}" th:text="${code.ccdDtl}"></option>
               				</select>
                        </div>
     					<div class="linelist">
                        <button class="btn btn-primary" id="sBtn" form=""><i class="fas fa-search"></i> 검색</button>
                     </div>
              	
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div class="card mb-4">
			<div class="card-body">
  				<div id='grid'></div>
			</div>
		   </div>		
   </div> 
   <script>
   
   const gridData = [];
   
   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: false,
	      columns: [
	        {
	          header: '생산지시일자',
	          name: 'indicaDt'
	        },
	        {
	          header: '생산계획코드',
	          name: 'planCd'
	        },
	        {
	          header: '공정명',
	          name: 'prcsCd'
	        },
	        {
	          header: '설비코드',
	          name: 'eqmCd'
	        },
	        {
	          header: '설비명',
	          name: 'eqmNm'
	        },
	        {
	          header: '투입량',
	          name: 'indicaCnt'
	        },
	        {
	          header: '생산량',
	          name: 'prodCnt'
	        },
	        {
	          header: '불량량',
	          name: 'inferCnt'
	        },
	        {
	          header: '불량코드',
	          name: 'inferCd'
	        },
	        {
	          header: '시작시간',
	          name: 'wkFrTm'
	        },
	        {
	          header: '종료시간',
	          name: 'wkToTm'
	        },
	        {
	          header: '담당자',
	          name: 'prcsPsch'
	        }
	      ]
	    });
    
   $("#sBtn").on("click", function(){
	   let prcsCd = $("#prcsCd option:selected").text()
	   let inferCd = $("#inferCd option:selected").text()
	   console.log(inferCd)
	   let wkFrDt = $("#wkFrDt").val()
	   let wkFrDt2 = $("#wkFrDt2").val()
	   $.ajax({
		 url : 'getProgPrcs',
		 data : {"prcsCd" : prcsCd, "wkFrDt" : wkFrDt, "wkFrDt2" : wkFrDt2, "inferCd" : inferCd},
		 success : function(result){
			 grid.resetData(result)
		 }
	   
		 //data : {"prcsCd" : prcsCd, "inferCd" : inferCd, "wkFrDt" : wkFrDt, "wfFrDt2" : wkFrDt2}
	   })
   })
   
   
   </script>
</th:block>
</body>
</html>