<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}

</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	<!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">공정실적조회</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 공정실적조회</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
  <div id="container">
     <section>
           <div class="card mb-4">
            <div class="col">
                  <div class="card-body">
                  <div class="linelist">
                     <button id="clearBtn" class="btn btn-primary" form=""><i class="fas fa-file"></i> 초기화</button>
                     <button class="btn btn-primary" id="sBtn" form=""><i class="fas fa-search"></i> 검색</button>
                  </div>
                   <br>
                   <br>   
                     <form name="prcsSearchform" id="prcsSearchform">
                     	<table class="table" style="vertical-align : middle;">
					   	<colgroup>
					   		<col style="width: 150px;">
                     		<col>
	                     	<col style="width: 150px;">
	                     	<col>
	                     	<col style="width: 150px;">
	                     	<col>
					   	</colgroup>
					   	<tbody>
					   		<tr>
					   		<th>생산일자</th>
                           		<td>	
                           			<input type="date" class="form-control" id="wkFrDt" name="wkFrDt" style="width: 150px"> - <input type="date" id="wkFrDt2" name="wkFrDt2" class="form-control" style="width: 150px">
                       			</td>
                   			<th></th>
					   			<td></td>
					   			<th></th>
					   			<td></td>
					   		</tr>
					   		<tr>	
					   			<th>공정구분</th>
					   			<td>
		                           	<select id="prcsCd" class="dataTable-selector">
		               					<option selected value="">--선택--</option>
		               					<option th:each="code : ${ccds['PRC']}" th:value="${code.ccdDtlNm}" th:text="${code.ccdDtl}"></option>
		               				</select>
	               				</td>
	               				<th></th>
					   			<td></td>
					   			<th></th>
					   			<td></td>
                       		</tr>
                       		<tr>
                       			<th>불량코드</th>
                       				<td>
			                           <select id="inferCd" class="dataTable-selector">
			               					<option selected value="">--선택--</option>
			               					<option th:each="code : ${ccds['PNF']}" th:value="${code.ccdDtlNm}" th:text="${code.ccdDtl}"></option>
			               				</select>
		               				</td>
	     							<th></th>
						   			<td></td>
						   			<th></th>
						   			<td></td>
					   			</tr>
			   			</tbody>
			   			</table>
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div class="card mb-4">
			<div class="card-body">
  				<div id='grid'></div>
			</div>
		   </div>		
   </div> 
   <script>
   
    $("#clearBtn").on("click", function(){
	   		 $('#prcsSearchform')[0].reset();
	}) 
   
   const gridData = [];
   
   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: false,
	      columns: [
	        {
	          header: '생산지시일자',
	          name: 'indicaDt',
	          align : 'center'
	        },
	        {
	          header: '생산계획코드',
	          name: 'planCd',
	          align : 'center'
	        },
	        {
	          header: '공정명',
	          name: 'prcsCd',
	          align : 'left'
	          
	        },
	        {
	          header: '설비코드',
	          name: 'eqmCd',
	          align : 'center'
	        },
	        {
	          header: '설비명',
	          name: 'eqmNm',
	          align : 'left'
	        },
	        {
	          header: '투입량',
	          name: 'indicaCnt',
	          align : 'right'
	        },
	        {
	          header: '생산량',
	          name: 'prodCnt',
	          align : 'right'
	        },
	        {
	          header: '불량량',
	          name: 'inferCnt',
	          align : 'right'
	        },
	        {
	          header: '불량코드',
	          name: 'inferCd',
	          align : 'center'
	        },
	        {
	          header: '시작시간',
	          name: 'wkFrTm',
	          align : 'center'
	        },
	        {
	          header: '종료시간',
	          name: 'wkToTm',
	          align : 'center'
	        },
	        {
	          header: '담당자',
	          name: 'prcsPsch',
	          align : 'left'
	        }
	      ]
	    });
    
   $("#sBtn").on("click", function(){
	   let prcsCd = $("#prcsCd option:selected").text()
	   let inferCd = $("#inferCd option:selected").text()
	   console.log(inferCd)
	   let wkFrDt = $("#wkFrDt").val()
	   let wkFrDt2 = $("#wkFrDt2").val()
	   $.ajax({
		 url : 'getProgPrcs',
		 data : {"prcsCd" : prcsCd, "wkFrDt" : wkFrDt, "wkFrDt2" : wkFrDt2, "inferCd" : inferCd},
		 success : function(result){
			 grid.resetData(result)
		 }
	   
		 //data : {"prcsCd" : prcsCd, "inferCd" : inferCd, "wkFrDt" : wkFrDt, "wfFrDt2" : wkFrDt2}
	   })
   })
   
    let hoverOption = {
	     row: {
	         hover: {
	             background: 'rgba(19,78,94,0.2)'
	         }
     	}
		 }
		 tui.Grid.applyTheme('default', hoverOption);
		 
	 grid.on('dblclick', ev => {
 		grid.check(ev.rowKey);
 	})  	
   	
    grid.on('check', (ev) => {
   		grid.addRowClassName(ev.rowKey, 'highlight2');
 	});
 	
 	 grid.on('uncheck', (ev) => {
	   grid.removeRowClassName(ev.rowKey, 'highlight2');
	 });
   
   </script>
</th:block>
</body>
</html>