<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
   background: #eee
}

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.linelist {
   float: right;
   margin-top: 0px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	 <!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">공정관리</h1>
      <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 공정관리</li>
	  </ol>
   </div>
   <!-- 헤더부분 -->
      <div id="container">
              <section>
            <div class="col">
               <div class="card mb-4">
           
                  <div class="card-body">
                     
                     <form>
                        <div class="mb-3">
                           <label for="name">공정구분</label> 
               				<select id="prcs" class="dataTable-selector">
               					<option selected value="">--선택--</option>
               					<option th:each="code : ${ccds['PRC']}" th:value="${code.ccdDtlNm}" th:text="${code.ccdDtl}"></option>
               				</select>
                        </div>
     					<div class="linelist">
                        <button id="sBtn" class="btn btn-primary" form=""><i class="fas fa-search"></i> 검색</button>
                     </div>
              	
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div class="card mb-4">
			<div class="card-body">
	          <div class="linelist">
	             <button id="addBtn" class="btn btn-primary" form=""><i class="fas fa-add"></i> 추가</button>
	             <button id="deleteBtn" class="btn btn-primary" form=""><i class="fas fa-minus"></i> 삭제</button>
	             <button id="saveBtn" class="btn btn-primary" form=""><i class="fas fa-save"></i> 저장</button>
	          </div>
	          <br>
	          <br>
	          <div id='grid'>
	         </div>
			</div> 
          </div>
      </div>
   <br>

   <script>
   
	const gridData = [{}] 

      const grid = new tui.Grid({
          el: document.getElementById('grid'),
          data: gridData,
          scrollX: false,
          scrollY: false,
          align : 'center',
          rowHeaders: ['checkbox'],
          columns: [
            {
              header: '공정구분코드',
              name: 'prcsFg',
              align : 'center',
              editor: {
	              type: 'select',
	              options: {
	                listItems: [
	                  { text: 'CAP', value: 'CAP' },
	                  { text: 'CLN', value: 'CLN' },
	                  { text: 'FLN', value: 'FLN' },
	                  { text: 'HTN', value: 'HTN' },
	                  { text: 'MDT', value: 'MDT' },
	                  { text: 'OPK', value: 'OPK' }
	                ]
	              }
	            }
            },
             {
              header: '공정코드',
              name: 'prcsCd',
              align : 'center',
              editor: 'text'
            },
            {
              header: '공정명',
              name: 'prcsNm',
              align : 'center',
              editor: 'text'
            },
            {
              header: '공정설명',
              name: 'prcsCtnt',
              
              editor: 'text'
            }
          ]
        });

   
   $(function(){
	   $.ajax({
		   url:'prcsList'
	   }).done(function(result){
		   grid.resetData(result);
	   })
	   
	  
	   $("#addBtn").on("click", function(e){
		   grid.prependRow(
		   	{
			   at : grid.getRowCount(),
			   focus : true
			   });
			   grid.enable()
	  		})
	   
	   $("#saveBtn").on("click", function(e){
	   		$.ajax({
	   			url:'prcsInsert',
	   			data : {prcsCd : grid.getModifiedRows().createdRows[0].prcsCd,
	   			 		prcsNm : grid.getModifiedRows().createdRows[0].prcsNm,
	   			 		prcsFg : grid.getModifiedRows().createdRows[0].prcsFg,
	   			 		prcsCtnt : grid.getModifiedRows().createdRows[0].prcsCtnt}
	   		}).done(function(result){
	   			$.ajax({
					   url:'prcsList'
				   }).done(function(result){
					   grid.resetData(result);
				   })
	   		})
	   })
	   
	   $("#sBtn").on("click", function(e){
	   var option = $("#prcs option:selected").text() // sql문 where 조건으로 들어가야 하는 값
		   $.ajax({
			   url: 'prcsList/' + option,
			   data : {prcsCtnt : option}
		   }).done(function(result) {
			   grid.resetData(result);
		   })
	   })
	   
	   $("#deleteBtn").on("click", function(e){
		   var prcsCd = grid.getCheckedRows()
		   $.ajax({
			   url:'prcsDelete',
			   method:'POST',
			   contentType:'application/json',
			   data : JSON.stringify(prcsCd)
		   }).done(function(result){
			   $.ajax({
				   url:'prcsList'
			   }).done(function(result){
				   grid.resetData(result);
			   })
		   })
	   })

   })

   </script>
</th:block>
</body>
</html>