<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
   background: #eee
}

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 100%
}

.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}

.c_btn:hover {
   background: #555;
}

.linelist {
   float: right;
   margin-top: 0px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	 <!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">공정관리</h1>
      <ol class="breadcrumb mb-4">
         <li class="breadcrumb-item active">생산</li>
      </ol>
   </div>
   <!-- 헤더부분 -->
      <div id="container">
              <section>
            <div class="col">
               <div class="card mb-4">
                  <div class="card-header">
                     <i class="fas fa-table me-1"></i> 조건설정
                  </div>
                  <div class="card-body">
                     
                     <form>
                        <div class="mb-3">
                           <label for="name">공정구분</label> 
               				<select id="prcs">
               					<option value=''>--선택--</option>
               				</select>
                        </div>
     					<div class="linelist">
                        <button id="sBtn" class="c_btn" form="">검색</button>
                     </div>
              	
                     </form>
                  </div>
               </div>
            </div>
         </section>
          <div>
	          <div class="linelist">
	             <button id="addBtn" class="c_btn" form="">추가</button>
	             <button id="deleteBtn" class="c_btn" form="">삭제</button>
	             <button id="saveBtn" class="c_btn" form="">저장</button>
	          </div>
	          <br>
	          <br>
	          <div id='grid'>
          </div>
      </div>
   <br>

   <script>
   
	const gridData = [{}] 

      const grid = new tui.Grid({
          el: document.getElementById('grid'),
          data: gridData,
          scrollX: false,
          scrollY: false,
          rowHeaders: ['checkbox'],
          columns: [
            {
              header: '공정코드',
              name: 'prcsCd',
              editor: 'text'
            },
            {
              header: '공정명',
              name: 'prcsNm',
              editor: 'text'
            },
            {
              header: '공정구분',
              name: 'prcsFg',
              editor: {
	              type: 'select',
	              options: {
	                listItems: [
	                  { text: 'Deluxe', value: '1' },
	                  { text: 'EP', value: '2' },
	                  { text: 'Single', value: '3' }
	                ]
	              }
	            }
            },
            {
              header: '공정설명',
              name: 'prcsCtnt',
              editor: 'text'
            }
          ]
        });

   
   $(function(){
	   $.ajax({
		   url:'prcsList'
	   }).done(function(result){
		   grid.resetData(result);
	   })
	   
	  
	   $("#addBtn").on("click", function(e){
		   grid.appendRow(
		   	{
			   at : grid.getRowCount(),
			   focus : true
			   });
			   grid.enable()
	  		})
	   
	   $("#saveBtn").on("click", function(e){
	   		$.ajax({
	   			url:'prcsInsert',
	   			data : {prcsCd : grid.getModifiedRows().createdRows[0].prcsCd,
	   			 		prcsNm : grid.getModifiedRows().createdRows[0].prcsNm,
	   			 		prcsFg : grid.getModifiedRows().createdRows[0].prcsFg,
	   			 		prcsCtnt : grid.getModifiedRows().createdRows[0].prcsCtnt}
	   		}).done(function(result){
	   			$.ajax({
					   url:'prcsList'
				   }).done(function(result){
					   grid.resetData(result);
				   })
	   		})
	   })
	   
	   $("#sBtn").on("click", function(e){
	   var option = $("#prcs option:selected").text() // sql문 where 조건으로 들어가야 하는 값
		   $.ajax({
			   url: 'prcsList/' + option,
			   data : {prcsCtnt : option}
		   }).done(function(result) {
			   grid.resetData(result);
		   })
	   })
	   
	   $("#deleteBtn").on("click", function(e){
		   var prcsCd = grid.getCheckedRows()[0].prcsCd
		   $.ajax({
			   url:'prcsDelete/' + prcsCd,
			   data : {prcsCd : prcsCd}
		   }).done(function(result){
			   $.ajax({
				   url:'prcsList'
			   }).done(function(result){
				   grid.resetData(result);
			   })
		   })
	   })
	   
	   
	   $.ajax({
		   url:'selectList'
	   }).done(function(result){
		   $.each(result, function (index, value) {
		   	$('#prcs').append('<option value="' + value.ID + '">' + value.Name + '</option>');
		   })
	   })
   })

   </script>
</th:block>
</body>
</html>