<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<style>
body {
   background: #eee
}

#container {
   width : 98%;
   margin : 0 auto;
}

.col {
   width: 700px
}

.c_btn {
   color: #fff;
   font-size: 13px;
   background: #333;
   border: none;
   padding: 6px;
   border-radius: 4px
}

.c_btn:hover {
   background: #555;
}

#pDate {
   float: left;
}


#lbtn{
float:left;
display:inline-block;
}

#rbtn{
float:right;
display:inline-block;
}

#grid3{
 float: right;
   margin-top: 0px;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  
	
   <!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">생산관리</h1>
      <ol class="breadcrumb mb-4">
         <li class="breadcrumb-item active">생산</li>
      </ol>
   </div>
   <!-- 헤더부분 -->
<div id="container">   
   <input type="button" data-bs-toggle="modal" class="c_btn" id="modalBtn" data-bs-target="#exampleModal"
                    value="지시조회"></input>
   <button id="rbtn" name="rbtn" class="c_btn" form="">공정이동표</button>
   <br>
   <br>
   <div id="grid">진행생산지시</div>
   <br>
   <div class="d-flex flex-row justify-content-between">
   	   <div id="grid2"  style="width: 1200px;">공정목록</div>	
	   <div id="grid3" style="width: 400px;">공정가동관리<br>
	   <br>
	   	<div class="linelist">
	       <button id="btnModal" class="c_btn" form="">시작</button>
	       <button class="c_btn" form="">긴급중지</button>
	       <button class="c_btn" form="">재시작</button>
	     </div>
	   </div>
	</div>	  
	<div id="dialog" title=""></div> 
	<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">생산계획조회</h5>
                        <br> <br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div><br>
                    <div id="modGrid" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="confirmBtn" class="btn btn-primary"
                            data-bs-dismiss="modal">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>
</div>
   <script>
   //지시 계획 모달에 띄우기
   $("#modalBtn").on("click", function(){
   		$.ajax({
   			url : "indicaListModal",
   			method : 'GET',
   			dataType: 'JSON',
   			success: function (result) {
   				modGrid.resetData(result);
   			}
   		})
   })
   
   const modGrid = new tui.Grid({
        el: document.getElementById('modGrid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [{
            header: '생산계획코드',
            name: 'planCd',
            align: 'center',
        }, 
        {
            header: '제품명',
            name: 'prdtNm',
            align: 'center'
        }, 
        {
            header: '생산지시일자',
            name: 'indicaDt',
            align: 'center',
        },
        {
            header: '지시수량',
            name: 'indicaCnt',
            align: 'center'
        },
        
        ]
     })
   	
   //grid에 모달 내용 띄우기
   $("#confirmBtn").on("click", function(){
   		let result = modGrid.getCheckedRows();
        	console.log(result)
        	grid.resetData(result);
   })
   
   const gridData = [];
  
   
   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: false,
	      columns: [
	        {
	          header: '생산지시일자',
	          name: 'indicaDt'
	        },
	        {
	          header: '제품명',
	          name: 'prdtNm'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd'
	        },
	        {
	          header: '수량',
	          name: 'indicaCnt',
	        },
	        {
	          header: '라인코드',
	          name: 'lineCd',
	        },
	        {
	          header: '우선순위',
	          name: 'prefRank'
	        }      
	        ]
	    });
	    
   //grid2에 grid1에 있는 완제품 코드를 통해서 그 제품 만드는 공정들 띄우기
   //각 공정마다 코드 부여해야 함 PRG+생산시작날짜(wkFrDt)+index 
   $("#grid").on("dblclick", function(){
   		let edctsCd = grid.getData()[0].edctsCd
   		$.ajax({
   			url : 'getPrcsProg',
   			method : 'get',
   			data : {"edctsCd" : edctsCd},
   			success : function(result){
   				grid2.resetData(result)
   			}
   		})
   })
      
   const gridData2 = [];
  
   const grid2 = new tui.Grid({
	      el: document.getElementById('grid2'),
	      data: gridData2,
	      scrollX: false,
	      scrollY: true,
	      columns: [
	        {
	          header: '공정코드',
	          name: 'prcsCd'
	        },
	        {
	          header: '공정명',
	          name: 'prcsNm',
	        },
	        {
	          header: '공정담당자',
	          name: 'prcsPsch',
              editor: {
                type: 'select',
                options: {
                    listItems: [{
                            text: '홍길동',
                            value: '홍길동'
                        },
                        {
                            text: '박길동',
                            value: '박길동'
                        },
                        {
                            text: '최길동',
                            value: '최길동'
                        }
                    ]
                }
               }
	        },
	        {
	          header: '시작시간',
	          name: 'wkFrDttm'
	        },
	        {
	          header: '종료시간',
	          name: 'wkToDttm'
	        },
	        {
	          header: '불량량',
	          name: 'inferCnt'
	        },
	        {
	          header: '생산량',
	          name: 'prodCnt'
	        },
	        {
	          header: '현재상태',
	          name: 'nowSt'
	        }
	        ]
	    });
	    
	    modalBtn.addEventListener('click', function () {
                setTimeout(function () {
                    modGrid.refreshLayout()
                }, 300);
            });    
   </script>
</th:block>
</body>
</html>