<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <style>

        #container {
            width : 98%;
            margin : 0 auto;
        }

        .col {
            width: 700px
        }

        #pDate {
            float: left;
        }

        #lbtn{
            float:left;
            display:inline-block;
        }

        .rbtn{
            float:right;
            display:inline-block;
        }

        #grid3{
            float: right;
            margin-top: 0px;
        }
        
        .linelist {
		   float: right;
		   margin-top: 0px;
		   margin-right: 150px;
		}
    </style>
</head>
<body>
<!-- 본문내용 -->

<th:block layout:fragment="main">  

   <!-- 헤더부분 -->
   <div class="container-fluid px-4">
      <h1 class="mt-4">생산관리</h1>
       <ol class="breadcrumb mb-4">
		<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
		<li class="breadcrumb-item">> 생산관리</li>
		<li class="breadcrumb-item active">> 생산관리</li>
	  </ol>
   </div>

<div id="container">   
	<div class="rbtn">
	   <button data-bs-toggle="modal"  class="btn btn-primary"  id="modalBtn" data-bs-target="#exampleModal"
	                    ><i class="fas fa-search"></i> 지시조회</button>
	   <a href="prcsReport"><button id="rbtn" name="rbtn"  class="btn btn-primary"  form=""><i class="fa-solid fa-file-pdf"></i> 공정이동표</button></a>
	</div>
   <br>
   <br>
   <br>
      <div class="card mb-4">
			<div class="card-body">
   <div id="grid">진행생산지시</div>
   </div>
   </div>
   <br>
      <div class="card mb-4">
			<div class="card-body">
   <div class="d-flex flex-row justify-content-between">

   	
   	   <div id="grid2"  style="width: 1200px;">공정목록</div>	
	   <div id="grid3" style="width: 400px;">
	   <br>
	   	<div class="linelist" >
	       <button id="startBtn"  class="btn btn-primary"  form=""><i class="fas fa-play"></i> 시작</button><br><br>
	       <button id="stopBtn" class="btn btn-primary"  form=""><i class="fas fa-exclamation-triangle"></i> 긴급중지</button><br><br>
	       <button id="restartBtn" class="btn btn-primary"  form=""><i class="fas fa-refresh"></i> 재시작</button>
	     </div>
	   </div>

	</div>	
	</div>
	</div>  
	<div id="dialog" title=""></div> 
	<!-- Modal -->

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">생산지시조회</h5>
                        <br> <br>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div><br>
                    <div id="modGrid" class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="button" id="confirmBtn" class="btn btn-primary"
                                data-bs-dismiss="modal">확인</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    </div>
                </div>
            </div>
        </div>

</div>
   <script>
   //공정이동표
  
   
   //지시 계획 모달에 띄우기
   $("#modalBtn").on("click", function(){
	   modGrid.on('dblclick', ev => {
			modGrid.check(ev.rowKey);
		})  
   		$.ajax({
   			url : "indicaListModal",
   			method : 'GET',
   			dataType: 'JSON',
   			success: function (result) {
   				modGrid.resetData(result);
   			}
   		})
   })

   const modGrid = new tui.Grid({
        el: document.getElementById('modGrid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [{
            header: '생산계획코드',
            name: 'planCd',
            align: 'center',
        },
        {
            header: '제품명',
            name: 'prdtNm',
            align: 'center'
        },
        {
            header: '생산지시일자',
            name: 'indicaDt',
            align: 'center',
        },
        {
            header: '지시수량',
            name: 'indicaCnt',
            align: 'center'
        },

        ]
     })

   //grid에 모달 내용 띄우기
   $("#confirmBtn").on("click", function(){
   		let result = modGrid.getCheckedRows();
        	grid.resetData(result);
   })

   const gridData = [];


   const grid = new tui.Grid({
	      el: document.getElementById('grid'),
	      data: gridData,
	      scrollX: false,
	      scrollY: false,
	      columns: [
	        {
	          header: '생산지시일자',
	          name: 'indicaDt'
	        },
	        {
	          header: '제품명',
	          name: 'prdtNm'
	        },
	        {
	          header: '제품코드',
	          name: 'edctsCd'
	        },
	        {
	          header: '수량',
	          name: 'indicaCnt',
	        },
	        {
	          header: '라인코드',
	          name: 'lineCd',
	        },
	        {
	          header: '우선순위',
	          name: 'prefRank'
	        }
	        ]
	    });

   //grid2에 grid1에 있는 완제품 코드를 통해서 그 제품 만드는 공정들 띄우기
   $("#grid").on("dblclick", function(){
   		let edctsCd = grid.getData()[0].edctsCd
   		$.ajax({
   			url : 'getPrcsProg',
   			method : 'get',
   			data : {"edctsCd" : edctsCd},
   			success : function(result){
   				grid2.resetData(result)
   			}
   		})
   })

  //생산 끝난 후 
  let value
	
  interval2=setInterval(function(){
   	if(value == '완료') {
		clearInterval(interval2)

		let orderNo = grid.getData()[0].orderNo
		let lineCd = grid.getData()[0].lineCd
		let edctsCd = grid.getData()[0].edctsCd
		let prodCnt = grid2.getRow(5).prodCnt

		let planCd = grid.getData()[0].planCd
		
		//주문서 업데이트, 설비 끄기, 완제품lot 입력, 지시 업데이트
		$.ajax({
			url : 'afterProd',
			data : {"orderNo" : orderNo, "lineCd" : lineCd, "edctsCd" : edctsCd, "prodCnt" : prodCnt, "planCd" : planCd}
		})

		//진행공정 인서트
		let data = grid2.getData()
		$.each(data, function(index, item) {
            	item.indicaDt = grid.getData()[0].indicaDt
            	item.lineCd = grid.getData()[0].lineCd
            	item.prefRank = grid.getData()[0].prefRank
            	item.planCd = grid.getData()[0].planCd
		 })
		$.ajax({
			url : 'insertProgPrcs',
			method : 'post',
			data : JSON.stringify(data),
			contentType : 'application/json',
			success : function(){
				toastr.success("생산이 종료되었습니다.")
				grid.clear()
		   		grid2.clear()
			}
		})

		//자재 업데이트			
		$.ajax({
			url : 'getHolding',
			method : 'post',
			data : {"planCd" : planCd},
			success : function(result) {
					let today = new Date()
					today = today.toISOString().substring(0, 10)
					console.log(today)
					let obj = {oustDt:today, oustTyp:'공정출고', from:'prod', planCd:planCd}
					result.unshift(obj)
				console.log(result)
				$.ajax({
					url : 'setRscOust',
					method : 'post',
					data : JSON.stringify(result),
					contentType : 'application/json'
				})
			}
		})
		
		// 불량 인서트		
		let iCnt = grid2.getRow(5).inferCnt

		if(iCnt > 0 ) {
			let iGrid = grid2.getRow(5)

        	iGrid.indicaDt = grid.getData()[0].indicaDt
        	iGrid.lineCd = grid.getData()[0].lineCd
        	iGrid.prefRank = grid.getData()[0].prefRank
        	iGrid.planCd = grid.getData()[0].planCd
        	
			$.ajax({
				url : 'insertInfer',
				method : 'post',
				data : iGrid
			})
		}
		
		
   	} 
   }, 1000)

    //긴급 중지
   $("#stopBtn").on("click", function(){
		  toastr.error("생산을 긴급 중지합니다.")

   		$.ajax({
   			url : 'updateYn',
			success : function(result){
				
				for(i=0; i<grid2.getRowCount(); i++) {
				
				  for(j=0; j<result.length; j++) {
					  if(grid2.getValue(i, 'eqmCd') == result[j].eqmCd){
					  	grid2.setValue(i, 'nowSt', '긴급중지');
					  	
					  }
				  }
	            clearInterval(arrTest[i])
				}
				arrTest = [];
			}
   		})
   })
   
   //재시작
   $("#restartBtn").on("click", function(){
	   toastr.info("생산을 다시 시작합니다.")
   		let array = grid2.getData()
   		$.each(array, function(index, item) {
            if(item.nowSt === '긴급중지') {
            	console.log(item.rowKey)
            }
		 })
   		$.ajax({
   			url : 'updateYn2',
   			success : function(result){
   				 for(i=0; i<grid2.getRowCount(); i++) {
   				 	
   				 	let eqmCd = grid2.getValue(i, 'eqmCd')
					   let indicaCnt = grid.getData()[0].indicaCnt
					   let inferCnt = Math.floor(Math.random()*(indicaCnt*0.02)+1)
					   let lineCd = grid.getData()[0].lineCd
					   let valueI = i
					   let interval = setInterval(interFn , 1000, valueI, eqmCd, indicaCnt, inferCnt, lineCd);
		               arrTest.push(interval)
   				 }
   				 //clearInterval(arrTest[i])
	   			//arrTest = [];
   			}
   		})
   })
	
	let arrTest = []
   // 생산지시	
   $("#startBtn").on("click", function(){
	  toastr.info("생산을 시작합니다.")
	  for(i=0; i<grid2.getRowCount(); i++) {
		   let eqmCd = grid2.getValue(i, 'eqmCd')
		   let indicaCnt = grid.getData()[0].indicaCnt
		   let valueI = i
		   let inferCnt = Math.floor(Math.random()*(indicaCnt*0.02))
		   let lineCd = grid.getData()[0].lineCd
		   grid2.setValue(i, 'nowSt', '대기중')
		   $.ajax({
			 url : 'insertEqmCd',
			 data : {"eqmCd" : eqmCd, "lineCd" : lineCd , "seqNo" : i+1},
			 success : function(){
			 	let interval = setInterval(interFn , 1000, valueI, eqmCd, indicaCnt, inferCnt, lineCd);
                arrTest.push(interval)
			 }  //end of success
		   })  //end of ajax
			 	//clearInterval(arrTest[i])
			 	//arrTest = [];
	   }  // end of for
   })	
   
   
  function interFn(i, eqmCd, indicaCnt, inferCnt, lineCd) {
  
//  for(i=0; i<grid2.getRowCount(); i++) {
//	  if(grid.getValue(i, 'eqmCd') == eqm)
//  }
					    //console.log(i)
					    //if(grid2.getRow(i).nowSt != '완료') {
				             $.ajax({
				            	 url : 'selectEqm',
				            	 data : {"eqmCd" : eqmCd},
				            	 success : function(result){
				            	 console.log(i)
				            		if (result.wkFrTm != null && result.wkToTm == null) {
				            			grid2.setValue(i, 'wkFrTm', result.wkFrTm)
				            			 grid2.setValue(i, 'nowSt', '진행중')
				            			 if (i < 3) {
				            				 grid2.setValue(i, 'indicaCnt', indicaCnt)
				            				 console.log(arrTest)
				            				 //arr.push(interval)
				            				 
				            			 } else {
				            				 let value = grid2.getValue(i-1, 'prodCnt')
				            				 grid2.setValue(i, 'indicaCnt', value)
				            				 
				            				 //arr.push(interval)
				            			 }
				            		} else if (result.wkToTm != null){
				            			if(i == 0) {
				            				//그리드에 띄우기
				            				grid2.setValue(i, 'wkToTm', result.wkToTm)
					            			grid2.setValue(i, 'inferCnt', 0)
					            			grid2.setValue(i, 'prodCnt', indicaCnt)
					            			grid2.setValue(i, 'nowSt', '완료')

					            			//insert를 위해서 object에 값 지정
					            			result.lineCd=grid.getData()[i].lineCd
					            			result.indicaDt=grid.getData()[i].indicaDt
					            			result.prefRank=grid.getData()[i].prefRank
					            			result.indicaCnt=grid.getData()[i].indicaCnt
					            			result.prcsPsch=grid2.getValue(i, 'prcsPsch')
					            			result.prcsCd=grid2.getData()[i].prcsCd
					            			result.inferCnt=grid2.getData()[i].inferCnt
					            			result.prodCnt=grid2.getData()[i].prodCntd
					            			result.orderNo=grid.getData()[i].orderNo
					            			
					            			//arr.push(interval)
				            			} else{
				            				indicaCnt = grid2.getValue(i-1, 'prodCnt')
				            				if(i < 5) {
				            					console.log(result.wkToTm)
				            					console.log(indicaCnt)
					            				grid2.setValue(i, 'wkToTm', result.wkToTm)
						            			grid2.setValue(i, 'inferCnt', 0)
						            			grid2.setValue(i, 'prodCnt', indicaCnt)
						            			grid2.setValue(i, 'nowSt', '완료')

						            			
						            			//arr.push(interval)
						            			
				            				} else {
				            					grid2.setValue(i, 'wkToTm', result.wkToTm)
						            			grid2.setValue(i, 'inferCnt', inferCnt )
						            			grid2.setValue(i, 'prodCnt', indicaCnt-inferCnt)
						            			grid2.setValue(i, 'nowSt', '완료')

						            			value = grid2.getValue(i, 'nowSt')
						            			
						            			//arr.push(interval)
				            				}
				            			}

				            		} else {
				            			console.log("ajax 호출중")
				            		}
				            	 }
				             })  //end of inner ajax

			             //} else {
			             //  //arrTest = []
			             //}
			            }

   const gridData2 = [];

   const grid2 = new tui.Grid({
	      el: document.getElementById('grid2'),
	      data: gridData2,
	      scrollX: false,
	      scrollY: true,
	      columns: [
	        {
	          header: '공정코드',
	          name: 'prcsCd'
	        },
	        {
	          header: '공정명',
	          name: 'prcsNm',
	        },
	        {
        		header : '설비코드',
        		name : 'eqmCd'
	        },
	        {
	        	header : '설비명',
	        	name : 'eqmNm'
	        },
	        {
	          header: '공정담당자',
	          name: 'prcsPsch',
              editor: {
                type: 'select',
                options: {
                    listItems: [{
                            text: '홍길동',
                            value: '홍길동'
                        },
                        {
                            text: '박길동',
                            value: '박길동'
                        },
                        {
                            text: '최길동',
                            value: '최길동'
                        },
                         {
                            text: '김길동',
                            value: '김길동'
                        },
                         {
                            text: '이길동',
                            value: '이길동'
                        },
                         {
                            text: '황길동',
                            value: '황길동'
                        },
                         {
                            text: '서길동',
                            value: '서길동'
                        },
                       ]
                }
               }
           },
           {
             header: '시작시간',
             name: 'wkFrTm'
           },
           {
             header: '투입량',
             name: 'indicaCnt'
           },
           {
             header: '불량량',
             name: 'inferCnt'
           },
           {
             header: '생산량',
             name: 'prodCnt'
           },
           {
             header: '종료시간',
             name: 'wkToTm'
           },
           {
             header: '현재상태',
             name: 'nowSt'
           }
           ]
       });

        modalBtn.addEventListener('click', function () {
            setTimeout(function () {
                modGrid.refreshLayout()
            }, 300);
        });
        
        $('#grid2').mouseleave(ev => {
    		grid2.finishEditing();
    	})
    	
    	 let hoverOption = {
	     row: {
	         hover: {
	             background: 'rgba(19,78,94,0.2)'
	         }
     	}
		 }
		 tui.Grid.applyTheme('default', hoverOption);
    </script>
</th:block>
</body>
</html>