<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>

		uploadResult {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.image {
			display: block;
			width: 100%;
		}

		.image-label {
			position: relative;
			bottom: 22px;
			left: 5px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}
		
	</style>
</head>

<body>


	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<h1 class="mt-4">설비관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="/"><i
						class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 설비관리</li>
				<li class="breadcrumb-item active">> 설비관리</li>
			</ol>
		<div>
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<div class="row">
				<div class="col-12">

					<div class="card mr-4">

						<div class="card-body">
							<div>
								<tbody>
								<tr>
								
								<td>
								<select class="dataTable-selector" id="opN" name="opN" style="width:150px">
									<option selected value="">==선택==</option>
									<option value=1>설비코드</option>
									<option value=2>설비명</option>
									<option value=3>공정명</option>
								</select>
								<input class="form-control"  type="text" id="keyword" name="keyword" placeholder="설비명" style="width:180px"></input>
								<button type="button" id="sTtn" class="btn btn-primary" style="margin-bottom:3px"><i class="fas fa-search"></i> 검색</button>
							</td>
							</tr>
							</div>

							<br>
							<div id="grid"></div>
						</div>
					</div>


				</div>
				
				</div>
<br>



				<div class="col-12">
					<div class="card mb-4">
						<div class="card-body">
							<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="initBtn"><i class="fas fa-file"></i> 새자료</button>
								<button class="btn btn-primary" id="modBtn"><i class="fa-solid fa-paintbrush"></i> 수정</button>
								<button class="btn btn-primary" id="insertBtn"><i class="fas fa-save"></i> 등록</button>
								<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
							</div>
							<form id="dataForm" name="dataForm" action="#" method="post">
							<input type="file" style = "display:none" id="eqmImg" name="file" onchange="readURL(this);">
							<img id="preview" style="width:150px; " /><br><br>
							<label class="btn btn-primary" for="eqmImg" style="width:110px"><i class="fa-solid fa-file-arrow-up"></i> 첨부파일</label><br><br>
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>
									<tbody>
										<tr>
										<th>설비구분 *</th>
											<td>
												<select class="dataTable-selector" name="eqmFg" id="eqmFg" style="width: 250px">
													<option selected value="">==등록시필수선택==</option>
													<option th:each="value : ${ccds.EQM}" th:value="${value.ccdDtl}" th:text="${value.ccdDtlNm}"></option>
												</select>
											<th>설비코드</th>
											<td>
												<input class="form-control" name="eqmCd" id="eqmCd" style="width: 250px" readonly placeholder="등록시 자동 입력">
											</td>
											<th>설비명 *</th>
											<td><input class="form-control" type="text" id="eqmNm" name="eqmNm" style="width: 250px" >
										</tr>
										<tr>
											<th>라인명 *</th>
											<td>
												<select class="dataTable-selector" name="lineNm" id="lineNm" style="width: 250px">
													<option selected value="">==등록시필수선택==</option>
													<option th:each="value : ${opList}" th:value="${value.lineCd}" th:text="${value.lineNm}"></option>
												</select>
											<th>라인코드</th>
											<td>
												<input class="form-control" name="lineCd" id="lineCd" style="width: 250px" readonly>
											</td>
											<th>점검주기(일) *</th>
											<td>
												<input type="number" class="form-control" name="chckPerd" id="chckPerd" style="width: 250px">
											</td>
										</tr>
										<tr>
											<th>공정명 *</th>
											<td>
												<select name="prcsNm" aria-label="Default select example" style="width: 250px"
												id='prcsNm' class="dataTable-selector">
													<option selected value="">==등록시필수선택==</option>
													<option th:each="value : ${prcsList}" th:value="${value.prcsCd}" th:text="${value.prcsNm}"></option>
												</select>
											</td>
											<th>공정코드</th>
											<td>
												<input class="form-control" name="prcsCd" id="prcsCd" style="width: 250px" readonly>
											</td>
											<th >온도</th>
											<td>
												<input type="number" class="form-control" name="minTemp" id="minTemp" style="width: 115px"> ~
												<input type="number" class="form-control" name="maxTemp" id="maxTemp" style="width: 115px"> 
											</td>
										</tr>
										<tr>
										<th>입고일자 *</th>
											<td><input class="form-control" type="date" id="eqmIstDt" name="eqmIstDt" style="width: 250px" /></td>
										<th>가동여부 *</th>
										<td>
										<input type="radio" name="useYN" value="Y"> 가동
										&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										<input type="radio" name="useYN" value="N"> 미가동
										</td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>

					</div>

				</div>
			</div>

		


		<br>

		<script>
		// 이미지 클릭 시 파일 첨부
		$('#preview').click(function(){
			$('[name="file"]').click();
		})
		
		$('#preview').attr('src',"assets/img/add-image.png").css('width','150px')
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						document.getElementById('preview').src = e.target.result;
					};
					reader.readAsDataURL(input.files[0]);
				} else {
					document.getElementById('preview').src = "";
				}
			}

			// 메인화면 그리드
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid.resetData(result);
					console.log(result);
				}
			});
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				bodyHeight: 150,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'left',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center'
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'left'
				}, {
					header: '사용여부',
					name: 'useYN',
					align: 'center'
				}, {
					header: '최소온도',
					name: 'minTemp',
					align: 'right'
				}, {
					header: '최대온도',
					name: 'maxTemp',
					align: 'right'
				}, {
					header: '점검주기(일)',
					name: 'chckPerd',
					align: 'center'
				}, {
					header: '라인코드',
					name: 'lineCd',
					align: 'center'
				}]
			});



			

// 메인화면 그리드 검색 (버튼)
		$('#sTtn').click(ev=>{
			let keyword = $("#keyword").val();
			let opN  = $('[name="opN"]').val();
		$.ajax({
			url: "eqmSelect",
			method : "post",
			data: {"opN" : opN, "keyword" : keyword},
			dataType:"JSON",
			success: function (result) {
				grid.resetData(result);
			}
			})
		});


//취소버튼
	$('#initBtn').on('click', function () {
		$('#dataForm').each(function () {
			this.reset()
		$('#preview').attr('src',"assets/img/add-image.png");
		})
	})

			//등록버튼
			$('#insertBtn').on('click', function () {
			var isValid = true;
			var eqmCd = $('#eqmCd').val()
			var eqmNm = $('#eqmNm').val()
			var eqmFg = $('[name="eqmFg"]').val()
			var lineNm = $('[name="lineNm"]').val()
			var prcsNm = $('[name="prcsNm"]').val()
			var eqmIstDt = $('#eqmIstDt').val()
			var useYn = $('[name="useYN"]').val()
			var chckPerd = $('#chckPerd').val()
			
			if(eqmNm==null || eqmNm==''||eqmFg==null||eqmFg==''||lineNm==''||lineNm==null||prcsNm==''||prcsNm==null||eqmIstDt==''||eqmIstDt==null||useYn==''||useYn==null||chckPerd==null||chckPerd==''){
				toastr.warning('필수 항목을 입력해주세요.');
				isValid = false;
				return false;
			} 
			
			if(eqmCd!=''){
				toastr.warning('설비 수정 버튼을 이용해주세요.');
				isValid = false;
				return false;
			} 
			
				var formData = new FormData(document.getElementById('dataForm'))
			

				var lineNm = $('#lineNm option:checked').text()
				formData.set('lineNm',lineNm)

				var prcsNm = $('#prcsNm option:checked').text()
				formData.set('prcsNm',prcsNm)
				
				$.ajax({
					url: "eqmInsert",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (xhr) {
					toastr.success('정상적으로 저장되었습니다.');
					$('#dataForm').each(function () {
					this.reset()
						})
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result)
							$('#dataForm').each(function () {
							this.reset()
							$('#preview').attr('src',"assets/img/add-image.png");
						})
						}
					})
				})
			});

			//수정버튼
			$('#modBtn').on('click', function () {
			var isValid = true;
			var eqmCd = $('#eqmCd').val()
			var eqmNm = $('#eqmNm').val()
			var eqmFg = $('[name="eqmFg"]').val()
			var lineNm = $('[name="lineNm"]').val()
			var prcsNm = $('[name="prcsNm"]').val()
			var eqmIstDt = $('#eqmIstDt').val()
			var useYn = $('[name="useYN"]').val()
			var chckPerd = $('#chckPerd').val()
			
			if(eqmCd==null || eqmCd==''){
				toastr.warning('설비등록시 등록버튼을 이용해주세요.');
				isValid = false;
				return false;
			}
			
			if(eqmNm==null || eqmNm==''||eqmFg==null||eqmFg==''||lineNm==''||lineNm==null||prcsNm==''||prcsNm==null||eqmIstDt==''||eqmIstDt==null||useYn==''||useYn==null||chckPerd==null||chckPerd==''){
				toastr.warning('필수 항목을 입력해주세요.');
				isValid = false;
				return false;
			} 
			
			
				var formData = new FormData(document.getElementById('dataForm'))

				var lineNm = $('#lineNm option:checked').text()
				formData.set('lineNm',lineNm)

				var prcsNm = $('#prcsNm option:checked').text()
				formData.set('prcsNm',prcsNm)
				console.log('-----')
				console.log(formData.get('lineNm'))
				console.log(formData.get('prcsNm'))
				$.ajax({
					url: "/eqmUpdate",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (xhr) {
					toastr.success('정상적으로 저장되었습니다.');
					$('#dataForm').each(function () {
					this.reset()
						})
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result)
							$('#dataForm').each(function () {
								$('#preview').attr('src',"assets/img/add-image.png");
							})
						}
					})
				})
			});




			// 이미지 미리보기


			$('#file').on('change', changeEvent => {
				const reader = new FileReader();
				$(reader).on('load', readerEvent => {
					$('#shortcutImg').attr('src', readerEvent.target.result);
					$('#shortcutBtn').css('display', 'inline-block');
				})

				const img = changeEvent.target.files[0];
				reader.readAsDataURL(img);
			})




			//삭제버튼
			$('#delBtn').on('click', function () {
				var eqmCd = $('#eqmCd').val()
				var useYN = $("[name=useYN]:checked").val();
				console.log(useYN)
				var isValid = true;
				if(useYN == 'Y'){
					toastr.error('사용중인 설비는 삭제할 수 없습니다.');
					isValid = false;
					return false;
				} 
				if ($('#eqmCd').val() == null || $('#eqmCd').val() == '') {
					toastr.warning('삭제할 설비를 선택해주세요.');
				} else{
					var result = confirm("해당 설비를 정말 삭제할까요?")
				if (!result)
					return;
				$.ajax({
					url: "eqmDelete/" + eqmCd,
					type: 'POST',
					dataType: 'json'
				}).done(function (xhr) {
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
							toastr.success('설비삭제가 완료되었습니다.');
							$('#dataForm').each(function () {
								this.reset()
								$('#preview').attr('src',"assets/img/add-image.png");
							})
						}
					})
				})
			}})




			// 설비 리스트 이동	 


			grid.on('click', ev => {
				var value = grid.getValue(ev.rowKey, 'eqmCd');
				var keyword = grid.getValue(ev.rowKey, 'eqmCd');
				const reader = new FileReader();
				$('#eqmCd').val(value);

				$.ajax({
					url: "eqmCdSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						console.log(result);
						$('#eqmNm').val(result[0].eqmNm);
						$('#eqmCd').val(result[0].eqmCd);
						$('[name="prcsCd"]').val(result[0].prcsCd);
						$('[name="useYN"]').val([result[0].useYN]);
						$('#minTemp').val(result[0].minTemp);
						$('[name="lineCd"]').val(result[0].lineCd);
						$('[name="lineNm"]').val(result[0].lineCd);
						$('[name="prcsNm"]').val(result[0].prcsCd);
						$('#maxTemp').val(result[0].maxTemp);
						$('#chckPerd').val(result[0].chckPerd);
						$('#eqmIstDt').val(result[0].eqmIstDt);
						$('[name="eqmFg"]').val(result[0].eqmFg);
						if(result[0].imgPath==null || result[0].imgPath==''){
							$('#preview').attr('src',"assets/img/add-image.png");
							} else{
							$('#preview').attr("src", "download?path=" + result[0].imgPath);}
					}
				})
			});
			

			// 공정명 change event
			$('#prcsNm').on('change', function () {
				$('#prcsCd').val($(this).val())
			})
			
			// 라인명 change event
			$('#lineNm').on('change', function () {
				$('#lineCd').val($(this).val())
			})
		</script>
	</th:block>
</body>

</html>