<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
			background: #eee
		}

		uploadResult {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.image {
			display: block;
			width: 100%;
		}

		.image-label {
			position: relative;
			bottom: 22px;
			left: 5px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}
	</style>
</head>

<body>


	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<h1 class="mt-4">설비관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">설비</li>
			</ol>
		</div>
		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<div class="row">
				<div class="col-7 ">

					<div class="card mr-4">

						<div class="card-header">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table me-1"></i> 설비목록
							</div>
						</div>
						<div class="card-body">
							<div>

								<label for="" autofocus="autofocus">설비명</label>
								<input type="text" id="keyword" name="keyword" placeholder="설비명"></input>
								<input type="button" data-bs-toggle="modal" class="btn-dark btn-primary btn-sm" id="modalBtn"
									data-bs-target="#exampleModal" value="설비검색"></input>
								<button type="button" onclick="eqmSelect()" class="btn-dark btn-primary btn-sm">조회</button>
							</div>

							<br>
							<div id="grid"></div>
						</div>
					</div>


				</div>
				<div class="col-5 ms-auto">
					<div class="card mb-4">
						<div class="card-header">

							<i class="fas fa-tachometer-alt"></i> 설비등록
						</div>

						<div class="card-body">
							<form id="dataForm" name="dataForm">
								<img id="preview" style="width:180px;" /><br><br>
								<input type="file" id="eqmImg" name="file" onchange="readURL(this);">

								<br>
								<br>
								<div class="row">
									<div class="mb-3">
										<label for="form-select" class="form-label">설비구분</label>
										<select class="form-select" aria-label="Default select example" style="width: 180px" name="eqmFg">
											<option selected disabled>설비구분 선택</option>
											<option th:each="value : ${ccds.EQM}" th:value="${value.ccdDtl}" th:text="${value.ccdDtlNm}">
											</option>
										</select>
									</div>
									<div class="col-6">
										<div class="mb-3">
											<label class="form-label">설비명</label> <input type="text" class="form-control" id="eqmNm"
												name="eqmNm" style="width: 180px">
										</div>

										<input type="hidden" name="eqmCd" id="eqmCd"></input>

										<div class="mb-3">
											<label for="form-select" class="form-label">공정명</label>

											<select class="form-select" name="prcsNm" aria-label="Default select example" style="width: 180px"
												id='prcsNm'>
												<option selected disabled>공정명 선택</option>
												<option th:each="value : ${prcsList}" th:value="${value.prcsCd}" th:text="${value.prcsNm}">
												</option>
											</select>
										</div>
										<div class="mb-4">
											<label for="" class="form-label">공정코드</label> <input type="text" readonly="readonly"
												class="form-control" id="prcsCd" name="prcsCd" style="width: 180px">
										</div>
										<div class="mb-4">
											<label for="" class="form-label">설비입고날짜</label> <input type="date" class="form-control"
												id="eqmIstDt" name="eqmIstDt" style="width: 180px">
										</div>
									</div>
									<br>
									<div class="col-5">

										<div class="mb-4">
											<label for="" class="form-label">온도</label>
											<div class="row">
												<input type="text" class="form-control" id="minTemp" name="minTemp" style="width: 50px">&nbsp; -
												&nbsp; <input type="text" class="form-control" id="maxTemp" name="maxTemp" style="width: 50px">
												&nbsp;°C
											</div>
											<br> <label>사용여부</label>
											<div class="form-check form-check-inline" style="margin-bottom: 3px">
												<input class="form-check-input" value="Y" type="radio" name="useYN">
												<label class="form-check-label">사용</label>
												<input class="form-check-input" value="N" type="radio" name="useYN">
												<label class="form-check-label">미사용</label>
											</div>
											<br> <br>
											<div class="mb-4">
												<label for="" class="form-label">점검주기(일)</label> <input type="text" class="form-control"
													id="chckPerd" name="chckPerd" style="width: 150px">
											</div>
											<div class="mb-4">
												<label for="form-select" class="form-label">라인명</label>
												<select class="form-select" aria-label="Default select example" style="width: 180px"
													name="lineCd">
													<option disabled selected>라인명 선택</option>
													<option th:each="value : ${opList}" th:value="${value.lineCd}" th:text="${value.lineNm}">
													</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</form>
							<div class="linelist">
								<button type="button" id="insertBtn" class="c_btn">등록</button>
								<button type="button" id="modBtn" class="c_btn">수정</button>
								<button type="button" id="delBtn" class="c_btn">삭제</button>
								<button type="reset" id="initBtn" class="c_btn">취소</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">설비명 검색</h5>
						<br> <br>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div><br>
					<div class="ms-3">
						<label style="width:60px">설비명</label>
						<input type="text" id="keyword2" name="keyword2" placeholder="설비명"></input>
						<button type="button" onclick="eqmSelect2()" class="c_btn btn-dark btn-primary btn-sm">검색</button>
					</div>
					<div id="modGrid" class="modal-body"></div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>


		<br>

		<script>
			function readURL(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function (e) {
						document.getElementById('preview').src = e.target.result;
					};
					reader.readAsDataURL(input.files[0]);
				} else {
					document.getElementById('preview').src = "";
				}
			}

			// 메인화면 그리드
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid.resetData(result);
					console.log(result);
				}
			});
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				scrollX: false,
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'center',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center'
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'center'
				}, {
					header: '사용여부',
					name: 'useYN',
					align: 'center'
				}, {
					header: '최소온도',
					name: 'minTemp',
					align: 'center'
				}, {
					header: '최대온도',
					name: 'maxTemp',
					align: 'center'
				}, {
					header: '점검주기(일)',
					name: 'chckPerd',
					align: 'center'
				}, {
					header: '라인코드',
					name: 'lineCd',
					align: 'center'
				}]
			});


			//모달 그리드
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					modGrid.resetData(result);
					console.log(result);
				}
			});



			const modGrid = new tui.Grid({
				el: document.getElementById('modGrid'),
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'center',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center',
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'center',
				}, {
					header: '사용여부',
					name: 'useYN',
					align: 'center',
				}]
			})

			modalBtn.addEventListener('click', function () {

				setTimeout(function () {
					modGrid.refreshLayout()
				}, 300);
			});


			// 메인화면 그리드 검색
			function eqmSelect() {
				let keyword = $("#keyword").val();
				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						grid.resetData(result);
					}
				})
			}
			// 모달 그리드 검색
			function eqmSelect2() {
				let keyword = $("#keyword2").val();
				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						modGrid.resetData(result);
					}
				})
			}


			//취소버튼
			$('#initBtn').on('click', function () {
				$('#form').each(function () {
					this.reset()
				})
			})

			//등록버튼
			$('#insertBtn').on('click', function () {
				var formData = new FormData(document.getElementById('dataForm'))
				for (let a of formData.entries()) {
					console.log(a)
				}
				$.ajax({
					url: "/eqmInsert",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (xhr) {
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result)
						}
					})
				})
			});

			//수정버튼
			$('#modBtn').on('click', function () {
				var formData = new FormData(document.getElementById('dataForm'))

				$.ajax({
					url: "/eqmUpdate",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (xhr) {
					toastr.success('정상적으로 저장되었습니다.');
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result)
						}
					})
				})
			});




			// 이미지 미리보기


			$('#file').on('change', changeEvent => {
				const reader = new FileReader();
				$(reader).on('load', readerEvent => {
					$('#shortcutImg').attr('src', readerEvent.target.result);
					$('#shortcutBtn').css('display', 'inline-block');
				})

				const img = changeEvent.target.files[0];
				reader.readAsDataURL(img);
			})




			//삭제버튼
			$('#delBtn').on('click', function () {
				var result = confirm("해당 설비를 정말 삭제할까요?")
				var eqmCd = $('#eqmCd').val()


				if (!result)
					return;

				$.ajax({
					url: "eqmDelete/" + eqmCd,
					type: 'POST',
					dataType: 'json'
				}).done(function (xhr) {
					$.ajax({
						url: "eqmList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
						}
					})
				})
			})




			// 설비 리스트 이동	 


			grid.on('click', ev => {
				var value = grid.getValue(ev.rowKey, 'eqmCd');
				var keyword = grid.getValue(ev.rowKey, 'eqmCd');
				const reader = new FileReader();
				$('#eqmCd').val(value);

				$.ajax({
					url: "eqmCdSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						console.log(result);
						$('#eqmNm').val(result[0].eqmNm);
						$('#eqmCd').val(result[0].eqmCd);
						$('[name="prcsCd"]').val(result[0].prcsCd);
						$('[name="useYN"]').val([result[0].useYN]);
						$('#minTemp').val(result[0].minTemp);
						$('[name="lineCd"]').val(result[0].lineCd);
						$('[name="prcsNm"]').val(result[0].prcsNm);
						$('#maxTemp').val(result[0].maxTemp);
						$('#chckPerd').val(result[0].chckPerd);
						$('#eqmIstDt').val(result[0].eqmIstDt);
						$('[name="eqmFg"]').val(result[0].eqmFg);
						$('#preview').attr("src", "image/" + result[0].imgPath);
					}
				})
			});

			// 공정명 change event
			$('#prcsNm').on('change', function () {
				$('#prcsCd').val($(this).val())
			})
		</script>
	</th:block>
</body>

</html>