<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>

		#cont {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			padding: 3%;
			margin: 0, -5%, 0, -5%
		}

		#l_section {
			float: left;
			margin-right: 8%;
		}

		#r_section {
			float: right;
			margin-boattom: 4%;
			margin-right: 4%;
		}

		.col {
			width: 300px
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			float: right;
			margin-top: 0px;
		}
	</style>
</head>

<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">라인관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="home.do"><i
						class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 설비관리</li>
				<li class="breadcrumb-item active">> 라인관리</li>
			</ol>

			<div class="row">
				<div class="col-lg-6" style="width: 4%"></div>
				<div class="col-lg-6" style="width: 60%">
					<div class="card mb-4">
						<div class="card-body">
						<br>
							<div id="grid"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6" style="width: 1%"></div>
	<div class="col-lg-5" style="width: 30%">
					<div class="card mb-4">
						<div class="card-body">
					<div class="linelist" style="float: right;">
						<button class="btn btn-primary" id="initBtn"><i class="fas fa-file"></i> 새자료</button>
						<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
						<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
					</div>
					<br>
								<br>
								<hr>
								<form id="dataForm" action="#">
									<div class="mb-3">
										<label for="no" class="form-label">라인코드</label> <input type="text" placeholder="등록시 자동부여됩니다." readonly class="form-control" id="lineCd"
											name="lineCd">
									</div>
									<div class="mb-3">
									</div>
									<div class="mb-3">
										<label for="id" class="form-label">라인명</label> <input type="text" class="form-control"
											id="lineNm" name="lineNm">
									</div>
									<div class="mb-3">
										<label for="id" class="form-label">UPH생산량</label> <input type="text" class="form-control"
											id="uphCnt" name="uphCnt">
									</div>
									<div class="mb-3">
										<label for="email" class="form-label">담당자</label> <input type="text" class="form-control"
											id="eqmPsch" name="eqmPsch">
									</div>
									<div class="mb-4">
										<label for="email" class="form-label">사용여부</label><br>
										<select class="dataTable-selector" name="useYn" id="useYn" style="width: 150px">
											<option value="Y">사용</option>  
											<option value="N">미사용</option>
										</select>

									</div>
								</form>
							</div>
						</div>
					</div>


		<script>
			//취소
			$('#initBtn').on('click', function () {
				$('#dataForm')[0].reset();
			})


			// 라인 리스트 확인
			$.ajax({
				url: "eqmLineList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					grid.resetData(result);
				}
			})
			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				bodyHeight: 500,
				columns: [{
					header: '라인코드',
					name: 'lineCd',
					align: 'center',
				}, {
					header: '라인명',
					name: 'lineNm',
					align: 'center',
				}, {
					header: 'UPH생산량',
					name: 'uphCnt',
					align: 'center'
				}, {
					header: '담당자',
					name: 'eqmPsch',
					align: 'center'
				}, {
					header: '사용여부',
					name: 'useYn',
					align: 'center'
				}]
			});

			//라인 리스트 이동

			$('tbody').on('click', 'tr', function () {
				let lineCd = $(this).find('td').eq(0).text()
				let lineNm = $(this).find('td').eq(1).text()
				let uph = $(this).find('td').eq(2).text()
				let psch = $(this).find('td').eq(3).text()
				let yn = $(this).find('td').eq(4).text()

				$('#lineCd').val(lineCd).attr("readonly", true);
				$('#lineNm').val(lineNm)
				$('#uphCnt').val(uph)
				$('#eqmPsch').val(psch)
				$('#useYn').val([yn])


			})
			// 삭제

			$('#delBtn').on('click', function () {

				if ($('#lineCd').val() == null || $('#lineCd').val() == '') {
					toastr.warning('삭제할 라인을 선택해주세요.');
				} else {
					var result = confirm("라인코드를 정말 삭제할까요?")
					var lineCd = $('#lineCd').val()
					if (!result)
						return;

					$.ajax({
						url: "eqmLineDelete/" + lineCd,
						type: 'POST',
						dataType: 'json'
					}).done(function (xhr) {
						$.ajax({
							url: "eqmLineList",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								toastr.success('라인코드가 정상 삭제되었습니다.');
								$('#dataForm')[0].reset();
								grid.resetData(result);
							}
						});
					})
				}
			})


			// 저장


			$('#saveBtn').on('click', function () {
				var lineNm = $('#lineNm').val();
				var uphCnt = $('#uphCnt').val();
				var eqmPsch = $('#eqmPsch').val();
				var useYn = $('#useYn').val();
			if ($('#uphCnt').val() == null || $('#uphCnt').val() == ''||$('#lineNm').val() == null || $('#lineNm').val() == '' 
			|| $('#eqmPsch').val() == null || $('#eqmPsch').val() == '' ||$('#useYn').val() == '' ||$('#useYn').val() == '') {
					toastr.warning('공란 없이 작성해주세요.');
					return;
				} else{
				var formData = new FormData(dataForm);					
				$.ajax({
					url: 'eqmLineUpdate',
					type: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (xhr) {
					$.ajax({
						url: "eqmLineList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
								grid.resetData(result);
								$('#dataForm')[0].reset();
								toastr.success('정상적으로 저장되었습니다.')
						}
					});
				})}}
				
			)

		</script>
	</th:block>
</body>

</html>