<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
	background: #eee
}

#cont {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 3%;
	margin: 0, -5%, 0, -5%
}

#l_section {
	float: left;
	margin-right: 8%;
}

#r_section {
	float: right;
	margin-bottom: 4%;
	margin-right: 4%;
}

.col {
	width: 300px
}

.c_btn {
	color: #fff;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 6px;
	border-radius: 4px
}

.c_btn:hover {
	background: #555;
}

.linelist {
	float: right;
	margin-top: 0px;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  

	<!-- 헤더부분 -->
	<div class="container-fluid px-4">
		<h1 class="mt-4">설비관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">라인관리</li>
		</ol>
		</div>
		<!-- 헤더부분 -->
		
		<div class="card mb-4">
			<div id="cont">
				<section id="l_section">
					<div class="card mb-4">
						<div class="card-header">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table me-1"></i> 라인목록
							</div>
						</div>
						<br>
						<div class="card-body">
							<div id="grid" style="width: 600px;"></div>
						</div>
					</div>
				</section>

				<section id="r_section">
					<div class="col">
						<div class="card mb-4">
							<div class="card-header">
								<i class="fas fa-tachometer-alt"></i> 라인정보
							</div>

							<div class="card-body">
								<div class="linelist">
									<button type = "button"id="insertBtn" class="c_btn" >등록</button>
									<button type="button" id="modBtn" class="c_btn">수정</button>
									<button type="button" id="delBtn" class="c_btn">삭제</button>
									<button type="reset" id="initBtn" class="c_btn">취소</button>
								</div>
								<br> <br>
								<form id="form1" action="lineInsert">
									<div class="mb-3">
										<label for="no" class="form-label">라인코드</label> <input
											type="text" class="form-control" id="lineCd" name="lineCd">
									</div>
									<div class="mb-3">
										<label for="id" class="form-label">UPH생산량</label> <input
											type="text" class="form-control" id="uphCnt" name="uphCnt">
									</div>
									<div class="mb-3">
										<label for="email" class="form-label">담당자</label> <input
											type="text" class="form-control" id="eqmPsch" name="eqmPsch">
									</div>
									<div class="mb-4">
										<label for="email" class="form-label">사용여부</label>
										 <input
											type="checkbox" id="useYn" name="useYn" value="Y">
									</div>
								</form>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>



		<br>

		<script>
		
		//취소
		$('#initBtn').on('click',function(){
			$('#form1').each(function(){
			this.reset()})
		})
		
		
		// 라인 리스트 확인
		$.ajax({		url: "eqmLineList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
				}
			})
			const grid = new tui.Grid({
				el : document.getElementById('grid'),
				bodyHeight : 500,
				columns : [ {
					header : '라인코드',
					name : 'lineCd',
					align : 'center',
				}, {
					header : 'UPH생산량',
					name : 'uphCnt',
					align : 'center'
				}, {
					header : '담당자',
					name : 'eqmPsch',
					align : 'center'
				}, {
					header : '사용여부',
					name : 'useYn',
					align : 'center'
				} ]
			});
			
			//라인 리스트 이동
			
			$('tbody').on('click','tr',function(){
				let line=$(this).find('td').eq(0).text()
				let uph =$(this).find('td').eq(1).text()
				let psch =$(this).find('td').eq(2).text()
				let yn =$(this).find('td').eq(3).text()
				
				$('#lineCd').val(line)
				$('#uphCnt').val(uph)
				$('#eqmPsch').val(psch)
				$('#useYn').val([yn])
				
				
			})
			// 삭제
			
			$('#delBtn').on('click',function(){
				var result = confirm("라인코드를 정말 삭제할까요?")
				var lineCd = $('#lineCd').val()
				
			
				if(! result)
				return;
				
				$.ajax({
				url : "eqmLineDelete/"+lineCd,
				type : 'POST',
				dataType:'json'
				}).done(function(xhr){
					$.ajax({
						url: "eqmLineList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
				}
			});
				})
			})
			
			// 추가
			
			
			$('#insertBtn').on('click', function(){
			
			var lineCd = $('#lineCd').val();
			var uphCnt = $('#uphCnt').val();
			var eqmPsch = $('#eqmPsch').val();
				if ($('#useYn').is(':checked')){
				$('#useYn').val("Y");}
				else{
				$('#useYn').val("N");}

			var useYn = $('#useYn').val();

			$.ajax({
				url:'eqmLineInsert',
				type : 'POST',
				data : {lineCd, uphCnt, eqmPsch, useYn},
				dataType : 'json'
				}).done(function(xhr){
					$.ajax({
						url: "eqmLineList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
				}
			});
				})
			})
			
			//수정
			$('#modBtn').on('click',function(){
			var lineCd = $('#lineCd').val();
			var uphCnt = $('#uphCnt').val();
			var eqmPsch = $('#eqmPsch').val();
				if ($('#useYn').is(':checked')){
				$('#useYn').val("Y");}
				else{
				$('#useYn').val("N");}

			var useYn = $('#useYn').val();

			$.ajax({
				url:'eqmLineUpdate',
				type : 'POST',
				data : {lineCd, uphCnt, eqmPsch, useYn},
				dataType : 'json'
				}).done(function(xhr){
					$.ajax({
						url: "eqmLineList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							grid.resetData(result);
				}
			});
				})
			})
			
			
		</script>
</th:block>
</body>
</html>