<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		label {
			width: 90px;
			float: left;
		}
	</style>
</head>

<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">

		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<h1 class="mt-4">비가동관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 설비관리</li>
				<li class="breadcrumb-item active">> 비가동관리</li>
			</ol>

			<!-- 헤더부분 -->
			<div class="card mr-12 ">

				<div class="card-body">
					<form action="" id="eqmForm" name="eqmForm" method="get">
						<div class="row">
							<div class="col-12" style="margin-bottom: 3px">
							</div>
						</div>
						<div class="row me-3">
							<div class="col-12">
								<th>설비명</th>
								&nbsp&nbsp
								<td><input class="form-control" type="text" id="SEqmNm" name="eqmNm" style="width: 150px"
										placeholder="설비명">
								</td>
								&nbsp&nbsp
								<th>비가동일자</th>
								<td><input class="form-control" type="date" id="STrDt" name="frDt" style="width: 150px"> ~</td>
								<td><input class="form-control" type="date" id="SToDt" name="toDt" style="width: 150px"></td>&nbsp&nbsp
								<button type="button" style="width:85px; height:38px; margin-bottom:4px" class="btn btn-primary"
									onclick="eqmSelect()"><i class="fas fa-search"></i> 조회</button>
								<button type="submit" formaction="eqmOprExelView" style="width:85px; height:38px; margin-bottom:4px"
									class="btn btn-primary" id="excelBtn"><i class="fas fa-download"></i> Excel</button></a>
								<button type="button" data-bs-toggle="modal" class="btn btn-primary" id="modalBtn"
									data-bs-target="#insertModal" style="width:85px; height:38px; margin-bottom:4px"><i
										class="fas fa-save"></i> 등록</button>
								<button type="button" class="btn btn-primary" id="del"
									style="width:85px; height:38px; margin-bottom:4px"><i class="fas fa-trash"></i> 삭제</button>
							</div>
					</form>
				</div>
				<br>
				<div id="grid2"></div>
				<!-- <br><p style="font-size:14px">세부내역 확인 시 더블 클릭</p> -->
			</div>
			<br>


			<!-- 설비 비가동 등록 Modal -->
			<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">설비 비가동 등록</h5>
							<br> <br>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div><br>

						<div class="modal-body">
							<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
								<br> <br>
							</div>

							<div>
								<form id="dataForm" name="dataForm" action="#" method="post">
									<table class="table" style="vertical-align : middle;">
										<colgroup>
											<col style="width: 150px">
											<col>
											<col style="width: 150px">
											<col>
											<col style="width: 150px">
											<col>
										</colgroup>

										<tbody>
											<tr>
												<th>설비명 *
												</th>
												<td>
													<select class="form-control" id="frmEqmCd" name="frmEqmCd" style="width: 180px">
														<option selected value="">==선택==</option>
														<option th:each="value : ${eqmList}" th:value="${value.eqmCd}" th:text="${value.eqmNm}">
													</select>
											</tr>
											<tr>
												<th>담당자 *
												</th>
												<td><input class="form-control" type="text" id="frmPsch" name="frmPsch"
														style="width: 180px"></input>
											</tr>
											<tr>
												<th>가동여부<strong class="blue">*</strong>
												</th>
												<td>
													<input type="radio" name="frmUseYN" value="Y"> 가동
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
													<input type="radio" name="frmUseYN" value="N"> 미가동
												</td>
											</tr>
											<tr>
												<th>시작일 *</th>
												<td><input class="form-control" type="date" id="frDt" name="frDt" style="width: 150px" /></td>
											</tr>
											<tr>
												<th>종료일 *</th>
												<td><input class="form-control" type="date" id="toDt" name="toDt" style="width: 150px" /></td>

											</tr>

											<tr>
												<th>작업내용 *</th>
												<td><input type="text" id="opertCtnt" name="opertCtnt" class="form-control"
														style="width: 500px; height:100px" /></td>
											</tr>
										</tbody>
									</table>
								</form>

							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 설비 비가동 eqmSelect Modal -->
			<div class="modal fade" id="GridModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">비가동 내역 세부조회</h5>
							<br> <br>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

						</div><br>

						<div class="modal-body">
							<div class="linelist" style="float: right;">
								<button class="btn btn-primary" id="MsaveBtn"><i class="fas fa-save"></i> 저장</button>
								<br> <br>
							</div>

							<div>
								<form id="gridDataForm" name="gridDataForm" action="#" method="post">
									<table class="table" style="vertical-align : middle;">
										<colgroup>
											<col style="width: 150px">
											<col>
											<col style="width: 150px">
											<col>
											<col style="width: 150px">
											<col>
										</colgroup>

										<tbody>
											<input type="hidden" id="GFrmNoprCd" name="noprCd" />
											<tr>
												<th>설비코드</th>
												<td><input class="form-control" type="text" id="GFrmEqmNm" name="frmEqmNm" style="width: 180px"
														readonly></input>
											</tr>
											<tr>
												<th>설비명
												</th>
												<td><input class="form-control" type="text" id="GFrmEqmCd" name="frmEqmCd" style="width: 180px"
														readonly></input>
											</tr>
											<tr>
												<th>담당자 *
												</th>
												<td><input class="form-control" type="text" id="GFrmPsch" name="frmPsch"
														style="width: 180px"></input>
											</tr>
											<tr>
												<th>시작일 *</th>
												<td><input class="form-control" type="date" id="GFrDt" name="frDt" style="width: 150px" />
												</td>
											</tr>
											<tr>
												<th>종료일 *</th>
												<td><input class="form-control" type="date" id="GToDt" name="toDt" style="width: 150px" />
												</td>

											</tr>

											<tr>
												<th>작업내용 *</th>
												<td><input type="text" id="GOpertCtnt" name="opertCtnt" class="form-control"
														style="width: 500px; height:100px" /></td>
											</tr>
										</tbody>
									</table>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div>

				<script>
					$.ajax({
						url: "OprList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							grid2.resetData(result);
						}
					});

					const grid2 = new tui.Grid({
						el: document.getElementById('grid2'),
						bodyHeight: 500,
						rowHeaders: ['checkbox'],
						columns: [{
								header: '점검코드',
								name: 'noprCd',
								align: 'center',
							}, {
								header: '설비코드',
								name: 'tEqmCd',
								align: 'center',
							}, {
								header: '설비명',
								name: 'tEqmNm',
								align: 'left'
							}, {
								header: '시작날짜',
								name: 'tFrDt',
								align: 'center'
							}, {
								header: '종료날짜',
								name: 'tToDt',
								align: 'center'
							}, {
								header: '가동여부',
								name: 'tUseYn',
								align: 'center'
							}

						]
					});

					// 설비비가동조회 그리드 클릭 (세부조회)
					grid2.on('dblclick', ev => {
						// 모달 로딩 시 초기화
						var value = grid2.getValue(ev.rowKey, 'noprCd');
						$('#tEqmCd').val(value);
						$('#GridModal').modal('toggle');

						if (value != null) {
							// 모달 데이터 추가
							$.ajax({
								url: "OprSelectList",
								type: "post",
								data: {
									"keyword": value
								},
								dataType: "JSON",
								success: function (result) {
									console.log(result)
									$('#GFrmEqmCd').val(result[0].eqmCd);
									$('#GFrmEqmNm').val(result[0].eqmNm);
									$('#GFrmPsch').val(result[0].eqmPsch);
									$('[name="GFrmUseYN"]').val(result[0].useYn);
									$('#GFrDt').val(result[0].frDt);
									$('#GToDt').val(result[0].toDt);
									$('#GOpertCtnt').val(result[0].opertCtnt);
									$('#GFrmNoprCd').val(result[0].noprCd);
								}
							})
						}
					});

					// 설비 비가동 내역 체크 삭제

					$('#del').on('click', ev => {

						var data = grid2.getCheckedRows();
						
						var isValid = true;

						if (data.length == null || data.length == 0) {
							toastr.warning('체크된 점검 내역이 없습니다.');
							isValid = false;
							return false;
						}

						var result = confirm("해당 내역을 정말 삭제할까요?")

						if (!result)
							return;
						$.ajax({
								url: "OprDelete",
								type: 'POST',
								contentType : 'application/json',
								data: JSON.stringify(data)
							})
							.done(function (xhr) {
								$.ajax({
									url: "OprList",
									method: "GET",
									dataType: "JSON",
									success: function (result) {
										console.log(result);
										grid2.resetData(result);
										toastr.success('비가동 내역이 삭제되었습니다.');
									}
								});
							})
					})

					// 모달 데이터 저장

					$('#saveBtn').on('click', function () {
					var isValid = true;
					var frmPsch = $('#frmPsch').val()
					var frmUseYN = $('[name="frmUseYN"]').val()
					var opertCtnt = $('[name="opertCtnt"]').val()
					var frmEqmCd = $('[name="frmEqmCd"]').val()
					var frDt = $('#frDt').val()
					var toDt = $('#toDt').val()
					console.log(frmEqmCd)

					if (frmEqmCd == null || frmEqmCd == '' || frmPsch == null || frmPsch == '' || frmUseYN == '' || frmUseYN ==
						null || opertCtnt == null || opertCtnt == '' ||
						frDt == null || frDt == '' || toDt == null || toDt == '') {
						toastr.warning('필수 항목을 입력해주세요.');
						isValid = false;
						return false;
					}

					var formData = new FormData(dataForm)

					$.ajax({
						url: "eqmOqrInsert",
						method: 'POST',
						data: formData,
						contentType: false,
						processData: false
					}).done(function (result) {
						$('#insertModal').modal('hide');
						$.ajax({
							url: "OprList",
							method: "GET",
							dataType: "JSON",
							success: function (result) {
								toastr.success('정상적으로 저장되었습니다.');
								grid2.resetData(result)
							}

						})

					})
					})

					// 설비비가동내역 세부 조건 검색

					function eqmSelect() {
						var formData = new FormData(eqmForm)
						$.ajax({
							url: "OprKeyList",
							type: "post",
							data: formData,
							contentType: false,
							processData: false,
							success: function (result) {
								grid2.resetData(result);
							}
						})
					};




					// 설비 비가동 내역 세부조회 모달 수정

					$('#MsaveBtn').on('click', function () {

						var GFrmPsch = $('#GFrmPsch').val()
						var GFrDt = $('#GFrDt').val()
						var GToDt = $('#GToDt').val()
						var GOpertCtnt = $('#GOpertCtnt').val()
						var isValid = true;

						if (GFrmPsch == null || GFrmPsch == '' || GFrDt == null || GFrDt == '' ||
							GToDt == null || GToDt == '' || GOpertCtnt == null || GOpertCtnt == '') {
							toastr.warning('필수 항목을 입력해주세요.');
							isValid = false;
							return false;
						}

						var formData = new FormData(gridDataForm)
						$.ajax({
							url: "OprUpdate",
							method: 'POST',
							data: formData,
							contentType: false,
							processData: false
						}).done(function (result) {
							toastr.success('정상적으로 저장되었습니다.');
							$('#GridModal').modal('hide');
							$.ajax({
								url: "OprList",
								method: "GET",
								dataType: "JSON",
								success: function (result) {
									console.log(result);
									grid2.resetData(result);
								}
							})

						})
					})
				</script>

</body>
</th:block>

</html>