<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
			background: #eee
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		label {
			width: 90px;
			float: left;
		}
	</style>
</head>

<body>
	<!-- 본문내용 -->
	<th:block layout:fragment="main">

		<!-- 헤더부분 -->
		<div class="container-fluid px-4">
			<h1 class="mt-4">설비관리</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item active">비가동관리</li>
			</ol>
		</div>
		<!-- 헤더부분 -->
		<div class="container-fluid px-4 d-flex flex-row bd-highlight mb-3">
			<div class="row">
				<div class="col-12" style="margin-bottom : 1%">
					<!-- <section id="l_section"> -->
					<div class="card mr-12 ">

						<div class="card-header">
							<div class="sb-nav-link-icon">
								<i class="fas fa-table me-1"></i> 설비목록
							</div>
						</div>
						<div class="card-body">
							<div>
								<label for="">가동여부</label>
								<select style="width: 120px; text-align: center">
									<option selected disabled value="">가동여부</option>
									<option value="Y">가동</option>
									<option value="N">비가동</option>
								</select>
								<button class="c_btn" form="">조회</button>
							</div>
							<br>
							<div id="grid"></div>
						</div>
					</div>
				</div>
				<br>
				<br>
				<div class="card mb-4 ">
					<div class="card-header">
						<i class="fas fa-tachometer-alt"></i> 설비비가동내역
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-12" style="margin-bottom: 3px">
								<label for="">해당일자</label> <input type="date" id="" name="">&nbsp;
								- &nbsp;<input type="date" id="" name="">
							</div>
						</div>
						<div class="row me-3">
							<div class="col-5">
								<label for="">설비코드</label> <input type="text" readonly="readonly" id="rightEqmCd" name=""
									style="width: 150px">
							</div>
							<div>
								<label for="" autofocus="autofocus">설비명</label>
								<input type="text" id="keyword" name="keyword" placeholder="설비명"></input>
								<input type="button" data-bs-toggle="modal" class="btn-dark btn-primary btn-sm" id="modalBtn"
									data-bs-target="#exampleModal" value="설비명 검색"></input>
								<button type="button" onclick="eqmSelect()" class="btn-dark btn-primary btn-sm">조회</button>
							</div>
							<br>
							<br>
							<div id="grid2"></div>
						</div>


					</div>
				</div>
			</div>
		</div>



		<!-- 검색 Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">설비명 검색</h5>
						<br> <br>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div><br>
					<div class="ms-3">
						<label style="width:60px">설비명</label>
						<input type="text" id="keyword2" name="keyword2" placeholder="설비명"></input>
						<button type="button" onclick="eqmSelect2()" class="c_btn btn-dark btn-primary btn-sm">검색</button>
					</div>
					<div id="modGrid" class="modal-body"></div>

					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>


		<br>

		<!-- 설비 비가동 등록 Modal -->
		<div class="modal fade" id="insertModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">설비 비가동 등록</h5>
						<br> <br>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div><br>

					<div class="modal-body">
						<div class="linelist" style="float: right;">
							<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
							<br> <br>
						</div>

						<div>
							<form id="dataForm" name="dataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>

									<tbody>
										<tr>
											<th>설비코드</th>
											<td><input class="form-control" type="text" id="frmEqmNm" name="frmEqmNm" style="width: 180px"
													readonly></input>
										</tr>
										<tr>
											<th>설비명
											</th>
											<td><input class="form-control" type="text" id="frmEqmCd" name="frmEqmCd" style="width: 180px"
													readonly></input>
										</tr>
										<tr>
											<th>담당자
											</th>
											<td><input class="form-control" type="text" id="frmPsch" name="frmPsch"
													style="width: 180px"></input>
										</tr>
										<tr>
											<th>가동여부<strong class="blue">*</strong>
											</th>
											<td>
												<select name="frmUseYN" id="frmUseYN" class="dataTable-selector" style="width: 180px">
													<option disabled selected value="">가동여부</option>
													<option value="Y">가동</option>
													<option value="N">비가동</option>
												</select>
											</td>
										</tr>
										<tr>
											<th>시작일</th>
											<td><input class="form-control" type="date" id="frDt" name="frDt" style="width: 150px" /></td>
										</tr>
										<tr>
											<th>종료일</th>
											<td><input class="form-control" type="date" id="toDt" name="toDt" style="width: 150px" /></td>

										</tr>

										<tr>
											<th>작업내용</th>
											<td><input type="text" id="opertCtnt" name="opertCtnt" class="form-control"
													style="width: 500px; height:100px" /></td>
										</tr>
									</tbody>
								</table>
							</form>

						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 설비 비가동 조회 Modal -->
		<div class="modal fade" id="GridModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">비가동 내역 세부조회</h5>
						<br> <br>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

					</div><br>

					<div class="modal-body">
						<div class="linelist" style="float: right;">
							<button class="btn btn-primary" id="MsaveBtn"><i class="fas fa-save"></i> 저장</button>
							<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
							<br> <br>
						</div>

						<div>
							<form id="gridDataForm" name="gridDataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
										<col style="width: 150px">
										<col>
									</colgroup>

									<tbody>
										<input type="hidden" id="GFrmNoprCd" name="GFrmNoprCd"></input>
										<tr>
											<th>설비코드</th>
											<td><input class="form-control" type="text" id="GFrmEqmNm" name="frmEqmNm" style="width: 180px"
													readonly></input>
										</tr>
										<tr>
											<th>설비명
											</th>
											<td><input class="form-control" type="text" id="GFrmEqmCd" name="frmEqmCd" style="width: 180px"
													readonly></input>
										</tr>
										<tr>
											<th>담당자
											</th>
											<td><input class="form-control" type="text" id="GFrmPsch" name="frmPsch"
													style="width: 180px"></input>
										</tr>
										<tr>
											<th>가동여부<strong class="blue">*</strong>
											</th>
											<td>
												<select name="GFrmUseYN" id="GFrmUseYN" class="dataTable-selector" style="width: 180px">
													<option disabled selected value="">가동여부</option>
													<option value="Y">가동</option>
													<option value="N">비가동</option>
												</select>
											</td>
										</tr>
										<tr>
											<th>시작일</th>
											<td><input class="form-control" type="date" id="GFrDt" name="frDt" style="width: 150px" /></td>
										</tr>
										<tr>
											<th>종료일</th>
											<td><input class="form-control" type="date" id="GToDt" name="toDt" style="width: 150px" /></td>

										</tr>

										<tr>
											<th>작업내용</th>
											<td><input type="text" id="GOpertCtnt" name="opertCtnt" class="form-control"
													style="width: 500px; height:100px" /></td>
										</tr>
									</tbody>
								</table>
							</form>

						</div>
					</div>



					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
					</div>
				</div>
			</div>
		</div>

		<script>
			// 설비 리스트		
			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					console.log(result);
					grid.resetData(result);
				}
			});

			const grid = new tui.Grid({
				el: document.getElementById('grid'),
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비코드',
					name: 'eqmCd',
					align: 'center',
				}, {
					header: '설비명',
					name: 'eqmNm',
					align: 'center'
				}, {
					header: '공정코드',
					name: 'prcsCd',
					align: 'center'
				}, {
					header: '공정명',
					name: 'prcsNm',
					align: 'center'
				}, {
					header: '사용여부',
					name: 'useYN',
					align: 'center'
				}]
			});


			// 그리드 클릭 시 
			grid.on('click', ev => {
				// 모달 로딩 시 초기화
				var value = grid.getValue(ev.rowKey, 'eqmCd');
				$('eqmCd').val(value);

				$('#insertModal').modal('toggle');

				// 모달 데이터 추가
				$.ajax({
					url: "eqmCdSelect",
					type: "post",
					data: {
						"keyword": value
					},
					dataType: "JSON",
					success: function (result) {
						$('#frmEqmCd').val(result[0].eqmCd);
						$('#frmEqmNm').val(result[0].eqmNm);
						$('[name="frmUseYN"]').val(result[0].useYN);

						//비가동 여부에 따른 toggle

						if (result[0].useYN == 'Y') {
							$('#opertCtnt').prop('readonly', true)
							$('#toDt').prop('readonly', true)
							$('#frDt').prop('readonly', true)
							$('#frmPsch').prop('readonly', true)
						} else {
							$('#opertCtnt').prop('readonly', false)
							$('#toDt').prop('readonly', false)
							$('#frDt').prop('readonly', false)
							$('#frmPsch').prop('readonly', false)
						}


					}
				})
			});


			$.ajax({
				url: "OprList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					console.log(result);
					grid2.resetData(result);
				}
			});

			const grid2 = new tui.Grid({
				el: document.getElementById('grid2'),
				bodyHeight: 200,
				rowHeaders: ['rowNum'],
				columns: [{
						header: '점검코드',
						name: 'noprCd',
						align: 'center',
					}, {
						header: '설비코드',
						name: 'tEqmCd',
						align: 'center',
					}, {
						header: '설비명',
						name: 'tEqmNm',
						align: 'center'
					}, {
						header: '비가동여부',
						name: 'tUseYn',
						align: 'center'
					}, {
						header: '시작날짜',
						name: 'tFrDt',
						align: 'center'
					}, {
						header: '종료날짜',
						name: 'tToDt',
						align: 'center'
					}

				]
			});

			// 설비비가동조회 그리드 클릭 (세부조회)
			grid2.on('click', ev => {
				// 모달 로딩 시 초기화
				var value = grid2.getValue(ev.rowKey, 'noprCd');
				$('#tEqmCd').val(value);
				$('#GridModal').modal('toggle');

				if (value != null) {
					// 모달 데이터 추가
					$.ajax({
						url: "OprSelectList",
						type: "post",
						data: {
							"keyword": value
						},
						dataType: "JSON",
						success: function (result) {
							$('#GFrmEqmCd').val(result[0].FTEqmCd);
							$('#GFrmEqmNm').val(result[0].FTEqmNm);
							$('#GFrmPsch').val(result[0].FTEqmPsch);
							$('[name="GFrmUseYN"]').val(result[0].FTUseYn);
							$('#GFrDt').val(result[0].FTFrDt);
							$('#GToDt').val(result[0].FTToDt);
							$('#GOpertCtnt').val(result[0].FTOpertCtnt);
							$('#GFrmNoprCd').val(result[0].FnoprCd);
						}
					})
				}
			});

			// 설비 비가동 내역 삭제

			$('#delBtn').on('click', function () {
				var result = confirm("해당 설비를 정말 삭제할까요?")
				var GFrmNoprCd = $('#GFrmNoprCd').val()

				if (!result)
					return;

				$.ajax({
					url: "OprDelete",
					type: 'POST',
					data: {
						noprCd: GFrmNoprCd
					}
				}).done(function (xhr) {
					$.ajax({
						url: "OprList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							grid2.resetData(result);
							toastr.success('비가동 내역이 삭제되었습니다.');
							$('#GridModal').modal('hide');
						}
					});
				})
			})



			// 모달 데이터 저장

			$('#saveBtn').on('click', function () {
				var formData = new FormData(dataForm)

				$.ajax({
					url: "eqmOqrInsert",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (result) {
					toastr.success('정상적으로 저장되었습니다.');
					$('#insertModal').modal('hide');
					$.ajax({
						url: "OprList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							grid2.resetData(result);
						}
					})

				})
			})


			// 모달 작업 내용 change event	

			$('#frmUseYN').on('change', function () {
				if ($('#frmUseYN').val() == 'Y') {
					$('#opertCtnt').prop('readonly', true)
					$('#toDt').prop('readonly', true)
					$('#frDt').prop('readonly', true)
					$('#frmPsch').prop('readonly', true)
				} else {
					$('#opertCtnt').prop('readonly', false)
					$('#toDt').prop('readonly', false)
					$('#frDt').prop('readonly', false)
					$('#frmPsch').prop('readonly', false)
				}
			})

			// 설비비가동내역 검색

			function eqmSelect() {
				let keyword = $("#keyword").val();
				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						grid2.resetData(result);
					}
				})
			};





			//모달 그리드

			$.ajax({
				url: "eqmList",
				method: "GET",
				dataType: "JSON",
				success: function (result) {
					modGrid.resetData(result);
				}
			});

			const modGrid = new tui.Grid({
				el: document.getElementById('modGrid'),
				rowHeaders: ['rowNum'],
				columns: [{
					header: '설비명',
					name: 'eqmNm',
					align: 'center',
				}, {
					header: '설비코드',
					name: 'eqmCd',
					align: 'center'
				}]
			})

			modalBtn.addEventListener('click', function () {

				setTimeout(function () {
					modGrid.refreshLayout()
				}, 300);
			});




			// 설비명 검색
			function eqmSelect2() {
				let keyword = $("#keyword2").val();
				$.ajax({
					url: "eqmSelect",
					type: "post",
					data: {
						"keyword": keyword
					},
					dataType: "JSON",
					success: function (result) {
						modGrid.resetData(result);
					}
				})
			}


			// 모달 더블클릭 이벤트 (데이터 폼으로 이동)
			modGrid.on('dblclick', (ev) => {
				var eqmNm = modGrid.getValue(ev.rowKey, 'eqmNm');
				var eqmCd = modGrid.getValue(ev.rowKey, 'eqmCd');
				$('#keyword').val(eqmNm);
				$('#rightEqmCd').val(eqmCd);
				$('#exampleModal').modal('hide');
			});



			// 설비 비가동 조회 모달 저장

			$('#MsaveBtn').on('click', function () {
				var formData = new FormData(gridDataForm)
				$.ajax({
					url: "eqmOqrUpdate",
					method: 'POST',
					data: formData,
					contentType: false,
					processData: false
				}).done(function (result) {
					toastr.success('정상적으로 저장되었습니다.');
					$('#GridModal').modal('hide');
					$.ajax({
						url: "OprList",
						method: "GET",
						dataType: "JSON",
						success: function (result) {
							console.log(result);
							grid2.resetData(result)
						}
					})
				})
			})
		</script>

	</th:block>
</body>

</html>