<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
body {
	background: #eee
}

.c_btn {
	color: #fff;
	font-size: 13px;
	background: #333;
	border: none;
	padding: 6px;
	border-radius: 4px
}

.c_btn:hover {
	background: #555;
}

.linelist {
	display: inline-block;
	margin-top: 0px;
}

label {
	width: 90px;
	float: left;
}
</style>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">  

	<!-- 헤더부분 -->
	<div class="container-fluid px-4">
		<h1 class="mt-4">설비관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item active">비가동관리</li>
		</ol>
	</div>
	<!-- 헤더부분 -->
	<div class="container-fluid px-4 d-flex flex-row bd-highlight mb-3">
		<div class="row">
			<div class="col-6 mr-3"  >
				<!-- <section id="l_section"> -->
				<div class="card mr-4 ">

					<div class="card-header">
						<div class="sb-nav-link-icon">
							<i class="fas fa-table me-1"></i> 설비목록
						</div>
					</div>
					<div class="card-body">
						<div>
							<label for="">가동여부</label> 
							<select style="width: 120px; text-align: center">
								<option selected disabled>가동여부 선택</option>
								<option>가동</option>
								<option>비가동</option>
							</select>
							<button class="c_btn" form="">조회</button>
						</div>
						<br>
						<div id="grid"></div>
					</div>
				</div>
			</div>
			<div class="col-5 ms-auto">
				<div class="card mb-4 ">
					<div class="card-header">
						<i class="fas fa-tachometer-alt"></i> 설비목록검색
					</div>

					<div class="card-body">
						<div class="row">
							<div class="col-12" style="margin-bottom: 3px">
								<label for="">해당일자</label> <input type="date" id="" name="">&nbsp;
								- &nbsp;<input type="date" id="" name="">
							</div>
						</div>
						<div class="row me-3">
							<div class="col-5">
								<label for="">설비코드</label> <input type="text"
									readonly="readonly" id="" name="" style="width: 150px">
							</div>
							<div class="col-7">
								<label for="" autofocus="autofocus">설비명</label> <input
									type="text" readonly="readonly" id="" name="">
								<button class="c_btn" form="">검색</button>
								<button class="c_btn" form="">조회</button>
							</div>
							<div id="grid2"></div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>


	<br>

	<script>

		
		$.ajax({
			url: "eqmList",
			method: "GET",
			dataType: "JSON",
			success: function (result) {
				grid.resetData(result);
				console.log(result);
			}
		});

		const grid = new tui.Grid({
			el : document.getElementById('grid'),
			rowHeaders : [ 'rowNum' ],
			columns : [ {
				header : '설비코드',
				name : 'c1',
				align : 'center',
			}, {
				header : '설비명',
				name : 'c2',
				align : 'center'
			}, {
				header : '공정코드',
				name : 'c3',
				align : 'center'
			}, {
				header : '공정명',
				name : 'c4',
				align : 'center'
			}, {
				header : '사용여부',
				name : 'c5',
				align : 'center'
			} ]
		});

		const grid2 = new tui.Grid({
			el : document.getElementById('grid2'),
			bodyHeight : 200,
			rowHeaders : [ 'rowNum' ],
			columns : [ {
				header : '설비코드',
				name : 'c1',
				align : 'center',
			}, {
				header : '설비명',
				name : 'c2',
				align : 'center'
			}, {
				header : '공정코드',
				name : 'c3',
				align : 'center'
			}, {
				header : '공정명',
				name : 'c4',
				align : 'center'
			}, {
				header : '사용여부',
				name : 'c5',
				align : 'center'
			} ]
		});
		grid.refreshLayout();
		grid2.refreshLayout();
	</script>

</th:block>
</body>
</html>