<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rezzo.mes.resour.oust.mapper.RscOustMapper">

    <select id="getLotByRscCd" parameterType="RscOustVO" resultType="RscOustVO">
        select RSC_LOT_CD,
               LOT_RMN_CNT,
               substr(RSC_LOT_CD, 6, 4) || '-' || substr(RSC_LOT_CD, 10, 2) || '-' || substr(RSC_LOT_CD, 12, 2) expDt
        from RSC_LOT
        where RSC_CD = #{rscCd}
    </select>

    <select id="getRscOustCd" resultType="String">
        select 'MOT' || to_char(sysdate, 'YYYYMMDD') || lpad(NVL(max(substr(RSC_OUST_CD, 12, 3)), 0) + 1, 3, '0')
        from RSC_OUST
        where substr(RSC_OUST_CD, 4, 8) = to_char(sysdate, 'yyyymmdd')
    </select>

    <update id="letHoldOust" parameterType="RscOustVO">
        begin
            update rsc_lot
            set HOLD_CNT    = HOLD_CNT - #{oustCnt},
                LOT_RMN_CNT = LOT_RMN_CNT - #{oustCnt}
            where RSC_LOT_CD = #{rscLotCd};

            insert into RSC_OUST_DTL (RSC_OUST_CD, OUST_CNT, RSC_CD, RSC_LOT_CD)
            values (#{rscOustCd}, #{oustCnt}, #{rscCd}, #{rscLotCd});
        end;
    </update>

    <insert id="setRscOustEach" parameterType="RscOustVO">
        begin
            update RSC_LOT
            set LOT_RMN_CNT = LOT_RMN_CNT - #{oustCnt}
            where RSC_LOT_CD = #{rscLotCd};

            insert into RSC_OUST_DTL (RSC_OUST_CD, OUST_CNT, RSC_CD, RSC_LOT_CD)
            values (#{rscOustCd}, #{oustCnt}, #{rscCd}, #{rscLotCd});
        end;
    </insert>

    <insert id="setRscOust" parameterType="RscOustVO">
        declare
            v_values rsc_oust%rowtype;
        begin
            for v_values in (
                select rsc_cd, sum(OUST_CNT) as oust_cnt
                from RSC_OUST_DTL
                where RSC_OUST_CD = #{rscOustCd}
                group by rsc_cd)

                loop
                    insert into RSC_OUST (RSC_OUST_CD, OUST_DT, RSC_CD, OUST_CNT)
                    values (#{rscOustCd}, #{oustDt}, v_values.RSC_CD, v_values.oust_cnt);
                end loop;
        end;
    </insert>

    <select id="schRscOustHist" parameterType="RscOustVO" resultType="RscOustVO">
        select ro.RSC_OUST_CD, count(*) oustCnt, ro.OUST_DT
        from RSC_OUST_DTL rod,
             RSC_OUST ro
        where rod.RSC_OUST_CD = ro.RSC_OUST_CD
           <![CDATA[
          and ro.OUST_DT >= #{startDt}
          and ro.OUST_DT <= #{endDt}
        group by oust_DT, ro.RSC_oust_CD
        ]]>
    </select>

    <select id="getRscOustHist" parameterType="RscOustVO" resultType="RscOustVo">

    </select>

</mapper>