<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rezzo.mes.resour.stc.mapper.RscStcMapper">
    <select id="getIOList" parameterType="RscIOVO" resultType="RscIOVO">
        select *
        from (select IST_DT as prcsDt,
        ri.RSC_IST_CD as cd,
        ri.RSC_CD,
        rsc.RSC_NM,
        rsc.RSC_SPEC,
        rsc.MNG_UNIT,
        ri.IST_CNT,
        null as oustCnt
        from RSC_IST ri,
        RSC
        where ri.RSC_CD = rsc.RSC_CD

        union

        select OUST_DT as prcsDt,
        ro.RSC_OUST_CD as cd,
        ro.RSC_CD,
        rsc.RSC_NM,
        rsc.RSC_SPEC,
        rsc.MNG_UNIT,
        null,
        ro.OUST_CNT
        from RSC_OUST ro,
        RSC
        where ro.RSC_CD = rsc.RSC_CD)
        where
        <![CDATA[
          prcsDt >= #{startDt}
          and prcsDt <= #{endDt}
        ]]>
        <if test="rscCd != '' and rscCd != null">and RSC_CD = #{rscCd}</if>
        order by prcsDt
    </select>

    <select id="getRscLotList" parameterType="RscLotVO" resultType="RscLotVO">
        select rsc.RSC_CD,
        rsc.RSC_NM,
        rsc.RSC_TYP,
        rsc.RSC_SPEC,
        rsc.MNG_UNIT,
        rl.RSC_LOT_CD,
        rl.HOLD_CNT,
        rl.HOLD_CNT,
        rl.LOT_CNT as istCnt,
        (rl.LOT_CNT - rl.LOT_RMN_CNT) as oustCnt,
        rl.LOT_RMN_CNT
        from RSC,
        RSC_LOT rl
        where rsc.RSC_CD = rl.RSC_CD
        <if test="rscCd != null and rscCd != ''">and rsc.RSC_CD = #{rscCd}</if>
        <if test="noZeroLot == 1">and rl.LOT_RMN_CNT != 0</if>
    </select>

    <select id="getRscStcList" parameterType="RscStcVO" resultType="RscStcVO">
        select distinct rsc.RSC_CD,
        rsc.RSC_NM,
        rsc.RSC_TYP,
        rsc.RSC_SPEC,
        rsc.MNG_UNIT,
        rsc.SAF_STC,
        rsh.PRVMM_STC,
        rs.AVAL_STC,
        (PRVMM_STC + sum(distinct nvl(ri.IST_CNT, 0)) over (partition by rsc.RSC_CD)
        - sum(distinct nvl(ro.OUST_CNT, 0)) over (partition by rsc.RSC_CD)) as stcCnt
        from RSC
        full join RSC_STC_HIST rsh on (rsh.RSC_CD = rsc.RSC_CD and rsh.CLS_YYMM = to_char(sysdate, 'yyyyMM'))
        full join RSC_IST ri on (ri.RSC_CD = rsc.RSC_CD and ri.IST_DT between trunc(#{inqDt}, 'MM') and #{inqDt})
        full join RSC_OUST ro on (ro.RSC_CD = rsc.RSC_CD and ro.OUST_DT between trunc(#{inqDt}, 'MM') and #{inqDt})
        full join RSC_STC rs on (rs.RSC_CD = rsc.RSC_CD)
        where rsc.RSC_CD is not null
        <if test="rscCd != null and rscCd != ''">and rsh.RSC_CD = #{rscCd}</if>
        order by rsc.RSC_CD
    </select>

    <insert id="stcStack">
        declare
            v_prev_stcs RSC_STC_HIST%rowtype;
        begin
            for v_prev_stcs in (
                select *
                from RSC_STC_HIST
                where CLS_YYMM = to_char(add_months(sysdate, -1), 'yyyyMM')
                )
                loop
                    insert into RSC_STC_HIST
                        (cls_yymm, rsc_cd, ist_cnt, oust_cnt, prvmm_stc)
                    values (to_char(sysdate, 'yyyyMM'), v_prev_stcs.RSC_CD, 0, 0,
                            (v_prev_stcs.IST_CNT - v_prev_stcs.OUST_CNT));
                end loop;
        end;
    </insert>
</mapper>