<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.resour.ordr.mapper.RscOrdrMapper">
	
	
	<select id="rscOrdrCd" resultType="com.rezzo.mes.resour.ordr.service.RscOrdrVO">
		select LPAD(count(*), 3,0) as "ordrSCnt" 
		from rsc_ordr where ordr_cd like '%'||#{ordrSCnt}||'%'
	</select>
	
	<select id="rscCOrdrList" resultType="com.rezzo.mes.resour.ordr.service.RscOrdrVO">
			select r.rsc_cd, r.rsc_nm, v.vend_cd, v.vend_nm, s.rsc_stc, s.saf_stc
			from rsc r join vend v
			on v.vend_cd=r.vend_cd 
			join rsc_stc s on 1=1
	</select>
	
	<select id="rscSOrdrList" resultType="com.rezzo.mes.resour.ordr.service.RscOrdrVO">
			select r.rsc_cd, r.rsc_nm, v.vend_cd, v.vend_nm, s.rsc_stc, s.saf_stc
			from rsc r join vend v
			on v.vend_cd=r.vend_cd 
			join rsc_stc s on 1=1
			where r.rsc_nm LIKE '%'||#{rscNm}||'%'
		
		
	</select>
	
	<select id = "rscRowSelectList" resultType="com.rezzo.mes.resour.ordr.service.RscOrdrVO">
			select r.rsc_cd, r.rsc_nm, v.vend_cd, v.vend_nm, s.rsc_stc, s.saf_stc
			from rsc r join vend v
			on v.vend_cd=r.vend_cd 
			join rsc_stc s on 1=1
			where r.rsc_cd = #{rscCd}
	</select>
	
</mapper>