<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.resour.search.mapper.OrdrSearchMapper">

<select id="ordrSearchList" resultType="com.rezzo.mes.resour.search.service.OrdrSearchVO">
	select * from vw_ordr_detale
</select>

<select id="ordrSearchOneList" resultType="com.rezzo.mes.resour.search.service.OrdrSearchVO">
	select * from vw_ordr_detale
	where 1=1
	<if test="#{vendNm} != null"> AND vend_nm LIKE '%'||#{vendNm}||'%'</if>
	<if test="#{frDt} != null"><![CDATA[ AND paprd_cmnd_dt >= #{frDt}]]></if>
	<if test="#{toDt} != null"><![CDATA[ AND paprd_cmnd_dt < #{toDt}]]></if>
</select>


</mapper>