<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TUI -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

    <style>
        .tui-datepicker {
            z-index: 100;
        }
    </style>

    <title>자재수입검사</title>
</head>

<body>

    <input type="button" value="검사내역"></input>
    <input type="button" value="저장">
    <input type="button" value="다시작성">
    <input type="button" value="삭제">
    <hr>

    <label for="inspDt"><b>입고일자</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span></span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>
    <hr>

    <label for="inspDt"><b>검사일자</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input type="text" name="inspDt" id="tui-date-picker-target" aria-label="Date-Time" />
        <span class="tui-ico-date"></span>
    </div>
    <div id="tui-date-picker-container" style="margin-top: -1px;"></div>
    <hr>

    <label for="vend"><b>업체명</b></label>
    <input id="vend" type="text">
    <input id="vendSch" type="button" value="검색">
    <hr>

    <!-- grid section -->
    <div id="grid"></div>

</body>

<script>
    window.addEventListener('onload', function () {

    })

    // temp in-stored
    let today = new Date();

    let picker = tui.DatePicker.createRangePicker({
        startpicker: {
            date: today,
            input: '#startpicker-input',
            container: '#startpicker-container'
        },
        endpicker: {
            date: today,
            input: '#endpicker-input',
            container: '#endpicker-container'
        },
        selectableRanges: [
            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
        ]
    });

    // set a inspection date
    let DatePicker = tui.DatePicker;
    let container = document.getElementById('tui-date-picker-container');
    let target = document.getElementById('tui-date-picker-target');

    let instance = new DatePicker(container, {
        input: {
            element: target
        }
    });

    // grid section
    class CustomTextEditor {
        constructor(props) {
            let el = document.createElement('input');
            let { maxLength } = props.columnInfo.editor.options;

            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);

            this.el = el;
        }

        getElement() {
            return this.el;
        }

        getValue() {
            return this.el.value;
        }

        mounted() {
            this.el.select();
        }
    }

    // grid section
    let grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '코드',
                name: 'code'
            },
            {
                header: '품명',
                name: 'name'
            },
            {
                header: '규격',
                name: 'si'
            },
            {
                header: '발주번호',
                name: 'ordr_code'
            },
            {
                header: '발주량',
                name: 'ordr_cnt'
            },
            {
                header: '입고량',
                name: 'ordr_inst_cnt',
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사량',
                name: 'insp_cnt',
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사',
                name: 'insp'
            },
            {
                header: '합격량',
                name: 'insp_pass',
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '불량량',
                name: 'insp_fail',
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사완료',
                name: 'insp_done',
                width: 60
            }
        ],
        data: [
            {
                code: '12312',
                name: '감귤',
                si: 'ea',
                ordr_code: '12312',
                ordr_cnt: '2',
                ordr_inst_cnt: '3',
                insp_cnt: '3',
                insp: 'yes',
                insp_pass: '123',
                insp_fail: '123'
            }
        ]
    });

</script>

</html>