<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TUI -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <title>자재수입검사조회</title>
</head>

<body>
    <input type="button" value="조회">
    <input type="button" value="새자료">
    <input type="button" value="엑셀">
    <input type="button" value="인쇄">
    <hr>
    <!-- date range picker for temporary order instore -->
    <label for="inspDt"><b>검사일자</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span>~</span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>

    <hr>

    <label for="vend"><b>업체명</b></label>
    <input id="vend" type="text">
    <input id="vend" type="button" value="검색">
    <hr>

    <!-- search vendor -->
    <label for="mat"><b>자재코드</b></label>
    <input id="mat" type="text">
    <input id="mat" type="button" value="검색">
    <hr>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">검사내역</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="modGrid" class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                    <button type="button" class="btn btn-primary">가져오기</button>
                </div>
            </div>
        </div>
    </div>


    <div id="grid"></div>

</body>

<script>

    window.addEventListener('onload', function () {

    })

    // let vend = document.getElementById('vend');
    // vend.addEventListener('click', function () {
    //     // 업체검색핸들러
    // })

    let today = new Date();
    let picker = tui.DatePicker.createRangePicker({
        startpicker: {
            date: today,
            input: '#startpicker-input',
            container: '#startpicker-container'
        },
        endpicker: {
            date: today,
            input: '#endpicker-input',
            container: '#endpicker-container'
        },
        selectableRanges: [
            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
        ]
    });

    class CustomCheckboxRender {
        constructor(props) {
            const { grid, rowKey, columnInfo, value } = props;

            const label = document.createElement('label');
            label.className = 'checkbox';
            label.setAttribute('for', String(rowKey));

            const hiddenInput = document.createElement('input');
            hiddenInput.className = 'hidden-input';
            hiddenInput.id = String(rowKey);

            const customInput = document.createElement('span');
            customInput.className = 'custom-input';

            label.appendChild(hiddenInput);
            label.appendChild(customInput);

            hiddenInput.type = 'checkbox';

            this.el = label;
        }

        getElement() {
            return this.el;
        }
    }

    class CustomTextEditor {
        constructor(props) {
            const el = document.createElement('input');
            const { maxLength } = props.columnInfo.editor.options;

            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);

            this.el = el;
        }

        getElement() {
            return this.el;
        }

        getValue() {
            return this.el.value;
        }

        mounted() {
            this.el.select();
        }
    }

    // grid section
    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '검사번호',
                name: 'inspCd'
            },
            {
                header: '검사일자',
                name: 'inspDt'
            },
            {
                header: '자재코드',
                name: 'matCd'
            },
            {
                header: '품명',
                name: 'matName'
            },
            {
                header: '검사량',
                name: 'inspCnt'
            },
            {
                header: '합격량',
                name: 'inspPass'
            },
            {
                header: '불량량',
                name: 'inspFail'
            },
            {
                header: '대표불량명',
                name: 'failSpcf'
            }
        ],
        data: [
            {
                inspCd: '12312',
                inspDt: '감귤',
                matCd: 'ea',
                matName: '12312',
                inspCnt: '2',
                inspPass: '3',
                inspFail: '3',
                failSpcf: '부패'
            }
        ]
    });

</script>

</html>