<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TUI -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

    <style>
        .tui-datepicker {
            z-index: 100;
        }
    </style>

    <title>자재입고관리</title>


</head>

<body>
    <h3>자재입고관리</h3>
    <hr>

    <input type="button" value="저장">
    <input type="button" value="다시작성">
    <input type="button" value="삭제">
    <hr>
    <label for="inspDt"><b>검사자료</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span></span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>
    <input type="button" value="가져오기">
    <hr>

    <label for="inspDt"><b>입고일자</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input type="text" name="inspDt" id="tui-date-picker-target" aria-label="Date-Time" />
        <span class="tui-ico-date"></span>
    </div>
    <div id="tui-date-picker-container" style="margin-top: -1px;"></div>
    <hr>

    <label for="vend"><b>업체명</b></label>
    <input id="vend" type="text">
    <input id="vendSch" type="button" value="검색">
    <hr>

    <div id="grid"></div>

</body>

<script>

    window.addEventListener('onload', function () {

    })


    const DatePicker = tui.DatePicker;

    const container = document.getElementById('tui-date-picker-container');
    const target = document.getElementById('tui-date-picker-target');

    const instance = new DatePicker(container, {
        input: {
            element: target
        }
    });

    let today = new Date();
    let picker = tui.DatePicker.createRangePicker({
        startpicker: {
            date: today,
            input: '#startpicker-input',
            container: '#startpicker-container'
        },
        endpicker: {
            date: today,
            input: '#endpicker-input',
            container: '#endpicker-container'
        },
        selectableRanges: [
            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
        ]
    });

    // grid section
    class CustomTextEditor {
        constructor(props) {
            const el = document.createElement('input');
            const { maxLength } = props.columnInfo.editor.options;

            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);

            this.el = el;
        }

        getElement() {
            return this.el;
        }

        getValue() {
            return this.el.value;
        }

        mounted() {
            this.el.select();
        }
    }

    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '자재코드',
                name: 'matCd'
            },
            {
                header: '품명',
                name: 'matName'
            },
            {
                header: '규격',
                name: 'matSt'
            },
            {
                header: '단위',
                name: 'matSi'
            },
            {
                header: '발주번호',
                name: 'ordrCd'
            },
            {
                header: '입고수량',
                name: 'instCnt'
            }
            ,
            {
                header: 'LOT번호',
                name: 'matLot'
            }

        ],
        data: [
            {
                matCd: '12312',
                matName: '감귤',
                matSt: 'ea',
                matSi: '12312',
                matSi: '2',
                ordrCd: '3',
                instCnt: '3',
                matLot: '3'
            }
        ]
    });

</script>

</html>