<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TUI -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

    <style>
        .tui-datepicker {
            z-index: 100;
        }
    </style>

    <title>자재수입검사조회</title>
</head>

<body>
    <h3>자재수입검사조회</h3>
    <hr>

    <input type="button" value="조회">
    <input type="button" value="새로고침">
    <input type="button" value="엑셀">
    <input type="button" value="인쇄">
    <hr>

    <label for="inspDt"><b>검사일자</b></label>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="startpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="startpicker-container" style="margin-left: -1px;"></div>
    </div>
    <span></span>
    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
        <input id="endpicker-input" type="text" aria-label="Date">
        <span class="tui-ico-date"></span>
        <div id="endpicker-container" style="margin-left: -1px;"></div>
    </div>
    <hr>

    <label for="vend"><b>업체명</b></label>
    <input id="vend" type="text">
    <input id="vend" type="button" value="검색">
    <hr>

    <label for="mat"><b>자재코드</b></label>
    <input id="mat" type="text">
    <input id="mat" type="button" value="검색">
    <hr>

    <div id="grid"></div>

</body>

<script>

    window.addEventListener('onload', function () {

    })

    // inspection date range
    let today = new Date();
    let picker = tui.DatePicker.createRangePicker({
        startpicker: {
            date: today,
            input: '#startpicker-input',
            container: '#startpicker-container'
        },
        endpicker: {
            date: today,
            input: '#endpicker-input',
            container: '#endpicker-container'
        },
        selectableRanges: [
            [today, new Date(today.getFullYear() + 1, today.getMonth(), today.getDate())]
        ]
    });

    // grid section
    class CustomTextEditor {
        constructor(props) {
            const el = document.createElement('input');
            const { maxLength } = props.columnInfo.editor.options;

            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);

            this.el = el;
        }

        getElement() {
            return this.el;
        }

        getValue() {
            return this.el.value;
        }

        mounted() {
            this.el.select();
        }
    }

    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '검사번호',
                name: 'inspCd'
            },
            {
                header: '검사일자',
                name: 'inspDt'
            },
            {
                header: '자재코드',
                name: 'matCd'
            },
            {
                header: '품명',
                name: 'matName'
            },
            {
                header: '검사량',
                name: 'inspCnt'
            },
            {
                header: '합격량',
                name: 'inspPass'
            },
            {
                header: '불량량',
                name: 'inspFail'
            },
            {
                header: '대표불량명',
                name: 'failSpcf'
            }
        ],
        data: [
            {
                inspCd: '12312',
                inspDt: '감귤',
                matCd: 'ea',
                matName: '12312',
                inspCnt: '2',
                inspPass: '3',
                inspFail: '3',
                failSpcf: '부패'
            }
        ]
    });

</script>

</html>