<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.comm.bom.mapper.BomMapper">
	
	<!-- 제품BOM 목록 불러오기 -->
	<select id="getBomList" resultType="BomVO">
		SELECT *
		FROM BOM
		WHERE EDCTS_CD = #{edctsCd}
		ORDER BY BOM_SQ	
	</select>
	
	<!-- 저장 -->
	<update id="saveBom" parameterType="BomVO" statementType="CALLABLE">
		<![CDATA[{call proc_bom_save(#{bomCd}, #{bomSq}, #{edctsCd}, #{rscCd}, #{unit}, #{useCnt},  #{prcsCd}, #{remk})}]]>
	</update>
	
	<!-- 삭제 -->
	<delete id="delBom" parameterType="BomVO">
		DELETE FROM BOM
		WHERE EDCTS_CD = #{edctsCd}
	</delete>
</mapper>