<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.comm.ccds.mapper.CcdsMapper">

	<!-- 공통코드 리스트 -->
	<select id="ccdsList" resultType="CcdsVO">
		SELECT *
		FROM CCDS
		ORDER BY CCD
	</select>
	
	<!-- 공통코드 세부정보 -->
	<select id="ccdInfo" resultType="CcdsVO">
		SELECT *
		FROM CCDS
		WHERE CCD = #{ccd}
		ORDER BY CCD
	</select>
	
	<!-- 공통코드 검색 -->
	<select id="ccdsSelect" resultType="CcdsVO">
		SELECT *
		FROM CCDS e
		WHERE CCD_NM LIKE '%'||#{keyword}||'%'
	</select>
	
	<!-- 세부코드 리스트 -->
	<select id="getCodeList" resultType="CcdsVO">
		SELECT *
		  FROM CCDS_DTL
		 WHERE CCD = #{ccd}
		 ORDER BY CCD_DTL
	</select>
	
	<!-- 공통코드 등록 -->
	<insert id="ccdsInsert" parameterType="CcdsVO">
		INSERT INTO CCDS (CCD, CCD_NM, CCD_DESCT, USE_YN)
		VALUES ( #{ccd}, #{ccdNm}, #{ccdDesct}, #{useYn})
	</insert>
	
	<!-- 공통코드 수정 -->
	<update id="ccdsUpdate" parameterType="CcdsVO">
		UPDATE CCDS_DTL 
		<set>
			<if test="ccdNm != null">CCD_NM = #{ccdNm},</if>
			<if test="ccdDesct != null">CCD_DESCT = #{ccdDesct},</if>
			<if test="useYn != null">USE_YN = #{useYn},</if>
		</set>
		WHERE CCD = #{ccd}
	</update>
	
	<!-- 세부코드 등록 -->
	<insert id="ccdDtlInsert" parameterType="CcdsVO">
		INSERT INTO CCDS_DTL (CCD_DTL, CCD, CCD_DTL_NM, CCD_DTL_DESCT, DTL_USE_YN)
		VALUES ( #{ccdDtl}, #{ccd}, #{ccdDtlNm}, #{ccdDtlDesct}, #{dtlUseYn})
	</insert>
	
	<!-- 세부코드 수정 -->
	<update id="ccdDtlUpdate" parameterType="CcdsVO">
		UPDATE CCDS_DTL 
		<set>
			<if test="ccdDtlNm != null">CCD_DTL_NM = #{ccdDtlNm},</if>
			<if test="ccdDtlDesct != null">CCD_DTL_DESCT = #{ccdDtlDesct},</if>
			<if test="dtlUseYn != null">DTL_USE_YN = #{dtlUseYn},</if>
		</set>
		WHERE CCD_DTL = #{ccdDtl}
	</update>
</mapper>