<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.comm.edcts.mapper.EdctsmMapper">

	<select id="getEdctsList" resultType="EdctsmVO">
		SELECT * 
		FROM vw_edcts
		WHERE 1=1
		<if test="edctsCd != null and edctsCd !=''">and EDCTS_CD = #{edctsCd}</if>
		<if test="prdtNm != null and prdtNm !=''">and PRDT_NM LIKE '%'||#{prdtNm}||'%'</if>
		<if test="wrhousCd != null and wrhousCd !=''">and WRHOUS_CD LIKE '%'||#{wrhousCd}||'%'</if>
	</select>
	
	<!-- 제품 등록,수정 -->
	<update id="saveEdcts" parameterType="EdctsmVO" statementType="CALLABLE">
  	<![CDATA[{call proc_edcts_save(#{edctsCd}, #{prdtNm}, #{spec}, #{unit}, #{safStc}, #{wrhousCd})}]]>
	</update>
	
	<!-- 제품 삭제 -->
	<delete id="delEdcts" parameterType="EdctsmVO">
			DELETE FROM EDCTS
			WHERE EDCTS_CD = #{edctsCd}
	</delete>
	
</mapper>