<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>자재입고관리</title>
    <style>
        tr {
            height: 50px;
        }
    </style>
</head>

<body>
<th:block layout:fragment="main">
    <div class="container-fluid px-4">
        <h1 class="mt-2">자재입고관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">> 자재관리</li>
            <li class="breadcrumb-item active">> 자재입고관리</li>
        </ol>
        <div class="card">
            <div class="card-body">
                <div style="display: inline-block; margin: auto 0; float: right">
                    <button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
                    <button class="btn btn-primary" id="modiBtn"><i class="fa fa-edit"></i> 수정</button>
                    <button class="btn btn-primary" id="reloadBtn"><i class="fas fa-file"></i> 새자료</button>
                </div>
                <form id="getIstListFrm">

                    <table>
                        <colgroup>
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                        </colgroup>
                        <tr>
                            <th>
                                <b>입고일자</b>
                            </th>
                            <td>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input type="text" id="istDt" name="istDt" aria-label="Date-Time"
                                           class="form-control">
                                    <span class="tui-ico-date"></span>
                                </div>
                                <div id="wrapper" style="margin-top: -1px;"></div>
                            </td>
                        </tr>
                    </table>
                    <hr>
                    <table style="vertical-align : middle;">
                        <colgroup>
                            <col style="width: 80px;">
                            <col style="width: 350px;">
                            <col style="width: 10px;">
                            <col style="width: 100px;">
                        </colgroup>

                        <tr>
                            <th>
                                <label for="vendNm"><b>업체명</b></label>
                            </th>
                            <td>
                                <input id="vendNm" type="text" class="form-control" placeholder="검색버튼을 이용하세요"
                                       style="width: 300px;" required
                                       readonly>
                                <input id="vendCd" type="hidden" name="vendCd">
                                <button id="modalBtn" type="button" class="btn btn-primary"><i
                                        class="fas fa-search"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <b>검사자료</b>
                            </th>
                            <td>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input id="startpicker-input" class="form-control" type="text" aria-label="Date"
                                           name="startDt">
                                    <span class="tui-ico-date"></span>
                                    <div id="startpicker-container" style="margin-left: -1px;"></div>
                                </div>
                                <span></span>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input id="endpicker-input" class="form-control" type="text" aria-label="Date"
                                           name="endDt">
                                    <span class="tui-ico-date"></span>
                                    <div id="endpicker-container" style="margin-left: -1px;"></div>
                                </div>
                            </td>
                            <th></th>
                            <td>
                                <input id="getInspList" type="button" class="btn btn-primary" value="가져오기"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="linelist" style="float: right;">
                    <button class="btn btn-primary" id="delRow"><i class="fas fa-minus"></i> 삭제</button>
                </div>
                <br><br>
                <div id="grid"></div>
            </div>
        </div>
    </div>


    <!-- Modal for vend search -->
    <div class="modal fade" id="vendModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">업체검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="vendSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="vendNm" class="form-control" placeholder="업체명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="vendSch" class="btn btn-primary" type="button" style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="vendCd" class="form-control" placeholder="업체코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="vend-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for resource search -->
    <div class="modal fade" id="rscModal" tabindex="-1" aria-labelledby="rscModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">자재검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="rscSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="rscNmInMod" name="rscNm" class="form-control"
                                           placeholder="자재명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="rscSch" class="btn btn-primary" type="button" style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="rscCdInMod" name="rscCd" class="form-control"
                                           placeholder="자재코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="rsc-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for mdfy -->
    <div class="modal fade" id="mdfyModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">자재검색</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table>
                        <colgroup>
                            <col style="width: 380px;">
                            <col style="width: 60px;">
                        </colgroup>
                        <tbody>
                        <tr style="height: 25px;">
                            <th>
                                <b>검색기간</b>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <form id="dateRngFrm">
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                         style="height: 40px; border-radius: 5px;">
                                        <input id="startpicker-input-mdfy" class="form-control" type="text"
                                               aria-label="Date"
                                               name="startDt">
                                        <span class="tui-ico-date"></span>
                                        <div id="startpicker-container-mdfy" style="margin-left: -1px;"></div>
                                    </div>
                                    <span></span>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                         style="height: 40px; border-radius: 5px;">
                                        <input id="endpicker-input-mdfy" class="form-control" type="text"
                                               aria-label="Date"
                                               name="endDt">
                                        <span class="tui-ico-date"></span>
                                        <div id="endpicker-container-mdfy" style="margin-left: -1px;"></div>
                                    </div>
                                </form>
                            </td>
                            <td>
                                <input id="schByDateRng" class="btn btn-primary" type="button" value="검색"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <div id="mdfy-grid"></div>
                    <p>선택 : 더블클릭</p>
                </div>
            </div>
        </div>
    </div>

    <script>
        ///////////////////////////// !init ////////////////////////////////
        window.addEventListener('load', function () {
            getVendListInit()
            getRscIstHistList()
        })

        let delRow = document.getElementById('delRow')
        let istDt = document.getElementById('istDt')

        let saveFlag = 0 // 0 : 저장, 1 : 수정저장
        ///////////////////////////// !date picker ////////////////////////////////
        // range date picker
        let today = new Date();
        let rangepicker = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input',
                container: '#startpicker-container'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input',
                container: '#endpicker-container'
            }
        });

        let rangepickerMdfy = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input-mdfy',
                container: '#startpicker-container-mdfy'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input-mdfy',
                container: '#endpicker-container-mdfy'
            }
        });

        // ist date picker
        let datepicker = new tui.DatePicker('#wrapper', {
            date: today,
            input: {
                element: '#istDt',
                format: 'yyyy-MM-dd'
            }
        });

        ///////////////////////////////// !main grid ///////////////////////////////
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            bodyHeight: 380,
            scrollX: false,
            scrollY: true,
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd',
                    align: 'center'
                },
                {
                    header: '품명',
                    name: 'rscNm',
                    align: 'center'
                },
                {
                    header: '규격',
                    name: 'rscSpec',
                    align: 'center'
                },
                {
                    header: '단위',
                    name: 'mngUnit',
                    align: 'center'
                },
                {
                    header: '자재유형',
                    name: 'rscTyp',
                    align: 'center'
                },
                {
                    header: '발주번호',
                    name: 'ordrCd',
                    align: 'center'
                },
                {
                    header: '입고가능수량',
                    name: 'passRmnCnt',
                    align: 'right'
                },
                {
                    header: '입고수량',
                    name: 'lotCnt',
                    editor: 'text',
                    align: 'right',
                    validation: {
                        dataType: 'number',
                        required: true
                    },
                },
                {
                    header: '유통기한',
                    name: 'expDt',
                    editor: {
                        type: 'datePicker',
                        options: {
                            format: 'yyyy-MM-dd'
                        }
                    },
                    align: 'center',
                    validation: {
                        dataType: 'date',
                        required: true
                    },
                }
            ]
            , editingEvent: 'click'
        });

        grid.on('editingStart', (ev) => {
            grid.check(ev.rowKey);
        })

        ///////////////////////////// !vendor ////////////////////////////////
        // vendor modal grid section
        let vendGrid = new tui.Grid({
            el: document.getElementById('vend-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '업체코드',
                    name: 'vendCd',
                    align: 'center'
                },
                {
                    header: '업체이름',
                    name: 'vendNm',
                    align: 'center'
                },
                {
                    header: '사업자번호',
                    name: 'bizno',
                    align: 'center'
                },
                {
                    header: '전화번호',
                    name: 'telno',
                    align: 'center'
                }
            ]
            , editingEvent: 'click'
        })

        // declare vendor modal
        let vModal;
        modalBtn.addEventListener('click', function () {
            vModal = new bootstrap.Modal(document.getElementById('vendModal'), {})
            vModal.show('vendModal');
        })

        // when vendor modal shown => refresh
        let vendModal = document.getElementById('vendModal');
        vendModal.addEventListener('shown.bs.modal', e => {
            vendGrid.refreshLayout();
        })

        // search vendors
        let vendSch = document.getElementById('vendSch');
        vendSch.addEventListener('click', function () {
            let data = new FormData(vendSchForm);
            let url = 'getVendors'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                vendGrid.innerHTML = '';
                vendGrid.resetData(res);
            })
        });

        // action in vendor modal
        vendGrid.on('dblclick', e => {
            let rowInfo = vendGrid.getRow(e.rowKey)
            vendNm.value = rowInfo.vendNm;
            vendCd.value = rowInfo.vendCd;
            vModal.hide(vendModal);
        })

        // get vendor grid data
        function getVendListInit() {
            let url = 'getVendors'
            fetch(url).then(res => res.json())
                .then(res => vendGrid.resetData(res))
        }

        ///////////////////////////// !get main grid data ////////////////////////////////
        let getInspList = document.getElementById('getInspList');
        getInspList.addEventListener('click', getRscInspHist)

        function getRscInspHist() {
            saveFlag = 0;
            let startDt = document.getElementById('startpicker-input');
            let endDt = document.getElementById('endpicker-input');
            let vendCd = document.getElementById('vendCd');

            if (startDt.value === '' || endDt.value === '') {
                alert('기간을 입력하세요')
                // } else if (vendCd.value === '') {
                //     alert('공급업체를 입력하세요')
            } else {
                let data = new FormData(getIstListFrm)
                let url = 'getRscInspHist';
                fetch(url, {
                    method: 'POST',
                    body: data
                })
                    .then(res => res.json())
                    .then(res => {
                        grid.resetData(res)
                        grid.uncheck(grid.getRowCount());
                    })
            }
        }

        ///////////////////////////// !save main grid data ////////////////////////////////
        saveBtn.addEventListener('click', function () {
            let data = grid.getCheckedRows();
            if (saveFlag == 0) {
                data[0].istDt = istDt.value;
                let url = 'setRscIstLot'
                fetch(url, {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify(data)
                }).then(res => {
                    getRscInspHist();
                })
            } else {
                let url = 'updRscIstHist'
                fetch(url, {
                    headers: {'Content-Type': 'application/json'},
                    method: 'POST',
                    body: JSON.stringify(data)
                })
            }

        });

        ////////////////////////////// delelte row ////////////////////////////
        delRow.addEventListener('click', function () {
            let rowKeys = grid.getCheckedRowKeys()
            grid.removeRows(rowKeys)
        })

        ////////////////////////////// mdfy /////////////////////////////////////
        let mModal;
        modiBtn.addEventListener('click', function () {
            mModal = new bootstrap.Modal(document.getElementById('mdfyModal'), {})
            mModal.show('mdfyModal');
        })

        // modal cation
        let mdfyModal = document.getElementById('mdfyModal');
        mdfyModal.addEventListener('shown.bs.modal', e => {
            mdfyGrid.refreshLayout();
        })

        // search grid
        let mdfyGrid = new tui.Grid({
            el: document.getElementById('mdfy-grid'),
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '입고코드',
                    name: 'rscIstCd',
                    align: 'center'
                },
                {
                    header: '건수',
                    name: 'istCnt',
                    align: 'center'
                },
                {
                    header: '입고일자',
                    name: 'istDt',
                    align: 'center'
                }
            ]
            , editingEvent: 'click'
        })

        let schByDateRng = document.getElementById('schByDateRng');
        schByDateRng.addEventListener('click', getRscIstHistList)

        function getRscIstHistList() {
            let url = 'getRscIstHistList'
            let data = new FormData(dateRngFrm)
            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                mdfyGrid.resetData(res);
            })
        }

        mdfyGrid.on('dblclick', e => {
            let data = mdfyGrid.getRow(e.rowKey);
            getRscIstHistMdfy(data)
            mModal.hide(mdfyModal);
            grid.hideColumn('expDt')
            saveFlag = 1;
        })

        function getRscIstHistMdfy(data) {
            let url = 'getRscIstHistMdfy'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.resetData(res);
            })
        }

        //////////////////////////// referesh btn //////////////////////////////////
        reloadBtn.addEventListener('click', e => {
            location.reload();
        })

        ///////////////////////////// action on grid ////////////////////////////////
        let gridEle = document.getElementById('grid')
        gridEle.addEventListener('mouseleave', function () {
            grid.finishEditing();
        })

        let venGridEl = document.getElementById('vend-grid')
        venGridEl.addEventListener('mouseleave', function () {
            vendGrid.finishEditing();
        })

        let mdfyGridEl = document.getElementById('mdfy-grid')
        mdfyGridEl.addEventListener('mouseleave', function () {
            mdfyGrid.finishEditing();
        })

    </script>
</th:block>
</body>
</html>