<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <style>
        tr {
            height: 50px;
        }

        .layout {
            width: 1628px;
            height: 750px;

            display: grid;
            grid:
                    "header header header" 85px
                    "sub sub sub" 85px
                    "body body rightside" auto
                    / auto auto 350px;
            gap: 8px;
        }

        .header {
            grid-area: header;
        }

        .sub {
            grid-area: sub;
        }

        .rightside {
            grid-area: rightside;
        }

        .body {
            grid-area: body;
        }
    </style>
</head>

<body>
<th:block layout:fragment="main">
    <div class="container-fluid px-4">
        <h1 class="mt-4">자재입고관리</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">> 자재관리</li>
            <li class="breadcrumb-item active">> 자재입고관리</li>
        </ol>
        <section class="layout">
            <div class="header">
                <div class="card">
                    <div class="card-body">
                        <div style="display: inline-block; margin: auto 0; float: right">
                            <button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
                            <button class="btn btn-primary" id="reloadBtn"><i class="fas fa-file"></i> 새자료</button>
                        </div>


                        <table style="vertical-align : middle; text-align: center">
                            <colgroup>
                                <col style="width: 120px">
                                <col style="width: 30px">
                                <col style="width: 80px">
                                <col style="width: 180px">
                                <col style="width: 20px">
                                <col style="width: 80px">
                                <col style="width: 180px">
                            </colgroup>
                            <tbody>
                            <tr>
                                <th>
                                    <b>입고등록</b>
                                </th>
                                <td></td>
                                <th>
                                    <b>입고일자</b>
                                </th>
                                <td>
                                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                         style="height: 40px; border-radius: 5px;">
                                        <input type="text" id="istDt" aria-label="Date-Time" class="form-control">
                                        <span class="tui-ico-date"></span>
                                    </div>
                                    <div id="wrapper" style="margin-top: -1px;"></div>
                                </td>
                                <td></td>
                                <th>
                                    <b>입고유형</b>
                                </th>
                                <td>
                                    <input type="text" id="istTyp" class="form-control" style="width: 168px;">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="sub">
                <div class="card">
                    <div class="card-body">
                        <form id="getIstListFrm">
                            <input type="hidden" name="from" value="ist">
                            <table style="vertical-align : middle; text-align: center">
                                <colgroup>
                                    <col style="width: 120px">
                                    <col style="width: 30px">
                                    <col style="width: 80px">
                                    <col style="width: 250px">
                                    <col style="width: 20px">
                                    <col style="width: 100px">
                                    <col style="width: 350px">
                                </colgroup>
                                <tr>
                                    <th>
                                        <b>검사자료 조회</b>
                                    </th>
                                    <td></td>
                                    <th>
                                        <label for="vendNm"><b>업체명</b></label>
                                    </th>
                                    <td>
                                        <input id="vendNm" type="text" class="form-control" placeholder="검색버튼을 이용하세요"
                                               style="width: 200px;" required
                                               readonly>
                                        <input id="vendCd" type="hidden" name="vendCd">
                                        <button id="modalBtn" type="button" class="btn btn-primary"><i
                                                class="fas fa-search"></i></button>
                                    </td>
                                    <td></td>
                                    <th>
                                        <b>검사자료</b>
                                    </th>
                                    <td>
                                        <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                             style="height: 40px; border-radius: 5px;">
                                            <input id="startpicker-input" class="form-control" type="text"
                                                   aria-label="Date"
                                                   name="startDt">
                                            <span class="tui-ico-date"></span>
                                            <div id="startpicker-container" style="margin-left: -1px;"></div>
                                        </div>
                                        <span></span>
                                        <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                             style="height: 40px; border-radius: 5px;">
                                            <input id="endpicker-input" class="form-control" type="text"
                                                   aria-label="Date"
                                                   name="endDt">
                                            <span class="tui-ico-date"></span>
                                            <div id="endpicker-container" style="margin-left: -1px;"></div>
                                        </div>
                                    </td>
                                    <th></th>
                                    <td>
                                        <input id="getInspList" type="button" class="btn btn-primary" value="가져오기"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </div>
                </div>
            </div>

            <div class="body">
                <div class="card">
                    <div class="card-body">
                        <div class="linelist" style="float: right;">
                            <button class="btn btn-primary" id="delRow" style="height: 30px"><i class="fas fa-minus"></i> 삭제</button>
                        </div>
                        <br><br>
                        <div id="grid"></div>
                    </div>
                </div>
            </div>

            <div class="rightside">
                <div class="card">
                    <div class="card-body">
                        <b>입고목록</b>
                        <br><br>
                        <div id="mdfy-grid"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>


    <!-- Modal for vend search -->
    <div class="modal fade" id="vendModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">업체검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="vendSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="vendNm" class="form-control" placeholder="업체명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="vendSch" class="btn btn-primary" type="button"
                                            style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="vendCd" class="form-control" placeholder="업체코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="vend-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for resource search -->
    <div class="modal fade" id="rscModal" tabindex="-1" aria-labelledby="rscModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">자재검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="rscSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="rscNmInMod" name="rscNm" class="form-control"
                                           placeholder="자재명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="rscSch" class="btn btn-primary" type="button"
                                            style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="rscCdInMod" name="rscCd" class="form-control"
                                           placeholder="자재코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="rsc-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <script>
        ///////////////////////////// !init ////////////////////////////////
        window.addEventListener('load', function () {
            getVendListInit()
            getRscIstHistList()
        })

        let delRow = document.getElementById('delRow')
        let istDt = document.getElementById('istDt')

        let saveFlag = 0 // 0 : 저장, 1 : 수정저장
        ///////////////////////////// !date picker ////////////////////////////////
        // range date picker
        let today = new Date();
        let rangepicker = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input',
                container: '#startpicker-container'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input',
                container: '#endpicker-container'
            }
        });

        // ist date picker
        let datepicker = new tui.DatePicker('#wrapper', {
            date: today,
            input: {
                element: '#istDt',
                format: 'yyyy-MM-dd'
            }
        });

        ///////////////////////////////// !main grid ///////////////////////////////
        class istCntInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                this.el.value = '';
                return this.el;
            }

            getValue() {
                let val = this.el.value.replace(/[^0-9]/g, '')
                return val;
            }

            mounted() {
                this.el.select();
            }
        }

        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            bodyHeight: 450,
            scrollX: false,
            scrollY: true,
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd',
                    align: 'center',
                    sortingType: 'asc',
                    sortable: true
                },
                {
                    header: '품명',
                    name: 'rscNm',
                    align: 'center',
                    sortingType: 'asc',
                    sortable: true
                },
                {
                    header: '규격',
                    name: 'rscSpec',
                    align: 'center'
                },
                {
                    header: '단위',
                    name: 'mngUnit',
                    align: 'center'
                },
                {
                    header: '자재유형',
                    name: 'rscTyp',
                    align: 'center'
                },
                {
                    header: '발주번호',
                    name: 'ordrCd',
                    align: 'center'
                },
                {
                    header: '입고가능수량',
                    name: 'passRmnCnt',
                    align: 'right'
                },
                {
                    header: '입고수량',
                    name: 'lotCnt',
                    editor: istCntInput,
                    align: 'right',
                    validation: {
                        dataType: 'number',
                        required: true
                    },
                },
                {
                    header: '유통기한',
                    name: 'expDt',
                    editor: {
                        type: 'datePicker'
                    },
                    align: 'center',
                    validation: {
                        dataType: 'date',
                        required: true
                    },
                }
            ]
            , editingEvent: 'click'
        });

        let gridOption = {
            row: {
                hover: {background: 'rgba(19,78,94,0.2)'}
            }
        }
        tui.Grid.applyTheme('default', gridOption);

        ///////////////////////////// !vendor ////////////////////////////////
        // vendor modal grid section
        let vendGrid = new tui.Grid({
            el: document.getElementById('vend-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '업체코드',
                    name: 'vendCd',
                    align: 'center'
                },
                {
                    header: '업체이름',
                    name: 'vendNm',
                    align: 'center'
                },
                {
                    header: '사업자번호',
                    name: 'bizno',
                    align: 'center'
                },
                {
                    header: '전화번호',
                    name: 'telno',
                    align: 'center'
                }
            ]
            , editingEvent: 'click'
        })

        // declare vendor modal
        let vModal;
        modalBtn.addEventListener('click', function () {
            vModal = new bootstrap.Modal(document.getElementById('vendModal'), {})
            vModal.show('vendModal');
        })

        // when vendor modal shown => refresh
        let vendModal = document.getElementById('vendModal');
        vendModal.addEventListener('shown.bs.modal', e => {
            vendGrid.refreshLayout();
        })

        // search vendors
        let vendSch = document.getElementById('vendSch');
        vendSch.addEventListener('click', function () {
            let data = new FormData(vendSchForm);
            let url = 'getVendors'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                vendGrid.innerHTML = '';
                vendGrid.resetData(res);
            })
        });

        // action in vendor modal
        vendGrid.on('dblclick', e => {
            let rowInfo = vendGrid.getRow(e.rowKey)
            vendNm.value = rowInfo.vendNm;
            vendCd.value = rowInfo.vendCd;
            vModal.hide(vendModal);
        })

        // get vendor grid data
        function getVendListInit() {
            let url = 'getVendors'
            fetch(url).then(res => res.json())
                .then(res => vendGrid.resetData(res))
        }

        ///////////////////////////// !get main grid data ////////////////////////////////
        let getInspList = document.getElementById('getInspList');
        getInspList.addEventListener('click', getRscInspHist)

        function getRscInspHist() {
            saveFlag = 0;
            grid.showColumn('expDt');
            let startDt = document.getElementById('startpicker-input');
            let endDt = document.getElementById('endpicker-input');

            if (startDt.value === '' || endDt.value === '') {
                alert('기간을 입력하세요')
            } else {
                let data = new FormData(getIstListFrm)
                let url = 'getRscInspHist';
                fetch(url, {
                    method: 'POST',
                    body: data
                })
                    .then(res => res.json())
                    .then(res => {
                        grid.resetData(res)
                        grid.uncheck(grid.getRowCount());
                    })
            }
        }

        ///////////////////////////// !save main grid data ////////////////////////////////
        saveBtn.addEventListener('click', function () {
            let gridVal = grid.getCheckedRows();
            let test = validVal(gridVal)
            if (test === 0 ) {
                if (saveFlag === 0) {
                    setRscIstLot(gridVal)
                } else {
                    updRscIstHist(gridVal)
                }
            } else {
                toastr.error('비어있는 항목이 있습니다.');
            }
        });

        function validVal(val) {
            let errCnt = 0;
            val.forEach(el => {
                if (el.lotCnt == null) {
                    errCnt++;
                } else if (el.expDt == null) {
                    errCnt++;
                }
            })
            return errCnt;
        }

        function setRscIstLot(data) {
            data[0].istDt = istDt.value;
            let url = 'setRscIstLot'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => {
                getRscIstHistList()
                getRscInspHist()
                toastr.success('저장이 완료되었습니다.')
            })
        }

        function updRscIstHist(data) {
            let url = 'updRscIstHist'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => {
                if (res.ok) {
                    toastr.success('수정이 완료되었습니다.')
                } else {
                    toastr.error('입고가능수량을 초과했습니다.')
                }
                saveFlag === 0;
                grid.clear();
            })
        }

        ////////////////////////////// delelte row ////////////////////////////
        delRow.addEventListener('click', function () {
            let rowKeys = grid.getCheckedRowKeys()
            grid.removeRows(rowKeys)
        })

        ////////////////////////////// mdfy /////////////////////////////////////
        // search grid
        let mdfyGrid = new tui.Grid({
            el: document.getElementById('mdfy-grid'),
            bodyHeight: 450,
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '입고코드',
                    name: 'rscIstCd',
                    align: 'center'
                },
                {
                    header: '입고일자',
                    name: 'istDt',
                    align: 'center'
                },
                {
                    header: '건수',
                    name: 'istCnt',
                    align: 'center',
                    width: 50
                }
            ]
            , editingEvent: 'click'
        })

        mdfyGrid.on('dblclick', e => {
            let data = mdfyGrid.getRow(e.rowKey);
            getRscIstHistMdfy(data)
            // grid.hideColumn('expDt')
            saveFlag = 1;
        })

        function getRscIstHistMdfy(data) {
            let url = 'getRscIstHistMdfy'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.resetData(res);
            })
        }

        function getRscIstHistList() {
            let url = 'getRscIstHistList'
            fetch(url, {
                method: 'POST'
            }).then(res => res.json()).then(res => {
                mdfyGrid.resetData(res);
            })
        }

        //////////////////////////// referesh btn //////////////////////////////////
        reloadBtn.addEventListener('click', e => {
            location.reload();
        })

        ///////////////////////////// action on grid ////////////////////////////////
        let gridEle = document.getElementById('grid')
        gridEle.addEventListener('mouseleave', function () {
            grid.finishEditing();
        })

        let venGridEl = document.getElementById('vend-grid')
        venGridEl.addEventListener('mouseleave', function () {
            vendGrid.finishEditing();
        })

        let mdfyGridEl = document.getElementById('mdfy-grid')
        mdfyGridEl.addEventListener('mouseleave', function () {
            mdfyGrid.finishEditing();
        })

        grid.on('afterChange', function (ev) {
            let changes = ev.changes
            changes.forEach(el => {
                grid.check(el.rowKey)
            })
        })

        ///////////////////////////////////// misc ///////////////////////////
        //셀 클릭시 로우 하이라이팅
        let gridKey = null;
        grid.on('click', ev => {
            if (gridKey !== ev.rowKey) {
                grid.removeRowClassName(gridKey, 'highlight');
            }
            gridKey = ev.rowKey
            grid.addRowClassName(gridKey, 'highlight')
        });

        let mdfyKey = null;
        mdfyGrid.on('click', ev => {
            if (mdfyKey !== ev.rowKey) {
                mdfyGrid.removeRowClassName(mdfyKey, 'highlight');
            }
            mdfyKey = ev.rowKey
            mdfyGrid.addRowClassName(mdfyKey, 'highlight')
        });

    </script>
</th:block>
</body>
</html>