<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>자재수입검사</title>
    <style>
        tr {
            height: 50px;
        }

        .inspBtn {
            border-width: 0.01em;
            border-radius: 5px;
            border-color: #4f5050;
            color: black;
            height: 25px;
        }
    </style>
</head>

<body>
<th:block layout:fragment="main">
    <div class="container-fluid px-4">
        <h1 class="mt-2">자재수입검사</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">> 자재관리</li>
            <li class="breadcrumb-item active">> 자재수입검사</li>
        </ol>
        <div class="card">
            <div class="card-body">
                <div style="display: inline-block; margin: auto 0; float: right">
                    <button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
                    <button class="btn btn-primary" id="modiBtn"><i class="fa fa-edit"></i> 수정</button>
                    <button class="btn btn-primary" id="reloadBtn"><i class="fas fa-file"></i> 새자료</button>
                </div>
                <form id="getInspListFrm">
                    <table style="vertical-align : middle;">
                        <colgroup>
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                <b>검사일자</b>
                            </th>
                            <td>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input type="text" id="inspDt" aria-label="Date-Time" class="form-control">
                                    <span class="tui-ico-date"></span>
                                </div>
                                <div id="wrapper" style="margin-top: -1px;"></div>
                            </td>
                            <th>
                                <b>검사자</b>
                            </th>
                            <td>
                                <input type="text" id="inspTstr" class="form-control" style="width: 168px;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <hr>
                    <table>
                        <colgroup>
                            <col style="width: 100px;">
                            <col style="width: 350px;">
                            <col style="width: 10px;">
                            <col style="width: 100px;">
                        </colgroup>
                        <tr>
                            <th>
                                <label for="vendNm"><b>업체명</b></label>
                            </th>
                            <td>
                                <input id="vendNm" type="text" class="form-control" placeholder="검색버튼을 이용하세요"
                                       style="width: 300px;" required
                                       readonly>
                                <input id="vendCd" type="hidden" name="vendCd">
                                <button id="modalBtn" type="button" class="btn btn-primary"><i
                                        class="fas fa-search"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <b>납기예정일</b>
                            </th>
                            <td>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input id="startpicker-input" class="form-control" type="text" aria-label="Date"
                                           name="startDt">
                                    <span class="tui-ico-date"></span>
                                    <div id="startpicker-container" style="margin-left: -1px;"></div>
                                </div>
                                <span></span>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input id="endpicker-input" class="form-control" type="text" aria-label="Date"
                                           name="endDt">
                                    <span class="tui-ico-date"></span>
                                    <div id="endpicker-container" style="margin-left: -1px;"></div>
                                </div>
                            </td>
                            <th></th>
                            <td>
                                <input id="getOrdrList" type="button" class="btn btn-primary" value="가져오기"/>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="linelist" style="float: right;">
                    <button class="btn btn-primary" id="addRow"><i class="fas fa-plus"></i> 추가</button>
                    <button class="btn btn-primary" id="delRow"><i class="fas fa-minus"></i> 삭제</button>
                </div>
                <br><br>
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="vendModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">업체검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="vendSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" name="vendNm" class="form-control" placeholder="업체명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="vendSch" class="btn btn-primary" type="button" style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" name="vendCd" class="form-control" placeholder="업체코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="vend-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- modification modal-->
    <div class="modal fade" id="modiModal" tabindex="-1" aria-labelledby="modiModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">검사자료 조회</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="inspDtRngFrm">
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="startpicker-input-mod" name="startDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="startpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                    <span></span>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="endpicker-input-mod" name="endDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="endpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                </form>
                <div class="modal-body">
                    <input id="inspHistSchBtn" type="button" value="검색"/>
                    <hr>
                    <div id="modi-grid"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for resource search -->
    <div class="modal fade" id="rscModal" tabindex="-1" aria-labelledby="rscModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">자재검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="rscSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="rscNmInMod" name="rscNm" class="form-control"
                                           placeholder="자재명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="rscSch" class="btn btn-primary" type="button" style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="rscCdInMod" name="rscCd" class="form-control"
                                           placeholder="자재코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="rsc-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!--inspection detail modal-->
    <div class="modal fade" id="infModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">검사상세</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="inf-grid"></div>
                    <br>
                    <div style="float: right">
                        <input type="button" id="calInfCnt" value="입력" class="btn btn-primary">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script>
        ///////////////////////////// !init ////////////////////////////////
        window.addEventListener('load', function () {
            getVendListInit();
            getRscListInit();
            getInfList();
        })

        let startDt = document.getElementById('startpicker-input');
        let endDt = document.getElementById('endpicker-input');
        let vendCd = document.getElementById('vendCd');
        let inspDt = document.getElementById('inspDt');
        let inspTstr = document.getElementById('inspTstr');

        let saveFlag = 0 // 0 : 저장, 1 : 수정저장
        ///////////////////////////// date picker ////////////////////////////////
        let today = new Date();
        let rangepicker = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input',
                container: '#startpicker-container'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input',
                container: '#endpicker-container'
            }
        });

        let rangepickerMdfy = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input-mod',
                container: '#startpicker-container-mod'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input-mod',
                container: '#endpicker-container-mod'
            }
        });

        let datepicker = new tui.DatePicker('#wrapper', {
            date: today,
            input: {
                element: '#inspDt',
                format: 'yyyy-MM-dd'
            }
        });

        ///////////////////////////// main grid ////////////////////////////////
        let rModal;
        let rscModalState = 0;

        class customInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                el.addEventListener('dblclick', function () {
                    rModal = new bootstrap.Modal(document.getElementById('rscModal'), {})
                    rModal.show('rscModal');
                    rscModal.dataset.rowKey = rowKey;
                    rscModalState = 1;
                })
                this.el = el;
            }

            getElement() {
                return this.el;
            }

            getValue() {
                if (rscModalState === 0) {
                    getRscSingle(this.el.value, this.rowKey)
                }
                return this.el.value;
            }

            mounted() {
                this.el.select();
            }
        }

        class inputPreIstCnt {
            constructor(props) {
                let el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey;
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                grid.check(this.rowKey);
                this.el.value = '';
                return this.el;
            }

            getValue() {
                let val = this.el.value.replace(/[^0-9]/g, '')
                grid.setValue(this.rowKey, 'inspCnt', val);
                grid.setValue(this.rowKey, 'inspPassCnt', val);
                grid.setValue(this.rowKey, 'inspFailCnt', 0);
                return val;
            }

            mounted() {
                this.el.select();
            }
        }

        class inputInspCnt {
            constructor(props) {
                let el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey;
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                grid.check(this.rowKey);
                this.el.value = ''
                return this.el;
            }

            getValue() {
                let val = this.el.value.replace(/[^0-9]/g, '')
                let preIstCnt = grid.getValue(this.rowKey, 'preIstCnt')
                if (parseInt(val) > parseInt(preIstCnt) || preIstCnt === '') {
                    alert('검사량이 입고량 보다 많습니다.');
                    grid.setValue(this.rowKey, 'inspPassCnt', '');
                    grid.setValue(this.rowKey, 'inspFailCnt', '');
                    return '';
                } else {
                    grid.setValue(this.rowKey, 'inspPassCnt', val);
                    grid.setValue(this.rowKey, 'inspFailCnt', 0);
                    if (val === '') {
                        return val;
                    } else {
                        return parseInt(val);
                    }
                }
            }

            mounted() {
                this.el.select();
            }
        }

        class inputFailCnt {
            constructor(props) {
                let el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey;
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                grid.check(this.rowKey);
                this.el.value = ''
                return this.el;
            }

            getValue() {
                let val = this.el.value.replace(/[^0-9]/g, '')
                let inspCnt = grid.getValue(this.rowKey, 'inspCnt')
                if (parseInt(val) > parseInt(inspCnt)) {
                    alert('불량수량은 검사량보다 클 수 없습니다.')
                } else {
                    let res = inspCnt - val;
                    grid.setValue(this.rowKey, 'inspPassCnt', res)
                    return val;
                }
            }

            mounted() {
                this.el.select();
            }
        }

        let iModal;

        class rscInfBtn {
            constructor(props) {
                let {rowKey, value} = props;
                let btn = document.createElement('button');
                let text = document.createTextNode(value);
                btn.appendChild(text);
                btn.innerHTML = '검사'
                btn.className = 'inspBtn';
                btn.addEventListener('click', function (e) {
                    let infDiv = document.getElementById('infModal');
                    infDiv.dataset.rowKey = rowKey;
                    iModal = new bootstrap.Modal(infDiv, {});
                    iModal.show('infModal');
                })
                this.el = btn;
            }

            getElement() {
                return this.el;
            }
        }

        // grid theme
        let gridOption = {
            row: {
                hover: {background: 'coral'}
            }
        }
        tui.Grid.applyTheme('default', gridOption);

        // main grid section
        let grid = new tui.Grid({
            el: document.getElementById('grid'),
            bodyHeight: 380,
            scrollX: false,
            scrollY: true,
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd',
                    editor: customInput,
                    align: 'center'
                },
                {
                    header: '품명',
                    name: 'rscNm',
                    align: 'center'
                },
                {
                    header: '규격',
                    name: 'rscSpec',
                    align: 'center'
                },
                {
                    header: '단위',
                    name: 'mngUnit',
                    align: 'center'
                },
                {
                    header: '공급업체',
                    name: 'vendNm',
                    align: 'center'
                },
                {
                    header: '발주번호',
                    name: 'ordrCd',
                    align: 'center'
                },
                {
                    header: '발주량',
                    name: 'ordrCnt',
                    validation: {
                        dataType: 'number'
                    },
                    align: 'right'
                },
                {
                    header: '미입고량',
                    name: 'rmnCnt',
                    validation: {
                        dataType: 'number'
                    },
                    align: 'right'
                },
                {
                    header: '가입고량',
                    name: 'preIstCnt',
                    validation: {
                        dataType: 'number',
                        required: true,
                        validatorFn: (value, row, ordrCnt) => Number(value) <= Number(row['ordrCnt'])
                    },
                    relations: [
                        {
                            targetNames: ['inspCnt'],
                            editable({value}) {
                                return value !== null;
                            }
                        }
                    ],
                    editor: {
                        type: inputPreIstCnt,
                        options: {
                            maxLength: 10
                        }
                    },
                    align: 'right'
                },
                {
                    header: '검사량',
                    name: 'inspCnt',
                    validation: {
                        dataType: 'number',
                        required: true,
                        validatorFn: (value, row, ordrCnt) => Number(value) <= Number(row['ordrCnt'])
                    },
                    editor: {
                        type: inputInspCnt,
                        options: {
                            maxLength: 10
                        }
                    },
                    align: 'right'
                },
                {
                    header: '검사',
                    name: 'rscInfBtn',
                    align: 'center',
                    renderer: {type: rscInfBtn},
                    width: 50
                },
                {
                    header: '합격량',
                    name: 'inspPassCnt',
                    validation: {
                        dataType: 'number',
                        required: true
                    },
                    align: 'right'
                },
                {
                    header: '불량수량',
                    name: 'inspFailCnt',
                    validation: {
                        dataType: 'number',
                        required: true
                    },
                    editor: {
                        type: inputFailCnt,
                        options: {
                            maxLength: 10
                        }
                    },
                    align: 'right'
                }
            ]
            , editingEvent: 'click'
        });

        grid.on('editingStart', (ev) => {
            grid.check(ev.rowKey);
            if (grid.getValue(ev.rowKey, 'ordrCd') != null
                && grid.getValue(ev.rowKey, 'ordrCd') !== '') {
                if (ev.columnName === 'rscCd') {
                    ev.stop();
                }
            }
        })

        ///////////////////////////// vendor ////////////////////////////////
        // declare vendor modal
        let vModal
        modalBtn.addEventListener('click', function () {
            vModal = new bootstrap.Modal(document.getElementById('vendModal'), {})
            vModal.show('vendModal');
        })

        // when vendor modal shown
        let vendModal = document.getElementById('vendModal');
        vendModal.addEventListener('shown.bs.modal', e => {
            vendGrid.refreshLayout();
        })

        // vendor grid
        let vendGrid = new tui.Grid({
            el: document.getElementById('vend-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '업체코드',
                    name: 'vendCd'
                },
                {
                    header: '업체이름',
                    name: 'vendNm'
                },
                {
                    header: '사업자번호',
                    name: 'bizno'
                },
                {
                    header: '전화번호',
                    name: 'telno'
                }
            ]
        })

        // search vendors by keyword
        let vendSch = document.getElementById('vendSch');
        vendSch.addEventListener('click', function () {
            let data = new FormData(vendSchForm);
            let url = 'getVendors'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                vendGrid.innerHTML = '';
                vendGrid.resetData(res);
            })
        });

        // action in vendor modal
        vendGrid.on('dblclick', e => {
            let rowInfo = vendGrid.getRow(e.rowKey)
            let vendInfo = `${rowInfo.vendNm} - ${rowInfo.vendCd}`
            vendNm.value = vendInfo;
            vendCd.value = rowInfo.vendCd;
            vModal.hide(vendModal);
        })

        // get vendor grid data
        function getVendListInit() {
            let url = 'getVendors'
            fetch(url).then(res => res.json())
                .then(res => vendGrid.resetData(res))
        }

        ///////////////////////////// resource ////////////////////////////////
        // rsc grid
        let rscGrid = new tui.Grid({
            el: document.getElementById('rsc-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd'
                },
                {
                    header: '자재명',
                    name: 'rscNm'
                },
                {
                    header: '자재단위',
                    name: 'mngUnit'
                }
            ]
        })

        // when rsc modal shown => refresh
        let rscModal = document.getElementById('rscModal');
        rscModal.addEventListener('shown.bs.modal', e => {
            rscGrid.refreshLayout();
        })

        rscModal.addEventListener('hidden.bs.modal', e => {
            rscModalState = 0;
        })

        // search rsc
        let rscSch = document.getElementById('rscSch');
        rscSch.addEventListener('click', function () {
            let data = new FormData(rscSchForm);
            let url = 'getResources'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                rscGrid.innerHTML = '';
                rscGrid.resetData(res);
            })
        });

        // action in rsc modal
        rscGrid.on('dblclick', e => {
            grid.finishEditing();
            let info = rscGrid.getRow(e.rowKey);
            getRscSingle(info.rscCd, rscModal.dataset.rowKey);
            rModal.hide(rscModal);
        })

        // get rsc grid data
        function getRscListInit() {
            let url = 'getResources'
            fetch(url).then(res => res.json())
                .then(res => rscGrid.resetData(res))
        }

        function getRscSingle(val, rowKey) {
            let url = 'getRscSingle'
            let data = {rscCd: val}
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.setRow(rowKey, res)
            }).catch(err => {
                toastr.error('해당하는 자재가 없습니다.');
            })
        }

        //////////////////////////////// inspection detail /////////////////////////
        ///////////////////////////// inferior rsc ////////////////////////////////
        class inputInferCnt {
            constructor(props) {
                const el = document.createElement('input');
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                this.el.value = '';
                return this.el;
            }

            getValue() {
                let val = this.el.value.replace(/[^0-9]/g, '')
                if (val === '') {
                    return val;
                } else {
                    return parseInt(val);
                }
            }

            mounted() {
                this.el.select();
            }
        }

        let infGrid = new tui.Grid({
            el: document.getElementById('inf-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '불량코드',
                    name: 'ccdDtl',
                    align: 'center'
                },
                {
                    header: '불량명',
                    name: 'ccdDtlNm',
                    align: 'center'
                },
                {
                    header: '불량수량',
                    name: 'infCnt',
                    editor: {
                        type: inputInferCnt,
                        options: {
                            maxLength: 10
                        }
                    },
                    align: 'center'
                }
            ]
        })

        let infData = new Map();
        let infModal = document.getElementById('infModal');

        infModal.addEventListener('shown.bs.modal', e => {
            let rowKey = infModal.dataset.rowKey;
            let data = infData.get(rowKey)
            if (data === undefined) { // initiate
                infGrid.setColumnValues('infCnt', '')
            } else if(data.length != 0) {
                infGrid.resetData(data)
            } else {
                infGrid.setColumnValues('infCnt', '')
            }
            infGrid.refreshLayout();
        })

        infModal.addEventListener('hidden.bs.modal', e => {
            let rowKey = infModal.dataset.rowKey;
            let data = infGrid.getData();
            infData.set(rowKey, data);
            infGrid.refreshLayout();
        })

        let calInfCnt = document.getElementById('calInfCnt');
        calInfCnt.addEventListener('click', function () {
            let rowKey = infModal.dataset.rowKey;
            let colVal = infGrid.getColumnValues('infCnt')
            let infSum = colVal.reduce((a, b) => (a + b));
            let inspCnt = grid.getValue(rowKey, 'inspCnt')

            if (infSum > parseInt(inspCnt)) {
                alert("불량수량이 검사량 보다 많습니다.")
            } else {
                grid.setValue(rowKey, 'inspPassCnt', (inspCnt - infSum))
                grid.setValue(rowKey, 'inspFailCnt', infSum)
            }
            iModal.hide(infModal);
        })

        function getInfList() {
            let url = 'getInfCdList'
            fetch(url).then(res => res.json())
                .then(res => {
                    infGrid.resetData(res)
                });
        }

        ///////////////////////////// get ordr list ////////////////////////////////
        // get order list
        let getOrdrListBtn = document.getElementById('getOrdrList');
        getOrdrListBtn.addEventListener('click', getOrdrList);

        function getOrdrList() {
            // initiate inf list
            infData.clear();
            getInfList();

            // init conditions
            saveFlag = 0;
            grid.showColumn('rmnCnt');

            if (startDt.value === '' || endDt.value === '') {
                alert('기간을 입력하세요')
                // } else if (vendCd.value === '') {
                //     alert('공급업체를 입력하세요')
            } else {
                let data = new FormData(getInspListFrm)
                let url = 'getRscOrdrList';
                fetch(url, {
                    method: 'POST',
                    body: data
                })
                    .then(res => res.json())
                    .then(res => grid.resetData(res))
            }
        }

        ///////////////////////////// insert or update inspection result /////////////////
        let saveBtn = document.getElementById('saveBtn')
        saveBtn.addEventListener('click', function () {
            let gridVal = grid.getCheckedRows();
            gridVal.forEach(el => {
                let rowKey = el.rowKey.toString();
                el.rscInfList = infData.get(rowKey)
            })
            if (saveFlag === 0) {
                gridVal[0].inspDt = inspDt.value;
                gridVal[0].inspTstr = inspTstr.value;
                setRscInspList(gridVal);
            } else {
                updRscInspHist(gridVal);
            }
        })

        function setRscInspList(data) {
            let url = 'setRscInspList';
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => {
                getOrdrList();
            })
        }

        function updRscInspHist(data) {
            let url = 'updRscInspHist';
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            })
        }


        /////////////////////////// inspection history  ////////////////////////////////////
        ///////////////////////////// modify and delete ////////////////////////////////
        // search grid
        let mdfyGrid = new tui.Grid({
            el: document.getElementById('modi-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '검사일자',
                    name: 'inspDt',
                    align: 'center'
                },
                {
                    header: '건수',
                    name: 'inspCnt',
                    align: 'center'
                },
                {
                    header: '검사코드',
                    name: 'rscInspCd',
                    align: 'center'
                }
            ]
        })

        // declare modal
        let mModal;
        modiBtn.addEventListener('click', function () {
            mModal = new bootstrap.Modal(document.getElementById('modiModal'), {})
            mModal.show('modiModal');
        })

        let modiModal = document.getElementById('modiModal');
        modiModal.addEventListener('shown.bs.modal', e => {
            mdfyGrid.refreshLayout();
        })

        // search by date range
        let inspHistSchBtn = document.getElementById('inspHistSchBtn')
        inspHistSchBtn.addEventListener('click', function () {
            let data = new FormData(inspDtRngFrm);
            let url = 'schRscInspHist'
            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                mdfyGrid.resetData(res);
            })
        });

        // select
        mdfyGrid.on('dblclick', e => {
            let rowInfo = mdfyGrid.getRow(e.rowKey)
            let url = 'getRscInspHistByCd'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(rowInfo)
            }).then(res => res.json()).then(res => {
                grid.hideColumn('rmnCnt')

                // initiate inf grid
                infData.clear();
                getInfList();

                // set main grid
                grid.resetData(res);

                // set inf grid
                res.forEach(function (el, idx) {
                    infData.set(idx.toString(), el.rscInfList);
                })
            })
            saveFlag = 1;
            mModal.hide(modiModal);

        })


        ///////////////////////////// action on grid ////////////////////////////////
        let gridEle = document.getElementById('grid')
        gridEle.addEventListener('mouseleave', function () {
            grid.finishEditing();
        })

        ////////////////////////////// add & delelte row ////////////////////////////
        addRow.addEventListener('click', function () {
            grid.appendRow()
        })

        delRow.addEventListener('click', function () {
            let rowKeys = grid.getCheckedRowKeys()
            grid.removeRows(rowKeys)
        })

        //////////////////////////// referesh btn //////////////////////////////////
        reloadBtn.addEventListener('click', e => {
            location.reload();
        })
    </script>
</th:block>
</body>
</html>