<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="vendSchForm">
    <body>
    <form id="vendSchForm">
        <label>업체명
            <input type="text" name="vendNm" style="width:100px;">
        </label>
        <label>업체코드
            <input type="text" name="vendCd" style="width:100px;">
        </label>
        <input id="vendSch" type="button" value="검색">
    </form>
    <div id="modalGrid">
        <table>
            <thead>
            <th>업체코드</th>
            <th>업체명</th>
            <th>사업자번호</th>
            <th>전화번호</th>
            </thead>
            <tbody th:fragment="vendList" id="vendList">
            <tr th:each="vend : ${vendors}" th:class="vendTr">
                <td th:text="${vend.vendCd}"></td>
                <td th:text="${vend.vendNm}"></td>
                <td th:text="${vend.bizno}"></td>
                <td th:text="${vend.telno}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    </body>
<script>
    let vendSch = document.getElementById('vendSch');
    vendSch.addEventListener('click', function () {
        let url = 'vendSch';
        fetch(url, {
            method: 'POST',
            body: new FormData(vendSchForm)
        })
            .then(res => res.text())
            .then(res => {
                document.getElementById('vendList').innerHTML = res;
            })
            .then(res => {
                let vendTr = document.querySelector('.vendTr');
                vendTr.addEventListener('click', function () {

                })
            })
    })
</script>
</th:block>

</html>