<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>원자재출고관리</title>
    <style>
        tr {
            height: 50px;
        }
    </style>
</head>

<body>
<th:block layout:fragment="main">
    <div class="container-fluid px-4">
        <h2 class="mt-2">원자재출고관리</h2>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
            <li class="breadcrumb-item">> 자재관리</li>
            <li class="breadcrumb-item active">> 원자재출고관리</li>
        </ol>
        <div class="card">
            <div class="card-body">
                <div style="display: inline-block; margin: auto 0; float: right">
                    <button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
                    <button class="btn btn-primary" id="modiBtn"><i class="fa fa-edit"></i> 수정</button>
                    <button class="btn btn-primary" id="reloadBtn"><i class="fas fa-file"></i> 새자료</button>
                </div>
                <form id="setOustFrm">
                    <table style="vertical-align : middle;">
                        <colgroup>
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                            <col style="width: 80px;">
                            <col style="width: 200px;">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th>
                                <b>출고일자</b>
                            </th>
                            <td>
                                <div class="tui-datepicker-input tui-datetime-input tui-has-focus"
                                     style="height: 40px; border-radius: 5px;">
                                    <input type="text" id="oustDt" name="oustDt" aria-label="Date-Time" class="form-control">
                                    <span class="tui-ico-date"></span>
                                </div>
                                <div id="wrapper" style="margin-top: -1px;"></div>
                            </td>
                            <th>
                                <b>출고유형</b>
                            </th>
                            <td>
                                <div id="sortBtn">
                                    <label><input type="radio" class="form-check-input" name="oustTyp" value="dept" checked> 일자</label>
                                    <label><input type="radio" class="form-check-input" name="oustTyp" value="partn"> 업체</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label for="note"><b>상세정보</b></label>
                            </th>
                            <td>
                                <input type="text" name='note' id="note" class="form-control" style="width: 168px;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
        <br>
        <div class="card">
            <div class="card-body">
                <div class="linelist" style="float: right;">
                    <button class="btn btn-primary" id="addRow"><i class="fas fa-plus"></i> 추가</button>
                    <button class="btn btn-primary" id="delRow"><i class="fas fa-minus"></i> 삭제</button>
                </div>
                <br><br>
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <!-- modification modal-->
    <div class="modal fade" id="modiModal" tabindex="-1" aria-labelledby="modiModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">출고자료 조회</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="oustDtRngFrm">
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="startpicker-input-mod" name="startDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="startpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                    <span></span>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="endpicker-input-mod" name="endDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="endpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                </form>
                <div class="modal-body">
                    <input id="schBtnInMdfyMod" type="button" value="검색"/>
                    <hr>
                    <div id="mdfy-grid"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for resource search -->
    <div class="modal fade" id="rscModal" tabindex="-1" aria-labelledby="rscModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">자재검색</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="rscSchForm">
                        <table>
                            <colgroup>
                                <col style="width: 400px;">
                                <col style="width: 10px">
                                <col style="width: 50px;">
                            </colgroup>
                            <tbody>
                            <tr>
                                <td>
                                    <input type="text" id="rscNmInMod" name="rscNm" class="form-control"
                                           placeholder="자재명">
                                </td>
                                <td></td>
                                <td rowspan="2">
                                    <button id="rscSch" class="btn btn-primary" type="button" style="height: 90px;"><i
                                            class="fas fa-search"></i></button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" id="rscCdInMod" name="rscCd" class="form-control"
                                           placeholder="자재코드">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                    <br>
                    <div id="rsc-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for lot search -->
    <div class="modal fade" id="lotModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">LOT선택</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="lot-grid"></div>
                    <div style="float: right"><p>선택 : 더블클릭</p></div>
                </div>
            </div>
        </div>
    </div>


    <script>
        ///////////////////////////// !init ////////////////////////////////
        window.addEventListener('load', function () {
            getRscListInit();
        })

        let saveFlag = 0 // 0 : 저장, 1 : 수정저장
        ///////////////////////////// date picker ////////////////////////////////
        let today = new Date();
        let rangepickerMdfy = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input-mod',
                container: '#startpicker-container-mod'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input-mod',
                container: '#endpicker-container-mod'
            }
        });

        let datepicker = new tui.DatePicker('#wrapper', {
            date: today,
            input: {
                element: '#oustDt',
                format: 'yyyy-MM-dd'
            }
        });

        ///////////////////////////// main grid section ////////////////////////////////
        let rModal;
        let rscModalState = 0;

        class rscInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                el.addEventListener('dblclick', function () {
                    rModal = new bootstrap.Modal(document.getElementById('rscModal'), {})
                    rModal.show('rscModal');
                    rscModal.dataset.rowKey = rowKey;
                    rscModalState = 1;
                })
                this.el = el;
                this.el.value = '';
            }

            getElement() {
                return this.el;
            }

            getValue() {
                if (rscModalState === 0) {
                    getRscSingle(this.el.value, this.rowKey)
                }
                return this.el.value;
            }

            mounted() {
                this.el.select();
            }
        }

        let lModal;
        let lotModalState = 0;

        class lotInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                el.addEventListener('dblclick', function () {
                    lModal = new bootstrap.Modal(document.getElementById('lotModal'), {})
                    lModal.show('lotModal');
                    lotModal.dataset.rowKey = rowKey;
                    lotModalState = 1;
                })
                this.el = el;
                this.el.value = '';
            }

            getElement() {
                return this.el;
            }

            getValue() {
                return this.el.value;
            }

            mounted() {
                this.el.select();
            }
        }

        class oustCntInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
                this.el.value = '';
            }

            getElement() {
                return this.el;
            }

            getValue() {
                let cnt = grid.getValue(this.rowKey, 'lotRmnCnt')
                if (saveFlag === 0) {
                    if (this.el.value > cnt) {
                        toastr.warning('출고수량은 LOT잔여수량을 초과할 수 없습니다.');
                    } else {
                        return this.el.value;
                    }
                } else {
                    return this.el.value;
                }
            }

            mounted() {
                this.el.select();
            }
        }

        let gridOption = {
            row: {
                hover: {background: 'coral'}
            }
        }
        tui.Grid.applyTheme('default', gridOption);

        // main grid section
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            bodyHeight: 400,
            scrollX: false,
            scrollY: true,
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd',
                    editor: rscInput
                },
                {
                    header: '자재명',
                    name: 'rscNm'
                },
                {
                    header: '규격',
                    name: 'rscSpec'
                },
                {
                    header: '단위',
                    name: 'mngUnit'
                },
                {
                    header: '자재유형',
                    name: 'rscTyp'
                },
                {
                    header: 'LOT번호',
                    name: 'rscLotCd',
                    editor: lotInput
                },
                {
                    header: 'LOT재고',
                    name: 'lotRmnCnt'
                },
                {
                    header: '출고량',
                    name: 'oustCnt',
                    editor: oustCntInput
                }
            ]
            , editingEvent: 'click'
        });

        grid.on('editingStart', (ev) => {
            if (saveFlag === 1) {
                if (grid.getValue(ev.rowKey, 'rscCd') != null
                    || grid.getValue(ev.rowKey, 'rscCd') !== '') {
                    if (ev.columnName === 'rscCd' || ev.columnName === 'rscLotCd') {
                        ev.stop();
                    }
                }
            }
        })

        ////////////////////////////// add & delelte row ////////////////////////////
        addRow.addEventListener('click', function () {
            if (saveFlag === 1) {
                toastr.warning('수정모드에서는 추가 할 수 없습니다.')
            } else {
                grid.appendRow()
            }
        })

        delRow.addEventListener('click', function () {
            let rowKeys = grid.getCheckedRowKeys()
            grid.removeRows(rowKeys)
        })

        ///////////////////////////// resource ////////////////////////////////
        // modal grid
        let rscGrid = new tui.Grid({
            el: document.getElementById('rsc-grid'),
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd'
                },
                {
                    header: '자재명',
                    name: 'rscNm'
                },
                {
                    header: '자재단위',
                    name: 'mngUnit'
                }
            ]
        })

        // when modal popped up
        let rscModal = document.getElementById('rscModal');
        rscModal.addEventListener('shown.bs.modal', e => {
            rscGrid.refreshLayout();
        })

        // when modal away
        rscModal.addEventListener('hidden.bs.modal', e => {
            rscModalState = 0;
        })

        // when push rsc sch btn
        let rscSch = document.getElementById('rscSch');
        rscSch.addEventListener('click', function () {
            let data = new FormData(rscSchForm);
            let url = 'getResources'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                rscGrid.innerHTML = '';
                rscGrid.resetData(res);
            })
        });

        // when choose item
        rscGrid.on('dblclick', e => {
            grid.finishEditing();
            let info = rscGrid.getRow(e.rowKey);
            getRscSingle(info.rscCd, rscModal.dataset.rowKey);
            rModal.hide(rscModal);
        })

        function getRscListInit() {
            let url = 'getResources'
            fetch(url).then(res => res.json())
                .then(res => rscGrid.resetData(res))
        }

        function getRscSingle(val, rowKey) {
            let url = 'getRscSingle'
            let data = {rscCd: val}
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.setRow(rowKey, res)
            }).catch(err => {
                toastr.error('해당하는 자재가 없습니다.');
            })
        }

        ///////////////////////////// lot ///////////////////////////////////
        // modal grid
        let lotGrid = new tui.Grid({
            el: document.getElementById('lot-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: 'LOT코드',
                    name: 'rscLotCd'
                },
                {
                    header: 'LOT 잔여량',
                    name: 'lotRmnCnt'
                },
                {
                    header: '유통기한',
                    name: 'expDt'
                }
            ]
        })

        // when modal popped up
        let lotModal = document.getElementById('lotModal');
        lotModal.addEventListener('shown.bs.modal', e => {
            let rowKey = lotModal.dataset.rowKey;
            let rowInfo = grid.getRow(rowKey)
            getLotByRscCd(rowInfo);
            lotGrid.refreshLayout();
        })

        // when modal away
        lotModal.addEventListener('hidden.bs.modal', e => {
            lotModalState = 0;
        })

        // when choose item
        lotGrid.on('dblclick', e => {
            let rowInfo = lotGrid.getRow(e.rowKey);
            let colVal = grid.getColumnValues('rscLotCd')
            let rowKey = lotModal.dataset.rowKey; // main grid rowkey
            let bool = colVal.includes(rowInfo.rscLotCd)
            if (bool) {
                toastr.warning('같은 LOT재고가 이미 존재합니다.');
            } else {
                grid.setValue(rowKey, 'rscLotCd', rowInfo.rscLotCd)
                grid.setValue(rowKey, 'lotRmnCnt', rowInfo.lotRmnCnt)
                lModal.hide(lotModal);
            }
        })

        function getLotByRscCd(val) {
            let url = 'getLotByRscCd';
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(val)
            }).then(res => res.json()).then(res => {
                lotGrid.resetData(res);
            })
        }

        ///////////////////////////// save //////////////////////////////////
        let saveBtn = document.getElementById('saveBtn')
        saveBtn.addEventListener('click', function () {
            let gridData = grid.getCheckedRows();
            if (saveFlag === 0) {
                let obj = {};
                let formData = new FormData(setOustFrm);
                formData.forEach(function (value, key) {
                    obj[key] = value;
                })
                gridData.unshift(obj)
                setRscOust(gridData);
            } else {
                updRscOustHist(gridData)
            }

        })

        function setRscOust(val) {
            let url = 'setRscOust'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(val)
            })
        }

        ///////////////////////////// modify ////////////////////////////////
        let mdfyGrid = new tui.Grid({
            el: document.getElementById('mdfy-grid'),
            bodyHeight: 300,
            scrollX: false,
            scrollY: true,
            columns: [
                {
                    header: '출고번호',
                    name: 'rscOustCd'
                },
                {
                    header: '건수',
                    name: 'oustCnt'
                },
                {
                    header: '출고일자',
                    name: 'oustDt'
                }
            ]
        })

        let mModal;
        modiBtn.addEventListener('click', function () {
            mModal = new bootstrap.Modal(document.getElementById('modiModal'), {})
            mModal.show('modiModal');
        })

        let modiModal = document.getElementById('modiModal');
        modiModal.addEventListener('shown.bs.modal', e => {
            mdfyGrid.refreshLayout();
        })

        let schBtnInMdfyMod = document.getElementById('schBtnInMdfyMod')
        schBtnInMdfyMod.addEventListener('click', function () {
            let data = new FormData(oustDtRngFrm);
            let url = 'schRscOustHist'
            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                mdfyGrid.resetData(res);
            })
        });

        mdfyGrid.on('dblclick', e => {
            let rowInfo = mdfyGrid.getRow(e.rowKey)
            let url = 'getRscOustHist'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(rowInfo)
            }).then(res => res.json()).then(res => {
                grid.resetData(res);
            })
            saveFlag = 1;
            mModal.hide(modiModal);
        })

        function updRscOustHist(val) {
            let url = 'updRscOustHist'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(val)
            })
        }

        ///////////////////////////// action on grid ////////////////////////////////
        let gridEle = document.getElementById('grid')
        gridEle.addEventListener('mouseleave', function () {
            grid.finishEditing();
        })

        let rscGridEl = document.getElementById('rsc-grid')
        rscGridEl.addEventListener('mouseleave', function () {
            rscGrid.finishEditing();
        })

        let lotGridEl = document.getElementById('lot-grid')
        lotGridEl.addEventListener('mouseleave', function () {
            lotGrid.finishEditing();
        })

        let mdfyGridEl = document.getElementById('mdfy-grid')
        mdfyGridEl.addEventListener('mouseleave', function () {
            mdfyGrid.finishEditing();
        })

    </script>
</th:block>
</body>
</html>