<!DOCTYPE html>
<!-- 자재 발주내역 조회 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<style>
		uploadResult {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.image {
			display: block;
			width: 100%;
		}

		.image-label {
			position: relative;
			bottom: 22px;
			left: 5px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}

		.tui-grid-cell.addClass {
			background-color: rgba(255, 0, 0, 0.3);
		}
	</style>
</head>

<body>


	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">자재발주</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="/"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 자재관리</li>
				<li class="breadcrumb-item active">> 자재발주조회</li>
			</ol>

			<div class="card mb-4">
				<div class="card-body">

					<tr>
						<th>업체명</th>
						<td><input class="form-control" type="text" id="vendNm" name="vendNm" style="width: 150px"></td>&nbsp&nbsp
						<th>발주신청일</th>
						<td><input class="form-control" type="date" id="frDt" name="frDt" style="width: 150px"> ~</td>
						<td><input class="form-control" type="date" id="toDt" name="toDt" style="width: 150px"></td>
						<button style="margin-bottom:3px" class="btn btn-primary" id="rscSearchBtn"><i class="fas fa-search"></i></button>
														
						&nbsp&nbsp
					</tr>


					<br><br>
					<div id="grid"></div>
				</div>
			</div>



</button>
			
<!-- Modal -->
<div  class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">자재발주내역조회</h5>
				        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
      <label style="margin-top:5px">발주코드</label>
					<input class="form-control" type="text" id="ordrCd" name="ordrCd" style="width:180px; margin-bottom:10px" readonly/>
        	<div class="linelist" style="float: right;">
					
					<button type="button" class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 수정</button>
					<button id="pdfBtn" name="pdfBtn" type="button" class="btn btn-primary"><i class="fas fa-download"></i> PDF</button>
								</div>
					<div id="grid2"></div>
				</div>
			</div>
      </div>
    </div>
  </div>



			<script>

			
			$('#pdfBtn').on('click',function(){
				var ordrCd = $('#ordrCd').val();
				var url ='reports?ordrCd='+ordrCd
				window.open(url,'','width=700')
				})

				// 상단 그리드 출력 
				const gridData = [];

				const grid = new tui.Grid({
					el: document.getElementById('grid'),
					scrollX: false,
					bodyHeight: 600,
					rowHeight: 35,
					rowHeaders: ['rowNum'],
					header: {
						height: 40
					},
					columns: [{
						header: '발주코드',
						align: 'center',
						name: 'ordrCd'
					}, {
						header: '업체코드',
						align: 'center',
						name: 'vendCd'
					}, {
						header: '업체명',
						align: 'left',
						name: 'vendNm'
					}, {
						header: '발주신청일',
						align: 'center',
						name: 'ordrReqDt'
					}]
				});


				$.ajax({
					url: "ordrSearchList",
					method: 'GET',
					dataType: 'JSON',
					success: function (result) {
						grid.resetData(result);
					}

					
					
				})

				// 상단 그리드 검색

				$('#rscSearchBtn').on('click', function () {
					let vendNm = $('#vendNm').val()
					let frDt = $('#frDt').val()
					let toDt = $('#toDt').val()
					$.ajax({
						url: "ordrSearchOneList",
						method: 'POST',
						data: {
							vendNm: vendNm,
							frDt: frDt,
							toDt: toDt
						},
						success: function (result) {
							grid.resetData(result);
						}
					})
				})

				
				
				
$('#grid').mouseleave(ev => {
     grid.finishEditing();
 })
 
 $('#grid2').mouseleave(ev => {
     grid2.finishEditing();
 })



				grid.on('click', ev => {
					var ordrCd = grid.getValue(ev.rowKey, 'ordrCd')
					var vendCd = grid.getValue(ev.rowKey, 'vendCd')
					var vendNm = grid.getValue(ev.rowKey, 'vendNm')
					$.ajax({
						url: "ordrDtlList",
						method: 'Post',
						dataType: 'JSON',
						data: {
							ordrCd: ordrCd,
							vendCd: vendCd,
							vendNm: vendNm
						},
						success: function (result) {
							grid2.resetData(result)
							for (var all of result) {
								var rscStc = all.rscStc
								if (rscStc == null || rscStc == 0 || rscStc == '') {
									rscStc = 0;
								}
								var allStc = Number(all.ordrCnt) + Number(all.rscStc)
								grid2.setValue(all.rowKey, 'allStc', allStc)
								grid2.setValue(all.rowKey, 'rscStc', rscStc)
								$('#ordrCd').val(ordrCd)
							}
							$('#exampleModal').modal('show');
							setTimeout(function() {
								grid2.refreshLayout()	
							},300);
							
							
						}
					})
				})

				const grid2 = new tui.Grid({
					el: document.getElementById('grid2'),
					bodyHeight: 200,
					rowHeight: 35,
					rowHeaders: ['checkbox'],
					header: {
						height: 40
					},
					columns: [{
						header: '자재코드',
						align: 'center',
						name: 'rscCd'
					}, {
						header: '자재명',
						align: 'left',
						name: 'rscNm'
					}, {
						header: '업체코드',
						align: 'center',
						name: 'vendCd'
					}, {
						header: '업체명',
						align: 'left',
						name: 'vendNm'
					}, {
						header: '발주코드',
						align: 'center',
						name: 'ordrCd'
					}, {
						header: '발주수량',
						align: 'right',
						name: 'ordrCnt',
						editor: 'text'
					}, {
						header: '현재재고',
						align: 'right',
						name: 'rscStc'
					}, {
						header: '안전재고',
						align: 'right',
						name: 'safStc'
					}, {
						header: '예상재고량',
						align: 'right',
						name: 'allStc'
					}, {
						header: '납기요청일',
						align: 'center',
						name: 'paprdCmndDt',
						editor: {
							type: 'datePicker',
							options: {
								datetimeFormat: "yyyy-MM-dd"
							}
						}
					}],
				});

				grid2.on('editingFinish', function (ev) {
					var ordrCnt = grid2.getValue(ev.rowKey, 'ordrCnt')
					var rscStc = grid2.getValue(ev.rowKey, 'rscStc')
					var safStc = grid2.getValue(ev.rowKey, 'safStc')
					var isValid = true;

					ordrCnt = Number(ordrCnt);
					rscStc = Number(rscStc);

					var allStc = ordrCnt + rscStc

					grid2.setValue(ev.rowKey, 'allStc', allStc)
					grid2.check(ev);
					if (Number(allStc) < Number(safStc)) {
						grid2.addRowClassName(ev.rowKey, 'addClass')
					}
					if (Number(allStc) >= Number(safStc)) {
						grid2.removeRowClassName(ev.rowKey, 'addClass')
					}

				})

				// 수정 버튼

				$('#saveBtn').click(ev => {
					var data = grid2.getCheckedRows();
					var isValid = true;

					if (data.length == null || data.length == 0) {
						toastr.warning('체크된 발주 내역이 없습니다.');
						isValid = false;
						return false;
					}

					for (i = 0; i < data.length; i++) {
						if (Number(data[i].allStc) < Number(data[i].safStc)) {
							toastr.warning('안전재고 이상으로 발주를 진행해주세요.');
							isValid = false;
							return false;
						}
					}



					for (i = 0; i < data.length; i++) {
						if (data[i].ordrCnt == null || data[i].ordrCnt == '0' || data[i].ordrCnt == '' || data[0].paprdCmndDt ==
							null || data[0].paprdCmndDt == '' || data[0].paprdCmndDt == '0') {
							toastr.warning('발주신청 내역 내 공란이 존재합니다.');
							isValid = false;
							return false;

						} else {
							console.log(data)
							$.ajax({
								url: 'ordrDtlUpdate',
								method: 'POST',
								data: JSON.stringify(data),
								contentType: 'application/json'
							}).done(function (result) {
								grid2.uncheckAll()
							})
						}
					}
					toastr.success('발주내역 수정이 완료되었습니다.');
				})
				
				
				
			</script>

	</th:block>
</body>

</html>