<!DOCTYPE html>
<!-- 자재 발주내역 조회 -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<style>
		body {
			background: #eee
		}

		uploadResult {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.image {
			display: block;
			width: 100%;
		}

		.image-label {
			position: relative;
			bottom: 22px;
			left: 5px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}
	</style>
</head>

<body>


	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">자재발주</h1>
			<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="home.do">홈</a></li>
				<li class="breadcrumb-item">> 자재관리</li>
				<li class="breadcrumb-item active">> 자재발주조회</li>
			</ol>

			<div class="card mb-4">
				<div class="card-body">

					<tr>
						<th>업체명</th>
						<td><input class="form-control" type="text" id="vendNm" name="vendNm" style="width: 150px"></td>&nbsp&nbsp
						<th>발주신청일</th>
						<td><input class="form-control" type="date" id="frDt" name="frDt" style="width: 150px"> ~</td>
						<td><input class="form-control" type="date" id="toDt" name="toDt" style="width: 150px"></td>
						<button style="margin-bottom:3px" class="btn btn-primary" id="rscSearchBtn"><i
								class="fas fa-search"></i></button>
						&nbsp&nbsp
					</tr>


					<br><br>
					<div id="grid"></div>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body">

					<br><br>
					<div id="grid2"></div>
				</div>
			</div>



			<script>
				// 상단 그리드 출력 
				const gridData = [];

				const grid = new tui.Grid({
					el: document.getElementById('grid'),
					scrollX: false,
					bodyHeight: 150,
					rowHeight: 35,
					rowHeaders: ['rowNum'],
					header: {
						height: 40
					},
					columns: [{
						header: '발주코드',
						align: 'center',
						name: 'ordrCd'
					}, {
						header: '업체코드',
						align: 'center',
						name: 'vendCd'
					}, {
						header: '업체명',
						align: 'center',
						name: 'vendNm'
					}, {
						header: '발주신청일',
						align: 'center',
						name: 'paprdCmndDt'
					}]
				});


				$.ajax({
					url: "ordrSearchList",
					method: 'GET',
					dataType: 'JSON',
					success: function (result) {
						grid.resetData(result);
					}
				})

				// 상단 그리드 검색

				$('#rscSearchBtn').on('click', function () {
					let vendNm = $('#vendNm').val()
					let frDt = $('#frDt').val()
					let toDt = $('#toDt').val()
					$.ajax({
						url: "ordrSearchOneList",
						method: 'POST',
						data: {
							vendNm: vendNm,
							frDt : frDt,
							toDt : toDt
						},
						success: function (result) {
							grid.resetData(result);
						}
					})
				})




				/* 		grid.on('dblclick', ev => {
							var rscCd = grid.getValue(ev.rowKey, 'rscCd')
							var rscNm = grid.getValue(ev.rowKey, 'rscNm')
							var rscStc = grid.getValue(ev.rowKey, 'rscStc')
							var safStc = grid.getValue(ev.rowKey, 'safStc')
							var vendCd = grid.getValue(ev.rowKey, 'vendCd')
							var vendNm = grid.getValue(ev.rowKey, 'vendNm')
							
							var rscCd2 = grid2.getColumnValues('rscCd');
							var vendCd2 = grid2.getColumnValues('vendCd');
							console.log(rscCd2)
							console.log(rscCd)
							
							var isValid = true;
							for (i=0; i<rscCd2.length; i++){
								if (rscCd2[i]==rscCd ) {
									toastr.warning('동일 항목의 발주가 진행중입니다.');
									isValid = false;
									return false;
								}	else if (vendCd2[i]!=vendCd){
									toastr.warning('동일 업체의 발주만 가능합니다.');
									isValid = false;
									return false;
								}
								
							}
									
							grid2.appendRow({
								"rscCd": rscCd,
								"rscNm": rscNm,
								"rscStc": rscStc,
								"safStc": safStc,
								"vendCd": vendCd,
								"vendNm": vendNm
							})
							$.ajax({
								url: "rscRowSelectList",
								method: 'POST',
								data: {
									rscCd: rscCd
								},
								success: function (result) {}
							})

							let date = format;
							$.ajax({
								url: 'rscOrdrCd',
								method: 'POST',
								dataType: 'json',
								contentType: 'application/text',
								data: {
									ordrSCnt: format
								},
								success: function (result) {
									if (result.ordrSCnt == null) {
										index = "001";
									} else {
										index = result.ordrScnt
									}

									function makeCd() {
									console.log('--'+String((Number(index)+1)).padStart(3,'0'))
										return 'ORD' + format + String((Number(index)+1)).padStart(3,'0')
									}
									code = makeCd()
									for (let i = 0; i < grid2.getRowCount(); i++) {
										grid2.setValue(i, 'ordrCd', code)
									}
								}
							})
						})




						const grid2 = new tui.Grid({
							el: document.getElementById('grid2'),
							bodyHeight: 200,
							rowHeight: 35,
							rowHeaders: ['checkbox'],
							header: {
								height: 40
							},
							columns: [{
								header: '자재코드',
								align: 'center',
								name: 'rscCd'
							}, {
								header: '자재명',
								align: 'center',
								name: 'rscNm'
							}, {
								header: '업체코드',
								align: 'center',
								name: 'vendCd'
							}, {
								header: '업체명',
								align: 'center',
								name: 'vendNm'
							}, {
								header: '발주코드',
								align: 'center',
								name: 'ordrCd'
							}, {
								header: '발주수량',
								align: 'center',
								name: 'ordrCnt',
								editor: 'text'
							}, {
								header: '현재재고',
								align: 'center',
								name: 'rscStc'
							}, {
								header: '안전재고',
								align: 'center',
								name: 'safStc'
							}, {
								header: '예상재고량',
								align: 'center',
								name: 'allStc'
							}, {
								header: '납기요청일',
								align: 'center',
								name: 'paprdCmndDt',
							    editor: {
							        type: 'datePicker',
							        options: {
							        datetimeFormat: "yyyy-MM-dd"
							        }
							      }
							}],
						});
						
						grid2.on('editingFinish',function (ev){
							var ordrCnt = grid2.getValue(ev.rowKey, 'ordrCnt')
							var rscStc = grid2.getValue(ev.rowKey, 'rscStc')
							ordrCnt = Number(ordrCnt);
							rscStc = Number(rscStc);
							var allStc = ordrCnt+rscStc
							grid2.setValue(ev.rowKey, 'allStc', allStc)
							
						})
						

						 */
			</script>

	</th:block>
</body>

</html>