<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
	<meta charset="UTF-8">
	<style>

		uploadResult {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.image {
			display: block;
			width: 100%;
		}

		.image-label {
			position: relative;
			bottom: 22px;
			left: 5px;
			color: white;
			text-shadow: 2px 2px 2px black;
		}

		.c_btn {
			color: #fff;
			font-size: 13px;
			background: #333;
			border: none;
			padding: 6px;
			border-radius: 4px
		}

		.c_btn:hover {
			background: #555;
		}

		.linelist {
			display: inline-block;
			margin-top: 0px;
		}

		#grid {
			width: 100%
		}

		label {
			width: 100px;
			float: left;
		}
		
		.tui-grid-cell.addClass{
			background-color:rgba(255,0,0,0.3);
		}
	</style>
</head>

<body>


	<!-- 본문내용 -->
	<th:block layout:fragment="main">
		<div class="container-fluid px-4">
			<h1 class="mt-4">자재발주</h1>
			<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="/"><i
						class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 자재관리</li>
				<li class="breadcrumb-item active">> 자재발주관리</li>
			</ol>

			<div class="card mb-4">
				<div class="card-body">

					<tr>
						<th>원자재명</th>
						<td><input class="form-control" type="text" id="rscNm" name="rscNm" style="width: 150px"></td>
						<th>업체명</th>
						<td><input class="form-control" type="text" id="vendNm" name="vendNm" style="width: 150px"></td>
						<button style="margin-bottom:3px" class="btn btn-primary" id="rscSearchBtn"><i
								class="fas fa-search"></i></button>
						&nbsp&nbsp


					<br><br>
					<div id="grid">자재목록</div>
				</div>
			</div>

			<div class="card mb-4">
				<div class="card-body">

					<div class="linelist" style="float: right;">
						<button class="btn btn-primary" id="minusBtn"><i class="fas fa-minus"></i> 삭제</button>
						<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 발주</button>
						<br> <br>
					</div>

					<br><br>
					
					<div id="grid2">자재발주<br></div>
				</div>
			</div>



			<script>
				// 년월일 구하기
				let today = new Date();
				let year = today.getFullYear(); // 년도
				let month = today.getMonth() + 1; // 월
				let date = today.getDate(); // 날짜
				let format = year + (("00" + month.toString()).slice(-2)) + (("00" + date.toString()).slice(-2));
				console.log(format)




				// 상단 그리드 출력 
				const gridData = [];

				const grid = new tui.Grid({
					el: document.getElementById('grid'),
					scrollX: false,
					bodyHeight: 150,
					rowHeight: 35,
					rowHeaders: ['rowNum'],
					header: {
						height: 40
					},
					columns: [{
						header: '자재코드',
						align: 'center',
						name: 'rscCd'
					}, {
						header: '자재명',
						align: 'left',
						name: 'rscNm'
					}, {
						header: '업체코드',
						align: 'center',
						name: 'vendCd'
					}, {
						header: '업체명',
						align: 'left',
						name: 'vendNm'
					}, {
						header: '현재재고',
						align: 'right',
						name: 'rscStc'
					}, {
						header: '안전재고',
						align: 'right',
						name: 'safStc'
					}]
				});


				var isValid = true;
				$.ajax({
					url: "rscCOrdrList",
					method: 'GET',
					dataType: 'JSON',
					success: function (result) {
					for (res in result){
					var rscStc = result[res].rscStc
								console.log(result[res].rscStc)
					grid.resetData(result);
						if(rscStc == null || rscStc == ''|| rscStc == 0){
								result[res].rscStc=0
							var rscStc = grid.getValue(res, 'rscStc')
							var safStc = grid.getValue(res, 'safStc')
						if(Number(rscStc)<Number(safStc)){
							grid.addRowClassName(res, 'addClass')
								}
							}
						}

					}
				})
				
				 //그리드 영역 벗어나면 수정 종료
 $('#grid').mouseleave(ev => {
     grid.finishEditing();
 })
 
 $('#grid2').mouseleave(ev => {
     grid2.finishEditing();
 })

				grid.on('dblclick', ev => {
					var rscCd = grid.getValue(ev.rowKey, 'rscCd')
					var rscNm = grid.getValue(ev.rowKey, 'rscNm')
					var rscStc = grid.getValue(ev.rowKey, 'rscStc')
					if (rscStc==0 || rscStc==null || rscStc == ''){
					rscStc =0;} 
					var safStc = grid.getValue(ev.rowKey, 'safStc')
					var vendCd = grid.getValue(ev.rowKey, 'vendCd')
					var vendNm = grid.getValue(ev.rowKey, 'vendNm')

					var rscCd2 = grid2.getColumnValues('rscCd');
					var vendCd2 = grid2.getColumnValues('vendCd');
					
					
					var isValid = true;
					for (i = 0; i < rscCd2.length; i++) {
						if (rscCd2[i] == rscCd) {
							toastr.warning('동일 항목의 발주가 진행중입니다.');
							isValid = false;
							return false;
						} else if (vendCd2[i] != vendCd) {
							toastr.warning('동일 업체의 발주만 가능합니다.');
							isValid = false;
							return false;
						}

					}

					grid2.appendRow({
						"rscCd": rscCd,
						"rscNm": rscNm,
						"rscStc": rscStc,
						"safStc": safStc,
						"vendCd": vendCd,
						"vendNm": vendNm
					})
					$.ajax({
						url: "rscRowSelectList",
						method: 'POST',
						data: {
							rscCd: rscCd
						},
						success: function (result) {}
					})

					let ordrSCnt = format;
					$.ajax({
						url: 'rscOrdrCd',
						method: 'POST',
						data: {
							ordrSCnt: ordrSCnt
						},
						success: function (result) {
							index = result[0].ordrSCnt;

							function makeCd() {
								var reCd = 'ORD' + ordrSCnt + String(Number(index) + 1).padStart(3, '0');
								console.log(reCd)
								return reCd
							}
							code = makeCd()
							for (let i = 0; i < grid2.getRowCount(); i++) {
								grid2.setValue(i, 'ordrCd', code)
							}
						}
					})
				})



				// 상단 그리드 검색

				$('#rscSearchBtn').on('click', function () {
					let rscNm = $('#rscNm').val()
					let vendNm = $('#vendNm').val()
					$.ajax({
						url: "rscSOrdrList",
						method: 'POST',
						data: {
							rscNm: rscNm,
							vendNm: vendNm
						},
						success: function (result) {
							grid.resetData(result);
						}
					})
				})


				const grid2 = new tui.Grid({
					el: document.getElementById('grid2'),
					bodyHeight: 200,
					rowHeight: 35,
					rowHeaders: ['checkbox'],
					header: {
						height: 40
					},
					columns: [{
						header: '자재코드',
						align: 'center',
						name: 'rscCd'
					}, {
						header: '자재명',
						align: 'left',
						name: 'rscNm'
					}, {
						header: '업체코드',
						align: 'center',
						name: 'vendCd'
					}, {
						header: '업체명',
						align: 'left',
						name: 'vendNm'
					}, {
						header: '발주코드',
						align: 'center',
						name: 'ordrCd'
					}, {
						header: '발주수량',
						align: 'right',
						name: 'ordrCnt',
						editor: 'text'
					}, {
						header: '현재재고',
						align: 'right',
						name: 'rscStc'
					}, {
						header: '안전재고',
						align: 'right',
						name: 'safStc'
					}, {
						header: '예상재고량',
						align: 'right',
						name: 'allStc'
					}, {
						header: '납기요청일',
						align: 'center',
						name: 'paprdCmndDt',
						editor: {
							type: 'datePicker',
							options: {
								datetimeFormat: "yyyy-MM-dd"
							}
						}
					}],
				});

			// 수정 완료 시 값 반영
				grid2.on('editingFinish', function (ev) {
					var ordrCnt = grid2.getValue(ev.rowKey, 'ordrCnt')
					var rscStc = grid2.getValue(ev.rowKey, 'rscStc')
					var safStc = grid2.getValue(ev.rowKey, 'safStc')
					var isValid = true;

					ordrCnt = Number(ordrCnt);
					rscStc = Number(rscStc);

					var allStc = ordrCnt + rscStc
					
					grid2.setValue(ev.rowKey, 'allStc', allStc)
					grid2.check(ev);
					if(Number(allStc)<Number(safStc)){
						grid2.addRowClassName(ev.rowKey, 'addClass')
					}
					if(Number(allStc)>=Number(safStc)){
						grid2.removeRowClassName(ev.rowKey, 'addClass')
					}
					
					
				})


				// 삭제 버튼

				$('#minusBtn').on('click', function (ev) {
					var data = grid2.getCheckedRows();
					var isValid = true;
					if(data.length == null || data.length == 0){
						toastr.warning('체크된 발주 목록이 없습니다.');
						isValid = false;
						return false;
					}
					 
					grid2.removeCheckedRows()
					toastr.success('정상적으로 삭제되었습니다.');
				})

				// 발주 버튼

				$('#saveBtn').click(ev => {
					var data = grid2.getCheckedRows();
					var isValid = true;
					
					if(data.length == null || data.length == 0){
						toastr.warning('체크된 발주 내역이 없습니다.');
						isValid = false;
						return false;
					}
					
					for (i = 0; i < data.length; i++) {
						if (Number(data[i].allStc)<Number(data[i].safStc)) {
							toastr.warning('안전재고 이상으로 발주를 진행해주세요.');
							isValid = false;
							return false;

						}} 
					

					for (i = 0; i < data.length; i++) {
						if (data[i].ordrCnt == null || data[i].ordrCnt == '0' || data[i].ordrCnt == '' || data[0].paprdCmndDt == null || data[0].paprdCmndDt == '') {
							toastr.warning('발주신청 내역 내 공란이 존재합니다.');
							isValid = false;
							return false;

						} else {
							console.log(data)
							$.ajax({
								url: 'rscOrdrInsert',
								method: 'POST',
								data: JSON.stringify(data),
								contentType: 'application/json'
							}).done(function (result) {
								toastr.success('발주 신청이 완료되었습니다.');
								grid2.removeCheckedRows()
								grid2.uncheckAll()
							})
						}
					}
				})
			</script>

	</th:block>
</body>

</html>