<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>원자재출고관리</title>
</head>

<body>
<th:block layout:fragment="main">
    <div class="container-fluid px-4">
        <h3>원자재출고관리</h3>
        <hr>
        <div class="card">
            <div class="card-body">
                <input type="button" value="저장" id="saveBtn">
                <input type="button" value="조회/수정" id="modiBtn">
                <input type="button" value="다시작성">
                <hr>

                <form id="setOustFrm">
                    <b>출고일자</b>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input type="text" class="form-control" name="oustDt" id="oustDt" aria-label="Date-Time">
                        <span class="tui-ico-date"></span>
                    </div>
                    <div id="wrapper" style="margin-top: -1px;"></div>
                    <hr>

                    <div id="sortBtn">
                        <b>출고유형</b>
                        <label>부서<input type="radio" name="oustTyp" id="dept" value="dept" checked></label>
                        <label>협력사<input type="radio" name="oustTyp" id="partn" value="partn"></label>
                    </div>
                    <hr>

                    <label for="note"><b>비고</b></label>
                    <input type="text" name='note' id="note">
                </form>
            </div>
        </div>
        <br>
        <input type="button" value="추가" id="addRow">
        <input type="button" value="삭제" id="delRow">
        <div class="card">
            <div class="card-body">
                <div id="grid"></div>
            </div>
        </div>
    </div>

    <!-- modification modal-->
    <div class="modal fade" id="modiModal" tabindex="-1" aria-labelledby="modiModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">출고자료 조회</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="oustDtRngFrm">
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="startpicker-input-mod" name="startDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="startpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                    <span></span>
                    <div class="tui-datepicker-input tui-datetime-input tui-has-focus">
                        <input id="endpicker-input-mod" name="endDt" type="text" aria-label="Date" required>
                        <span class="tui-ico-date"></span>
                        <div id="endpicker-container-mod" style="margin-left: -1px;"></div>
                    </div>
                </form>
                <div class="modal-body">
                    <input id="schBtnInMdfyMod" type="button" value="검색"/>
                    <hr>
                    <div id="modi-grid"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for resource search -->
    <div class="modal fade" id="rscModal" tabindex="-1" aria-labelledby="rscModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">자재검색</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="rscSchForm">
                        <label>자재명<input type="text" name="rscNm" style="width:100px;"></label>
                        <label>자재코드<input type="text" name="rscCd" style="width:100px;"></label>
                        <input id="rscSch" type="button" value="검색">
                    </form>
                    <hr>
                    <div id="rsc-grid"></div>
                    <p>선택 : 더블클릭</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for lot search -->
    <div class="modal fade" id="lotModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <b class="modal-title">LOT선택</b>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <div id="lot-grid"></div>
                    <p>선택 : 더블클릭</p>
                </div>
            </div>
        </div>
    </div>


    <script>
        ///////////////////////////// !init ////////////////////////////////
        window.addEventListener('load', function () {
            getRscListInit();
        })

        let saveFlag = 0 // 0 : 저장, 1 : 수정저장
        ///////////////////////////// date picker ////////////////////////////////
        let today = new Date();
        let rangepickerMdfy = tui.DatePicker.createRangePicker({
            startpicker: {
                date: today,
                input: '#startpicker-input-mod',
                container: '#startpicker-container-mod'
            },
            endpicker: {
                date: today,
                input: '#endpicker-input-mod',
                container: '#endpicker-container-mod'
            }
        });

        let datepicker = new tui.DatePicker('#wrapper', {
            date: today,
            input: {
                element: '#oustDt',
                format: 'yyyy-MM-dd'
            }
        });

        ///////////////////////////// main grid section ////////////////////////////////
        let rModal;
        let rscModalState = 0;

        class rscInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                el.addEventListener('dblclick', function () {
                    rModal = new bootstrap.Modal(document.getElementById('rscModal'), {})
                    rModal.show('rscModal');
                    rscModal.dataset.rowKey = rowKey;
                    rscModalState = 1;
                })
                this.el = el;
            }

            getElement() {
                return this.el;
            }

            getValue() {
                if (rscModalState === 0) {
                    getRscSingle(this.el.value, this.rowKey)
                }
                return this.el.value;
            }

            mounted() {
                this.el.select();
            }
        };

        let lModal;
        let lotModalState = 0;

        class lotInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                el.addEventListener('dblclick', function () {
                    lModal = new bootstrap.Modal(document.getElementById('lotModal'), {})
                    lModal.show('lotModal');
                    lotModal.dataset.rowKey = rowKey;
                    lotModalState = 1;
                })
                this.el = el;
            }

            getElement() {
                return this.el;
            }

            getValue() {
                return this.el.value;
            }

            mounted() {
                this.el.select();
            }
        };

        class oustCntInput {
            constructor(props) {
                const el = document.createElement('input');
                let {rowKey} = props;
                this.rowKey = rowKey
                el.type = 'text';
                el.value = String(props.value);
                this.el = el;
            }

            getElement() {
                return this.el;
            }

            getValue() {
                let cnt = grid.getValue(this.rowKey, 'lotRmnCnt')
                if (this.el.value > cnt) {
                    toastr.warning('출고수량은 LOT잔여수량을 초과할 수 없습니다.');
                } else {
                    return this.el.value;
                }

            }

            mounted() {
                this.el.select();
            }
        };

        let gridOption = {
            row: {
                hover: {background: 'coral'}
            }
        }
        tui.Grid.applyTheme('default', gridOption);

        // main grid section
        const grid = new tui.Grid({
            el: document.getElementById('grid'),
            scrollX: false,
            scrollY: false,
            rowHeaders: ['checkbox'],
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd',
                    editor: rscInput
                },
                {
                    header: '자재명',
                    name: 'rscNm'
                },
                {
                    header: '규격',
                    name: 'rscSpec'
                },
                {
                    header: '단위',
                    name: 'mngUnit'
                },
                {
                    header: '자재유형',
                    name: 'rscTyp'
                },
                {
                    header: 'LOT번호',
                    name: 'rscLotCd',
                    editor: lotInput
                },
                {
                    header: 'LOT재고',
                    name: 'lotRmnCnt'
                },
                {
                    header: '출고량',
                    name: 'oustCnt',
                    editor: oustCntInput
                }
            ]
            , editingEvent: 'click'
        });

        grid.on('editingStart', (ev) => {
            grid.check(ev.rowKey);
            if (grid.getValue(ev.rowKey, 'ordrCd') != null
                && grid.getValue(ev.rowKey, 'ordrCd') != '') {
                if (ev.columnName == 'rscCd') {
                    ev.stop();
                }
            }
        })

        ////////////////////////////// add & delelte row ////////////////////////////
        addRow.addEventListener('click', function () {
            grid.appendRow()
        })

        delRow.addEventListener('click', function () {
            let rowKeys = grid.getCheckedRowKeys()
            grid.removeRows(rowKeys)
        })

        ///////////////////////////// resource ////////////////////////////////
        // modal grid
        let rscGrid = new tui.Grid({
            el: document.getElementById('rsc-grid'),
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '자재코드',
                    name: 'rscCd'
                },
                {
                    header: '자재명',
                    name: 'rscNm'
                },
                {
                    header: '자재단위',
                    name: 'mngUnit'
                }
            ]
        })

        // when modal popped up
        let rscModal = document.getElementById('rscModal');
        rscModal.addEventListener('shown.bs.modal', e => {
            rscGrid.refreshLayout();
        })

        // when modal away
        rscModal.addEventListener('hidden.bs.modal', e => {
            rscModalState = 0;
        })

        // when push rsc sch btn
        let rscSch = document.getElementById('rscSch');
        rscSch.addEventListener('click', function () {
            let data = new FormData(rscSchForm);
            let url = 'getResources'

            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                rscGrid.innerHTML = '';
                rscGrid.resetData(res);
            })
        });

        // when choose item
        rscGrid.on('dblclick', e => {
            grid.finishEditing();
            let info = rscGrid.getRow(e.rowKey);
            getRscSingle(info.rscCd, rscModal.dataset.rowKey);
            rModal.hide(rscModal);
        })

        function getRscListInit() {
            let url = 'getResources'
            fetch(url).then(res => res.json())
                .then(res => rscGrid.resetData(res))
        }

        function getRscSingle(val, rowKey) {
            let url = 'getRscSingle'
            let data = {rscCd: val}
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.setRow(rowKey, res)
            }).catch(err => {
                toastr.error('해당하는 자재가 없습니다.');
            })
        }

        ///////////////////////////// lot ///////////////////////////////////
        // modal grid
        let lotGrid = new tui.Grid({
            el: document.getElementById('lot-grid'),
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: 'LOT코드',
                    name: 'rscLotCd'
                },
                {
                    header: 'LOT 잔여량',
                    name: 'lotRmnCnt'
                },
                {
                    header: '유통기한',
                    name: 'expDt'
                }
            ]
        })

        // when modal popped up
        let lotModal = document.getElementById('lotModal');
        lotModal.addEventListener('shown.bs.modal', e => {
            let rowKey = lotModal.dataset.rowKey;
            let rowInfo = grid.getRow(rowKey)
            getLotByRscCd(rowInfo);
            lotGrid.refreshLayout();
        })

        // when modal away
        lotModal.addEventListener('hidden.bs.modal', e => {
            lotModalState = 0;
        })

        // when choose item
        lotGrid.on('dblclick', e => {
            let rowInfo = lotGrid.getRow(e.rowKey);
            let rowKey = lotModal.dataset.rowKey; // main grid rowkey
            grid.setValue(rowKey, 'rscLotCd', rowInfo.rscLotCd)
            grid.setValue(rowKey, 'lotRmnCnt', rowInfo.lotRmnCnt)
            lModal.hide(lotModal);
        })

        function getLotByRscCd(val) {
            let url = 'getLotByRscCd';
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(val)
            }).then(res => res.json()).then(res => {
                lotGrid.resetData(res);
            })
        }

        ///////////////////////////// save //////////////////////////////////
        let saveBtn = document.getElementById('saveBtn')
        saveBtn.addEventListener('click', function () {
            let gridData = grid.getCheckedRows();

            let obj = {};
            let formData = new FormData(setOustFrm);
            formData.forEach(function (value, key) {
                obj[key] = value;
            })
            gridData.unshift(obj)
            console.log(gridData)
            setRscOust(gridData);
        })

        function setRscOust(val) {
            let url = 'setRscOust'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(val)
            })
        }

        ///////////////////////////// modify ////////////////////////////////
        let mdfyGrid = new tui.Grid({
            el: document.getElementById('modi-grid'),
            scrollX: false,
            scrollY: false,
            columns: [
                {
                    header: '출고번호',
                    name: 'rscOustCd'
                },
                {
                    header: '건수',
                    name: 'oustCnt'
                },
                {
                    header: '출고일자',
                    name: 'oustDt'
                }
            ]
        })

        let mModal;
        modiBtn.addEventListener('click', function () {
            mModal = new bootstrap.Modal(document.getElementById('modiModal'), {})
            mModal.show('modiModal');
        })

        let modiModal = document.getElementById('modiModal');
        modiModal.addEventListener('shown.bs.modal', e => {
            mdfyGrid.refreshLayout();
        })

        let schBtnInMdfyMod = document.getElementById('schBtnInMdfyMod')
        schBtnInMdfyMod.addEventListener('click', function () {
            let data = new FormData(oustDtRngFrm);
            let url = 'schRscOustHist'
            fetch(url, {
                method: 'POST',
                body: data
            }).then(res => res.json()).then(res => {
                mdfyGrid.resetData(res);
            })
        });

        mdfyGrid.on('dblclick', e => {
            let rowInfo = mdfyGrid.getRow(e.rowKey)
            let data = {rscInspCd: rowInfo.rscInspCd, startDt: startDt.value, endDt: endDt.value}
            rscInspCdTemp = rowInfo.rscInspCd
            let url = 'getRscInspHistByCd'
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(data)
            }).then(res => res.json()).then(res => {
                grid.hideColumn('rmnCnt')
                grid.resetData(res);
            })
            saveFlag = 1;
            mModal.hide(modiModal);
        })

        ///////////////////////////// action on grid ////////////////////////////////
        let gridEle = document.getElementById('grid')
        gridEle.addEventListener('mouseleave', function () {
            grid.finishEditing();
            console.log('commit')
        })
    </script>
</th:block>
</body>
</html>