<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rezzo.mes.eqm.eqm.mapper.EqmMapper">

	<select id="eqmList"
		resultType="com.rezzo.mes.eqm.eqm.service.EqmVO">
		select * from eqm
	</select>
	
	<select id="eqmSelect" resultType="com.rezzo.mes.eqm.eqm.service.EqmVO">
	select * from eqm where eqmNm like %${keyword}%
	</select>


</mapper>
