<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.rezzo.mes.sales.ist.mapper.SalesIstMapper">

	<!-- 제품 입고 등록,수정 -->
	<update id="saveIst" parameterType="SalesIstVO" statementType="CALLABLE">
	<![CDATA[{call proc_edctsIst_save(#{edctsIstNo},#{edctsLotNo},#{edctsCd},#{edctsIstCnt},#{edctsIstDt})]]>
	</update>
	
	<!-- 입고 목록 날짜 기준 조회(첫페이지)  -->
	<select id="salesIstList" resultType="SalesIstVO">
	SELECT * FROM EDCTS_IST
	 WHERE EDCTS_IST_DT BETWEEN #{edctsIstDtStart} AND #{edctsIstDtEnd}
	</select>
	
	<!-- 입고 목록 조건별 조회 -->
	<select id="istOptionList" resultType="SalesIstVO">
		SELECT * FROM edcts_ist
		WHERE 1=1
		<if test="edctsLotNo != null and edctsLotNo != ''">and EDCTS_LOT_NO = #{edctsLotNo}</if>
		<if test="edctsIstDt != null and edctsIstDt != ''">and EDCTS_IST_DT BETWEEN #{edctsIstDtStart} AND #{edctsIstDtEnd}</if>
		ORDER BY edcts_ist_no
	</select>

	
	<!-- 완제품LOT번호 모달 조회 -->
	<select id="getLotList" resultType="PrdtInspVO">
	SELECT P.ORDER_NO, P.EDCTS_LOT_NO, P.EDCTS_CD, O.PRDT_NM, P.INSP_CNT, P.INSP_JM, P.INSP_PSCH
	FROM PRDT_INSP P JOIN ORDER_SHEET O
	ON P.ORDER_NO = O.ORDER_NO
	WHERE INSP_JM = '적합'
	</select>
	
	<!-- 입고등록 후 입고완료로 진행상황 변경 -->
	<update id="modifyProg" parameterType="OrderVO">
		UPDATE ORDER_SHEET
		SET PROG_APPE = '입고완료'
		WHERE ORDER_NO = #{orderNo}
	</update>
</mapper>