<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.rezzo.mes.sales.oust.mapper.SalesOustMapper">
 
 	<!-- 생산완료 주문서 조회 -->
 	<select id="findOrder" resultType="OrderVO">
 		SELECT ORDER_NO, VEND_NM, EDCTS_CD, PRDT_NM, ORDER_CNT, PAPRD_DT
		FROM ORDER_SHEET
		WHERE PROG_APPE = '생산완료'
 	</select>
 	
 	<resultMap type="SalesStcVO" id="SalesStcVO">
 		<result column="EDCTS_LOT_NO" property="edctsLotNo"/>
 		<result column="PRDT_NM" property="prdtNm"/>
 		<result column="STC_CNT" property="stcCnt"/>
 		<result column="MAKE_DT" property="makeDt"/>
 		<result column="DISTB_TERM" property="distbTerm"/>
 	</resultMap>
 	
 	<resultMap type="OrderVO" id="OrderVO">
 		<result column="PRDT_NM" property="prdtNm"/>
 		<result column="PROG_APPE" property="progAppe"/>
 		<result column="ORDER_CNT" property="orderCnt"/>
 	</resultMap>
 	
 	<!-- 완제품 재고 현황 모달로 조회(주문서에 해당하는 제품의 재고만 조회하도록 함)-->
 	<select id="salesStcList" resultMap="SalesStcVO">
 		SELECT S.EDCTS_LOT_NO, S.PRDT_NM, S.STC_CNT, S.MAKE_DT, S.DISTB_TERM,O.ORDER_CNT
		FROM EDCTS_STC S JOIN ORDER_SHEET O
		ON(S.PRDT_NM = O.PRDT_NM AND O.PROG_APPE='검사완료')
 	</select>
 	
 	<!-- 완제품 재고 모달에서 출고량 입력하여 출고테이블에 저장 -->
 	<insert id="saveSalesOust" parameterType="SalesOustVO" statementType="CALLABLE">
 		<![CDATA[call proc_edctsOust_save(#{edctsOustNo},#{edctsOustDt},#{edctsOustCnt},#{edctsCd},#{edctsLotNo})]]>
 	</insert>
 	
 	<!-- 출고등록 후 출고완료로 변경 -->
 	<update id="updateProg" parameterType="OrderVO">
 		UPDATE ORDER_SHEET
		SET PROG_APPE = '출고완료'
		WHERE ORDER_NO = #{orderNo}
 	</update>
 	
 	<!-- 출고현황 조회 -->
 	<select id="findOust" resultType="SalesOustVO">
 		SELECT * FROM EDCTS_OUST
 	</select>
 	
 	<!-- 출고 조회 페이지 -->
 	<!-- 제품명 목록 조회 모달창 -->
 	<select id="getProd" resultType="SalesStcVO">
 		SELECT * FROM EDCTS_STC
 	</select>
 	
 	<select id="optionSearch" resultType="SalesOustVO">
 		SELECT E.EDCTS_OUST_NO, O.VEND_NM, E.EDCTS_LOT_NO, E.EDCTS_CD, O.PRDT_NM, O.ORDER_NO, E.EDCTS_OUST_DT, E.EDCTS_OUST_CNT
		FROM EDCTS_OUST E JOIN ORDER_SHEET O
		ON(E.EDCTS_CD = O.EDCTS_CD AND O.PROG_APPE = '출고완료' AND EDCTS_OUST_DT BETWEEN #{oustStart} AND #{oustEnd})
		<if test="prdtNm != null and prdtNm != ''">and PRDT_NM = #{prdtNm}</if>
		<if test="vendNm != null and vendNm != ''">and VEND_NM = #{vendNm}</if>
 	</select>
 	
 </mapper>