<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.rezzo.mes.sales.oust.mapper.SalesOustMapper">
 
 	<!-- 생산완료 주문서 조회 -->
 	<select id="findOrder" resultType="OrderVO">
 		SELECT ORDER_NO, VEND_NM, EDCTS_CD, PRDT_NM, ORDER_CNT, PAPRD_DT
		FROM ORDER_SHEET
		WHERE PROG_APPE = '입고완료'
 	</select>
 	
 	<resultMap type="SalesStcVO" id="SalesStcVO">
 		<result column="EDCTS_LOT_NO" property="edctsLotNo"/>
 		<result column="PRDT_NM" property="prdtNm"/>
 		<result column="STC_CNT" property="stcCnt"/>
 		<result column="MAKE_DT" property="makeDt"/>
 		<result column="DISTB_TERM" property="distbTerm"/>
 	</resultMap>
 	
 	<resultMap type="OrderVO" id="OrderVO">
 		<result column="PRDT_NM" property="prdtNm"/>
 		<result column="PROG_APPE" property="progAppe"/>
 		<result column="ORDER_CNT" property="orderCnt"/>
 		<result column="VEND_NM" property="vendNm"/>
 		<result column="ORDER_NO" property="orderNo"/>
 	</resultMap>
 	
 	<resultMap type="SalesOustVO" id="SalesOustVO">
 		<result column="EDCTS_OUST_NO" property="edctsOustNo"/>
 		<result column="EDCTS_LOT_NO" property="edctsLotNo"/>
 		<result column="EDCTS_CD" property="edctsCd"/>
 		<result column="EDCTS_OUST_DT" property="edctsOustDt"/>
 		<result column="EDCTS_OUST_CNT" property="edctsOustCnt"/>
 	</resultMap>
 	
 	<!-- 완제품 재고 현황 모달로 조회(주문서에 해당하는 제품의 재고만 조회하도록 함)-->
 	<select id="salesStcList" resultMap="SalesStcVO">
		SELECT E.EDCTS_CD, S.EDCTS_LOT_NO, E.PRDT_NM, S.LOT_CNT
		FROM EDCTS E JOIN EDCTS_STC S
		ON E.EDCTS_CD = S.EDCTS_CD
		WHERE E.EDCTS_CD = #{edctsCd} AND S.LOT_CNT != 0
		
 	</select>
 	
 	<!-- 완제품 재고 모달에서 출고량 입력하여 출고테이블에 저장 -->
 	<insert id="saveSalesOust" parameterType="SalesOustVO" statementType="CALLABLE">
 		<![CDATA[call proc_edctsOust_save(#{edctsOustNo}, #{edctsOustCnt}, #{edctsCd}, #{edctsLotNo})]]>
 	</insert>
 	
 	<!-- 출고등록 후 출고완료로 변경 -->
 	<update id="updateProg" parameterType="OrderVO">
 		UPDATE ORDER_SHEET
		SET PROG_APPE = '출고완료'
		WHERE ORDER_NO = #{orderNo}
 	</update>
 	
 	<!-- 출고현황 조회 -->
 	<select id="findOust" resultType="SalesOustVO">
 		SELECT * FROM edcts_oust
		WHERE edcts_oust_dt = sysdate
 	</select>
 	
 	<!-- 출고 조회 페이지 -->
 	<!-- 조건별 조회 -->
 	<select id="optionSearch" resultType="SalesOustVO">
 		SELECT E.EDCTS_OUST_NO, O.VEND_NM, E.EDCTS_LOT_NO, E.EDCTS_CD, O.PRDT_NM, O.ORDER_NO, E.EDCTS_OUST_DT, E.EDCTS_OUST_CNT
		FROM EDCTS_OUST E JOIN ORDER_SHEET O
		ON O.EDCTS_CD = E.EDCTS_CD
		WHERE o.prog_appe = '출고완료'
		<if test="prdtNm != null and prdtNm != ''">and O.PRDT_NM LIKE '%'||#{prdtNm}||'%'</if>
		<if test="vendNm != null and vendNm != ''">and O.VEND_NM LIKE '%'||#{vendNm}||'%'</if>
		<if test="oustStart != null"><![CDATA[and E.EDCTS_OUST_DT >= #{oustStart}]]></if> 
		<if test="oustEnd != null"><![CDATA[and E.EDCTS_OUST_DT <= #{oustEnd}]]></if> 
 	</select>

 </mapper>