<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TUI -->
    <link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css"/>
    <script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css"/>
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

    <style>
        .tui-datepicker {
            z-index: 100;
        }
        #modalTbody tr:hover {
            background-color: coral;
        }
        .btn insp-btn{
            color: ;
        }
    </style>

    <title>자재수입검사</title>
</head>

<body>
<h3>자재수입검사</h3>
<hr>

<input type="button" value="저장">
<input type="button" value="다시작성">
<input type="button" value="삭제">
<hr>

<label for="vendNm"><b>업체명</b></label>
<input id="vendNm" type="text" readonly>
<input id="vendCd" type="hidden">
<button id="modalBtn" type="button">검색</button>
<hr>

<b>납기예정일</b>
<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
    <input id="startpicker-input" type="text" aria-label="Date">
    <span class="tui-ico-date"></span>
    <div id="startpicker-container" style="margin-left: -1px;"></div>
</div>
<span></span>
<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
    <input id="endpicker-input" type="text" aria-label="Date">
    <span class="tui-ico-date"></span>
    <div id="endpicker-container" style="margin-left: -1px;"></div>
</div>
<input id="getOrdrList" type="button" value="가져오기"/>
<hr>

<b>검사일자</b>
<div class="tui-datepicker-input tui-datetime-input tui-has-focus">
    <input type="text" id="datepicker-input" aria-label="Date-Time">
    <span class="tui-ico-date"></span>
</div>
<div id="wrapper" style="margin-top: -1px;"></div>
<hr>

<!-- Modal for vend search -->
<div class="modal fade" id="vendModal" tabindex="-1" aria-labelledby="vendModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <b class="modal-title">업체검색</b>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="vendSchForm">
                    <label>업체명<input type="text" name="vendNm" style="width:100px;"></label>
                    <label>업체코드<input type="text" name="vendCd" style="width:100px;"></label>
                    <input id="vendSch" type="button" value="검색">
                </form>
                <hr>
                <div id="modalGrid"></div>
                <p>선택 : 더블클릭</p>
            </div>
        </div>
    </div>
</div>

<!-- grid section -->
<div id="grid"/>


</body>

<script>
    window.addEventListener('load', function () {
        getVendListInit();
    })

    // range date picker
    let rangepicker = tui.DatePicker.createRangePicker({
        startpicker: {
            input: '#startpicker-input',
            container: '#startpicker-container'
        },
        endpicker: {
            input: '#endpicker-input',
            container: '#endpicker-container'
        }
    });

    // set a inspection date
    let datepicker = new tui.DatePicker('#wrapper', {
        date: new Date(),
        input: {
            element: '#datepicker-input',
            format: 'yyyy-MM-dd'
        }
    });

    // grid section
    class CustomTextEditor {
        constructor(props) {
            let el = document.createElement('input');
            let {maxLength} = props.columnInfo.editor.options;
            el.type = 'text';
            el.maxLength = maxLength;
            el.value = String(props.value);
            this.el = el;
        }
        getElement() {
            return this.el;
        }
        getValue() {
            return this.el.value;
        }
        mounted() {
            this.el.select();
        }
    }

    class CustomBtnRenderer {
        constructor(props) {
            let { grid, rowKey,columnInfo, value } = props;
            let btn = document.createElement('button');
            let text = document.createTextNode( value );
            btn.appendChild(text);
            btn.innerHTML = '검사'
            btn.className = 'btn insp-btn';
            this.el = btn;
        }
        getElement() {
            return this.el;
        }
    };

    // grid theme
    let gridOption = {
        row: {
            hover: { background : 'coral'}
        }
    }
    tui.Grid.applyTheme('default', gridOption);

    // main grid section
    let grid = new tui.Grid({
        el: document.getElementById('grid'),
        scrollX: false,
        scrollY: false,
        rowHeaders: ['checkbox'],
        columns: [
            {
                header: '코드',
                name: 'rscCd'
            },
            {
                header: '품명',
                name: 'rscNm'
            },
            {
                header: '발주번호',
                name: 'ordrNo'
            },
            {
                header: '발주량',
                name: 'ordrCnt'
            },
            {
                header: '입고량',
                name: 'ordrInstCnt',
                validation: {
                    dataType: 'number',
                    required: true,
                    validatorFn: (value, row, ordrCnt) => Number(value) <= Number(row['ordrCnt'])
                },
                relations:[
                    {
                        targetNames: ['inspCnt'],
                        editable({ value }) {
                            return value !== null;
                        }
                    }
                ],
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사량',
                name: 'inspCnt',
                validation: {
                    dataType: 'number',
                    required: true,
                    validatorFn: (value, row, ordrCnt) => Number(value) <= Number(row['ordrCnt'])
                },
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사',
                name: 'insp',
                renderer: { type: CustomBtnRenderer}
            },
            {
                header: '합격량',
                name: 'inspPassCnt',
                validation: {
                    dataType: 'number',
                    required: true
                },
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '불량량',
                name: 'inspFailCnt',
                validation: {
                    dataType: 'number',
                    required: true
                },
                editor: {
                    type: CustomTextEditor,
                    options: {
                        maxLength: 10
                    }
                }
            },
            {
                header: '검사완료',
                name: 'inspDone',
                width: 60
            }
        ]
    });

    // modal grid section
    let modalGrid = new tui.Grid({
        el: document.getElementById('modalGrid'),
        scrollX: false,
        scrollY: false,
        columns: [
            {
                header: '업체코드',
                name: 'vendCd'
            },
            {
                header: '업체이름',
                name: 'vendNm'
            },
            {
                header: '사업자번호',
                name: 'bizno'
            },
            {
                header: '전화번호',
                name: 'telno'
            }
        ]
    })

    // modal action
    modalGrid.on('dblclick', e => {
        let rowInfo = modalGrid.getRow(e.rowKey)
        vendNm.value = rowInfo.vendNm;
        vendCd.value = rowInfo.vendCd;
        // vendModal.dataset.bsDismiss = "modal";
        myModal.hide(vendModal);
    })

    let myModal;
    modalBtn.addEventListener('click', function () {
        myModal = new bootstrap.Modal(document.getElementById('vendModal'),{})
        myModal.show('vendModal');
    })

    // get vendor list in modal
    function getVendListInit() {
        let url = 'getVendList'
        fetch(url).then(res => res.json())
            .then(res => modalGrid.resetData(res))
            // .then(res => getVendList(res))
    }

    let vendModal = document.getElementById('vendModal');
    vendModal.addEventListener('shown.bs.modal', e => {
        modalGrid.refreshLayout();
    })

    let vendSch = document.getElementById('vendSch');
    vendSch.addEventListener('click', function () {
        let data = new FormData(vendSchForm);
        let url = 'getVendListByKw'

        fetch(url, {
            method: 'POST',
            body: data
        }).then(res => res.json()).then(res => {
            modalGrid.innerHTML = '';
            modalGrid.resetData(res);
        })
    });

    // get order list
    let getOrdrList = document.getElementById('getOrdrList');
    getOrdrList.addEventListener('click', function () {
        let startDt = document.getElementById('startpicker-input');
        let endDt = document.getElementById('endpicker-input');
        let vendCd = document.getElementById('vendCd');

        if (startDt.value == '' || endDt.value == '') {
            alert('기간을 입력하세요')
        } else if (vendCd.value == '') {
            alert('공급업체를 입력하세요')
        } else {
            let obj = {startDt: startDt.value, endDt: endDt.value, vendCd: vendCd.value};
            let url = 'getOrdrList';
            fetch(url, {
                headers: {'Content-Type': 'application/json'},
                method: 'POST',
                body: JSON.stringify(obj)
            })
                .then(res => res.json())
                .then(res => {
                    grid.resetData(res);
                })
        }
    })
</script>
</html>




