<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebarFragment">
<div id="layoutSidenav_nav">
<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
	<div class="sb-sidenav-menu">
		<div class="nav">
			
			<div style="height:20px"></div>
			<!-- 기준정보관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseCommon" aria-expanded="false"
				aria-controls="collapseCommon">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 기준정보관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseCommon"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="ccds">공통코드관리</a>
					<a class="nav-link" href="vend">거래처관리</a>
					<a class="nav-link" href="rsc">자재관리</a>
					<a class="nav-link" href="edcts">제품공정흐름관리</a>
					<a class="nav-link" href="bom">BOM관리</a>
				</nav>
			</div>
			
			<!-- 영업관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseOrder" aria-expanded="false"
				aria-controls="collapseOrder">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 영업관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseOrder"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="orderList">주문서관리</a>
					<a class="nav-link" href="salesIst">제품입고등록</a>
					<a class="nav-link" href="salesIstSearch">제품입고조회</a>
					<a class="nav-link" href="salesOust">제품출고등록</a>
					<a class="nav-link" href="salesOustSearch">제품출고조회</a>
					<a class="nav-link" href="salesStc">완제품LOT번호별 재고조회</a>
				</nav>
			</div>
		
			<!-- 생산관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseProd" aria-expanded="false"
				aria-controls="collapseProd">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 생산관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseProd"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="plan">생산계획관리</a>
					<a class="nav-link" href="planSearch">생산계획조회</a>
					<a class="nav-link" href="indica">생산지시관리</a>
					<a class="nav-link" href="indicaSearch">생산지시조회</a>
					<a class="nav-link" href="prodMng">생산관리</a>
					<a class="nav-link" href="prcsSearch">공정실적조회</a>
					<a class="nav-link" href="prcs">공정관리</a>
				</nav>
			</div>
			
			<!-- 설비관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseEquip" aria-expanded="false"
				aria-controls="collapseEquip">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 설비관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseEquip"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="eqmLine">라인관리</a>
					<a class="nav-link" href="eqm">설비관리</a>
					<a class="nav-link" href="eqmChck">설비점검관리</a>
					<a class="nav-link" href="eqmOpr">설비비가동관리</a>
					<a class="nav-link" href="rltmeqm">실시간설비상태</a>
				</nav>
			</div>
			
			<!-- 자재관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseResour" aria-expanded="false"
				aria-controls="collapseResour">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 자재관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseResour"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="rscOrdr">자재발주관리</a>
					<a class="nav-link" href="rscOrdrSearch">자재발주목록</a>
					<a class="nav-link" href="rscInsp">자재입고검사관리</a>
					<a class="nav-link" href="rscInspList">자재입고검사조회</a>
					<a class="nav-link" href="rscIst">자재입고관리</a>
					<a class="nav-link" href="rscIstList">자재입고조회</a>
					<a class="nav-link" href="rscOust">자재출고관리</a>
					<a class="nav-link" href="rscOustList">자재출고조회</a>
					<a class="nav-link" href="rscIOList">자재입/출고조회</a>
					<a class="nav-link" href="rscLotList">자재LOT재고조회</a>
					<a class="nav-link" href="rscStcList">자재재고목록</a>
					<a class="nav-link" href="rscInfList">자재불량조회</a>
				</nav>
			</div>
			
			<!-- 품질관리 탭 -->
			<a class="nav-link collapsed" href="#" data-bs-toggle="collapse"
				data-bs-target="#collapseQual" aria-expanded="false"
				aria-controls="collapseQual">
				<div class="sb-nav-link-icon">
					<i class="fas fa-columns"></i>
				</div> 품질관리
				<div class="sb-sidenav-collapse-arrow">
					<i class="fas fa-angle-down"></i>
				</div>
			</a>
			<div class="collapse" id="collapseQual"
				aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
				<nav class="sb-sidenav-menu-nested nav">
					<a class="nav-link" href="prdtInsp">제품검사관리</a>
				</nav>
			</div>
			
			
			
		</div>
	</div>
	<div class="sb-sidenav-footer">
		<div class="small"></div>
	</div>
</nav>
</div>
</th:block>
</html>