<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>edcts.html</title>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main">
	<div class="container-fluid px-4">
		<h1 class="mt-4">제품공정흐름관리</h1>
		<ol class="breadcrumb mb-4">
			<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
			<li class="breadcrumb-item">> 기준정보관리</li>
			<li class="breadcrumb-item active">> 제품공정흐름관리</li>
		</ol>
		<div class="card mb-4">
			<div class="card-body">
				<label for="" autofocus="autofocus">제품명</label>
					<input type="text" class="form-control" id="keyword" name="keyword" style="width: 200px">
					<button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> 검색</button>
				<div class="linelist" style="float: right;">
					<button class="btn btn-primary" id="newBtn"><i class="fas fa-file"></i> 새자료</button>
					<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
					<button class="btn btn-primary" id="delBtn"><i class="fas fa-trash"></i> 삭제</button>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-6" style="width: 40%">
				<div class="card mb-4">
					<div class="card-body">
						<!-- 완제품 그리드 -->
						<div id="grid"></div>
					</div>
				</div>
			</div>
			<div class="col-lg-6" style="width: 1%"></div>
			<div class="col-lg-6" style="width: 59%">
				<div class="card mb-4">
					<div class="card-body">
					<!-- 탭메뉴 -->
						<nav>
							<div class="nav nav-tabs" id="nav-tab" role="tablist">
								<button class="nav-link active" id="nav-edcts-tab"
									data-bs-toggle="tab" data-bs-target="#nav-edcts" type="button"
									role="tab" aria-controls="nav-edcts" aria-selected="true">제품정보</button>
								<button class="nav-link" id="nav-flow-tab"
									data-bs-toggle="tab" data-bs-target="#nav-flow"
									type="button" role="tab" aria-controls="nav-flow"
									aria-selected="false">공정흐름</button>
							</div>
						</nav>
						<div class="tab-content" id="nav-tabContent">
						<!-- 제품정보탭 -->
						<div class="tab-pane fade show active" id="nav-edcts" role="tabpanel"
									aria-labelledby="nav-edcts-tab">
							<form id="dataForm" name="dataForm" action="#" method="post">
								<table class="table" style="vertical-align : middle;">
									<colgroup>
										<col style="width: 120px">
										<col>
										<col style="width: 120px">
										<col>
									</colgroup>
									<tbody>
										<tr>
											<th>완제품코드 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="edctsCd" name="edctsCd" style="width: 250px" maxlength="20"
												placeholder="등록시 자동부여됩니다." readonly /></td>
											<th>제품명 <strong class="blue">*</strong></th>
											<td><input class="form-control" type="text" id="prdtNm" name="prdtNm" style="width: 250px" maxlength="50" /></td>
										</tr>
										<tr>
											<th>규격</th>
											<td><input class="form-control" type="text" id="spec" name="spec" style="width: 250px" maxlength="50" /></td>
											<th>단위</th>
											<td><input class="form-control" type="text" id="unit" name="unit" style="width: 250px" maxlength="50" /></td>
										</tr>
										<tr>
											<th>안전재고</th>
											<td><input type="text" id="safStc" name="safStc" class="form-control" maxlength="50" style="width: 250px" /></td>
											<th>보관창고</th>
											<td>
												<select class="dataTable-selector" name="wrhousCd" id="wrhousCd" style="width: 250px">
													<option selected value="">==선택==</option>  
													<option th:each="code : ${ccds['WHS']}" th:value="${code.ccdDtl}" th:text="${code.ccdDtlNm}"></option>
												</select></td>
										</tr>
									</tbody>
								</table>
							</form>
						</div>
						<!-- 상세코드 탭 -->
						<div class="tab-pane fade" id="nav-flow"
							role="tabpanel" aria-labelledby="nav-flow-tab">
							<div id="grid2"></div>
						</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<script>
const grid = new tui.Grid({
    el: document.getElementById('grid'),
			scrollX: false,
 		bodyHeight: 450,
  	rowHeaders: ['rowNum'],
    columns: [{
        header: '완제품코드',
        name: 'edctsCd',
        align: 'center',
      	sortable: true,
        sortingType: 'desc'
      },
      {
        header: '제품명',
        name: 'prdtNm',
        align: 'center',
      	sortable: true,
        sortingType: 'desc'
      }
    ]
  });
  
  const grid2 = new tui.Grid({
    el: document.getElementById('grid2'),
			scrollX: false,
 		bodyHeight: 350,
  	rowHeaders: ['checkbox'],
    columns: [{
        header: '공정순서',
        name: 'edctsCd',
        align: 'center',
      	sortable: true,
        sortingType: 'desc'
      },
      {
        header: '공정명',
        name: 'prdtNm',
        align: 'center',
      	sortable: true,
        sortingType: 'desc'
      },
      {
        header: '작업설명',
        name: 'prdtNm',
        align: 'center',
      	sortable: true,
        sortingType: 'desc'
      }
    ]
  });
  
  //테마 호버
  let hoverOption = {
      row: {
          hover: {
              background: 'rgba(19,78,94,0.2)'
          }
      }
  }
  tui.Grid.applyTheme('default', hoverOption);
  
  
  //페이지 로딩시 실행
  getEdctsList();
  
 function getEdctsList() {
  	$.ajax({
  	    url: "getEdctsList",
  	    method: "POST",
  	    data: $('#dataForm').serialize(),
  	    dataType: "JSON",
  	    success: function (result) {
  	        grid.resetData(result);
  	    }
  		})
	}

//검색
$('#searchBtn').click(ev => {
	  getEdctsList();
	  toastr.success('정상적으로 조회되었습니다.');
 });
 
//폼 리셋
 $('#newBtn').click(ev => {
	   $('#dataForm')[0].reset();
 })
 
 let selectedRowKey = null;
 grid.on('focusChange', (ev) => {

	   //하이라이팅
   if (selectedRowKey != ev.rowKey) {
       grid.removeRowClassName(selectedRowKey, 'highlight');
   }
   selectedRowKey = ev.rowKey;
   grid.addRowClassName(selectedRowKey, 'highlight');
   
   //폼데이터 출력
   $('#edctsCd').val(grid.getValue(ev.rowKey, 'edctsCd'));
   $('#prdtNm').val(grid.getValue(ev.rowKey, 'prdtNm'));
   $('#spec').val(grid.getValue(ev.rowKey, 'spec'));
   $('#unit').val(grid.getValue(ev.rowKey, 'unit'));
   $('#safStc').val(grid.getValue(ev.rowKey, 'safStc'));
   $("select[name='wrhousCd']").eq(0).val(grid.getValue(ev.rowKey, 'wrhousCd'));
	});

//수정&입력
$('#saveBtn').click(ev => {
	  $.ajax({
		    url: "saveEdcts",
		    method: "POST",
      data: $('#dataForm').serialize(),
      dataType: 'json',
		    success: function (result) {
		    	toastr.success('정상적으로 저장되었습니다.');
		    	grid.resetData(result);
		    }
			})
 });

//삭제
$('#delBtn').click(ev => {
	  $.ajax({
		 	url: "delEdcts",
		  method: "POST",
      data: $('#dataForm').serialize(),
      dataType: 'json',
		    success: function (result) {
		    	toastr.success('정상적으로 삭제되었습니다.');
		    	grid.resetData(result);
		    }
			})
 });
</script>
</th:block>
</body>
</html>