<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
<meta charset="UTF-8">
<title>vend.html</title>
</head>
<body>
<!-- 본문내용 -->
<th:block layout:fragment="main"> 
	<div class="container-fluid px-4">
		<h1 class="mt-4">거래처관리</h1>
		<ol class="breadcrumb mb-4">
				<li class="breadcrumb-item"><a href="home.do"><i class="fas fa-home"></i></a></li>
				<li class="breadcrumb-item">> 기준정보관리</li>
				<li class="breadcrumb-item active">> 거래처관리</li>
			</ol>
		<div class="card mb-4">
			<div class="card-body">
				<label for="" autofocus="autofocus">
					<select class="dataTable-selector" style="width: 150px">
							<option selected value="">거래처명</option>  
							<option value="">사업자등록번호</option>
							<option th:each="code : ${ccds['EQM']}" th:value="${code.ccdDtl}" th:text="${code.ccdDtlNm}"</option>
					</select></td></label> 
						<input type="text" class="form-control" id="selCcd" name="sleCcd" style="width: 200px">
					<button class="btn btn-primary" id="searchBtn"><i class="fas fa-search"></i> 검색</button>
				<div class="linelist" style="float: right;">
						<button class="btn btn-primary" id="newBtn"><i class="fas fa-file"></i> 새자료</button>
						<button class="btn btn-primary" id="saveBtn"><i class="fas fa-save"></i> 저장</button>
						<button class="btn btn-primary" form="delBtn"><i class="fas fa-trash"></i> 삭제</button>
						<br> <br>
					</div>
						<form autocomplete="off" id="dataForm" name="dataForm" action="#"
							method="post">
							<table class="table" style="vertical-align : middle;">
								<colgroup>
									<col style="width: 150px">
									<col>
									<col style="width: 150px">
									<col>
									<col style="width: 150px">
									<col>
								</colgroup>
								<tbody>
									<tr>
										<th>구분 <strong class="blue">*</strong></th>
										<td>
											<select class="dataTable-selector" style="width: 250px">
												<option selected value="">==등록시필수선택==</option>  
												<option th:each="code : ${ccds['EQM']}" th:value="${code.ccdDtl}" th:text="${code.ccdDtlNm}"</option>
											</select></td>
										<th>거래처코드 <strong class="blue">*</strong></th>
										<td><input class="form-control" type="text" id="matrCd" name="matrCd" style="width: 250px" maxlength="20"
											placeholder="저장시 자동부여됩니다." readonly="true" />
										 <input type="hidden" id="dbAccessDiv" name="dbAccessDiv" value="insert" /></td>
										<th>거래처명 <strong class="blue">*</strong></th>
										<td><input class="form-control" type="text" id="matrNm" name="matrNm" style="width: 250px" maxlength="50" /></td>
									</tr>
									<tr>
										<th>사업자등록번호</th>
										<td><input class="form-control" type="text" id="stndrd" name="stndrd" style="width: 250px" maxlength="50" /></td>
										<th>전화번호</th>
										<td><input class="form-control" type="text" id="manageUnit" name="manageUnit" style="width: 250px" maxlength="50" /></td>
										<th>비고</th>
										<td><input type="text" id="wrhousngEntrps" name="wrhousngEntrps" class="form-control" maxlength="50" style="width: 250px" /></td>
									</tr>
								</tbody>
							</table>
						</form>
			</div>
		</div>
		<div class="card mb-4">
			<div class="card-body">
				<div id="grid"></div>
			</div>
		</div>
	</div>
<script>
    const grid = new tui.Grid({
      el: document.getElementById('grid'),
			scrollX: false,
   		bodyHeight: 350,
    	rowHeaders: ['checkbox'],
      columns: [{
          header: '거래처코드',
          name: '거래처코드',
        	sortable: true,
          sortingType: 'desc'
        },
        {
          header: '거래처명',
          name: '거래처명',
          editor: 'text',
        	sortable: true,
          sortingType: 'desc'
        },
        {
            header: '사업자등록번호',
            name: '사업자등록번호',
            editor: 'text',
          	sortable: true,
            sortingType: 'desc'
        },
        {
            header: '전화번호',
            name: '전화번호',
            editor: 'text',
          	sortable: true,
            sortingType: 'desc'
        },
        {
            header: '비고',
            name: '비고',
            editor: 'text',
          	sortable: true,
            sortingType: 'desc'
        },
        {
            header: '구분',
            name: '구분',
            editor: 'text',
          	sortable: true,
            sortingType: 'desc'
        }
      ]
    });
    
   $.ajax({
    url: "vendList",
    method: "GET",
    dataType: "JSON",
    success: function (result) {
        grid.resetData(result);
    }
}); 
   
  </script>
</th:block>
</body>
</html>